# import など準備

In [435]:
# import
import sys
import os
import re
import numpy as np
import pandas as pd
from robobrowser import RoboBrowser
# from robobrowser.browser import RoboState
from retry import retry
from dateutil.parser import parse
from datetime import datetime

※単位：売上高、営業益、経常益、最終益は「百万円」。１株益、１株配は「円」。率は「％」

※１株純資産は「円」。自己資本比率は「％」。総資産、自己資本、剰余金は「百万円」。有利子負債倍率は「倍」

・「連」：日本会計基準［連結決算］、「単」：日本会計基準［非連結決算(単独決算)］、「U」：米国会計基準、「I」：国際会計基準(IFRS)、
「予」：予想業績、「旧」：修正前の予想業績、「新」：修正後の予想業績、「実」：実績業績、「変」：決算期変更

・［連結／非連結］決算区分の変更があった場合は、連続的に業績推移を追えるように、連結と非連結を混在して表示しています。
連結と非連結が混在しない場合は、「連」「単」表記は省略します。

・前期比および前年同期比は、会計基準や決算期間が異なる場合は比較できないため、「－」で表記しています。

・米国会計基準と国際会計基準では、「経常益」欄の数値は「税引き前利益」を表記しています。

・業績予想がレンジで開示された場合は中央値を表記しています。

In [210]:
# 比較参照用
kabupro = pd.read_csv('/Users/Really/Stockyard/_csv/kessan_table.csv')

In [211]:
kabupro

,証券コード,企業名,会計基準,連結個別,決算期,決算期間,期首,期末,名寄前勘定科目（売上高欄に掲載）,売上高,...,純利益,一株当り純利益,希薄化後一株当り純利益,純資産又は株主資本,総資産,一株当り純資産,営業キャッシュフロー,投資キャッシュフロー,財務キャッシュフロー,情報公開又は更新日
0,1301,極洋,日本基準,連結,2015年3月期,第1四半期,2014-04-01,2014-06-30,売上高,4.867500e+10,...,2.230000e+08,2.13,1.96,NaN,NaN,NaN,NaN,NaN,NaN,2015-08-03
1,1301,極洋,日本基準,連結,2015年3月期,第2四半期,2014-04-01,2014-09-30,売上高,1.024760e+11,...,2.265000e+09,21.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-26
2,1301,極洋,日本基準,個別,2015年3月期,第2四半期,2014-04-01,2014-09-30,売上高,9.947600e+10,...,2.504000e+09,23.84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-26
3,1301,極洋,日本基準,連結,2015年3月期,第3四半期,2014-04-01,2014-12-31,売上高,1.701400e+11,...,2.806000e+09,26.72,24.63,NaN,NaN,NaN,NaN,NaN,NaN,2016-02-05
4,1301,極洋,日本基準,連結,2015年3月期,通期,2014-04-01,2015-03-31,売上高,2.183500e+11,...,2.433000e+09,23.17,21.36,2.306900e+10,8.893700e+10,215.65,-2.340000e+09,-7.620000e+08,3.698000e+09,2016-05-09
5,1301,極洋,日本基準,個別,2015年3月期,通期,2014-04-01,2015-03-31,売上高,2.120860e+11,...,2.139000e+09,20.37,18.78,1.769500e+10,7.351900e+10,168.48,NaN,NaN,NaN,2016-05-09
6,1301,極洋,日本基準,連結,2016年3月期,第1四半期,2015-04-01,2015-06-30,売上高,5.016800e+10,...,3.160000e+08,3.02,2.78,NaN,NaN,NaN,NaN,NaN,NaN,2016-08-05
7,1301,極洋,日本基準,連結,2016年3月期,第2四半期,2015-04-01,2015-09-30,売上高,1.084990e+11,...,9.110000e+08,86.74,79.97,NaN,NaN,NaN,NaN,NaN,NaN,2016-11-04
8,1301,極洋,日本基準,連結,2016年3月期,第3四半期,2015-04-01,2015-12-31,売上高,1.788900e+11,...,1.133000e+09,107.94,99.51,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-10
9,1301,極洋,日本基準,連結,2016年3月期,通期,2015-04-01,2016-03-31,売上高,2.266260e+11,...,1.799000e+09,171.33,157.94,2.306500e+10,9.460800e+10,2149.67,2.689000e+09,-5.114000e+09,2.482000e+09,2017-05-11
10,1301,極洋,日本基準,個別,2016年3月期,通期,2015-04-01,2016-03-31,売上高,2.163500e+11,...,1.259000e+09,119.87,110.51,1.781700e+10,7.814000e+10,1696.42,NaN,NaN,NaN,2017-05-11
11,1301,極洋,日本基準,連結,2017年3月期,第1四半期,2016-04-01,2016-06-30,売上高,5.220600e+10,...,5.510000e+08,52.47,48.37,NaN,NaN,NaN,NaN,NaN,NaN,2017-08-04
12,1301,極洋,日本基準,連結,2017年3月期,第2四半期,2016-04-01,2016-09-30,売上高,1.095700e+11,...,1.186000e+09,112.99,104.16,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-06
13,1301,極洋,日本基準,連結,2017年3月期,第3四半期,2016-04-01,2016-12-31,売上高,1.799750e+11,...,2.449000e+09,233.26,215.13,2.577900e+10,1.171680e+11,NaN,NaN,NaN,NaN,2017-02-10
14,1301,極洋,日本基準,連結,2017年3月期,通期,2016-04-01,2017-03-31,売上高,2.365610e+11,...,2.422000e+09,230.66,213.01,2.539100e+10,9.739100e+10,2378.09,6.010000e+08,-1.998000e+09,1.050000e+08,2017-05-11
15,1301,極洋,日本基準,個別,2017年3月期,通期,2016-04-01,2017-03-31,売上高,2.280830e+11,...,2.194000e+09,208.94,192.95,2.011700e+10,8.130600e+10,1915.42,NaN,NaN,NaN,2017-05-11
16,1301,極洋,日本基準,連結,2018年3月期,第1四半期,2017-04-01,2017-06-30,売上高,5.684400e+10,...,7.540000e+08,71.80,66.56,2.556000e+10,1.074220e+11,NaN,NaN,NaN,NaN,2017-08-04
17,1301,極洋,日本基準,連結,2018年3月期,第2四半期,2017-04-01,2017-09-30,売上高,1.204580e+11,...,1.633000e+09,155.50,144.15,2.669200e+10,1.198060e+11,NaN,NaN,NaN,NaN,2017-11-06
18,1332,日本水産,日本基準,連結,2015年3月期,第1四半期,2014-04-01,2014-06-30,売上高,1.516640e+11,...,2.495000e+09,9.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-08-05
19,1332,日本水産,日本基準,連結,2015年3月期,第2四半期,2014-04-01,2014-09-30,売上高,3.022680e+11,...,5.899000e+09,21.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-11-05
20,1332,日本水産,日本基準,連結,2015年3月期,第3四半期,2014-04-01,2014-12-31,売上高,4.721060e+11,...,1.055100e+10,38.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-02-05
21,1332,日本水産,日本基準,連結,2015年3月期,通期,2014-04-01,2015-03-31,売上高,6.384350e+11,...,1.055800e+10,38.22,NaN,1.091110e+11,4.618890e+11,326.38,2.283800e+10,-1.213500e+10,-7.860000e+09,2017-01-20
22,1332,日本水産,日本基準,個別,2015年3月期,通期,2014-04-01,2015-03-31,売上高,3.506830e+11,...,4.155000e+09,15.03,NaN,5.686700e+10,2.983910e+11,205.73,NaN,NaN,NaN,2017-01-20
23,1332,日本水産,日本基準,連結,2016年3月期,第1四半期,2015-04-01,2015-06-30,売上高,1.606510e+11,...,3.984000e+09,14.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-01-20
24,1332,日本水産,日本基準,連結,2016年3月期,第2四半期,2015-04-01,2015-09-30,売上高,3.215210e+11,...,6.797000e+09,24.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-01-20
25,1332,日本水産,日本基準,連結,2016年3月期,第3四半期,2015-04-01,2015-12-31,売上高,4.867190e+11,...,1.123600e+10,40.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-03
26,1332,日本水産,日本基準,連結,2016年3月期,通期,2015-04-01,2016-03-31,売上高,6.371640e+11,...,1.230700e+10,44.55,NaN,1.140300e+11,4.457070e+11,343.60,3.739500e+10,-1.705100e+10,-2.314100e+10,2017-05-15
27,1332,日本水産,日本基準,個別,2016年3月期,通期,2015-04-01,2016-03-31,売上高,3.576560e+11,...,7.119000e+09,25.76,NaN,6.106100e+10,2.932350e+11,220.91,NaN,NaN,NaN,2017-05-15
28,1332,日本水産,日本基準,連結,2017年3月期,第1四半期,2016-04-01,2016-06-30,売上高,1.563410e+11,...,1.654000e+09,5.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-08-04
29,1332,日本水産,日本基準,連結,2017年3月期,第2四半期,2016-04-01,2016-09-30,売上高,3.037600e+11,...,4.693000e+09,16.72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58939,9996,サトー商会,日本基準,連結,2015年3月期,通期,2014-04-01,2015-03-31,売上高,4.665900e+10,...,9.020000e+08,100.98,NaN,1.966800e+10,2.858100e+10,2199.71,1.299000e+09,-3.110000e+08,-2.100000e+08,2016-05-13
58940,9996,サトー商会,日本基準,個別,2015年3月期,通期,2014-04-01,2015-03-31,売上高,4.414100e+10,...,8.440000e+08,94.40,NaN,1.840800e+10,2.770500e+10,2058.81,NaN,NaN,NaN,2016-05-13
58941,9996,サトー商会,日本基準,連結,2016年3月期,第1四半期,2015-04-01,2015-06-30,売上高,1.173700e+10,...,1.910000e+08,21.46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-08-05
58942,9996,サトー商会,日本基準,連結,2016年3月期,第2四半期,2015-04-01,2015-09-30,売上高,2.377800e+10,...,4.500000e+08,50.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-11-04
58943,9996,サトー商会,日本基準,連結,2016年3月期,第3四半期,2015-04-01,2015-12-31,売上高,3.692200e+10,...,8.410000e+08,94.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-07
58944,9996,サトー商会,日本基準,個別,2016年3月期,通期,2015-04-01,2016-03-31,売上高,4.564500e+10,...,9.690000e+08,108.43,NaN,1.912700e+10,2.867300e+10,2139.27,NaN,NaN,NaN,2016-05-13
58945,9996,サトー商会,日本基準,連結,2016年3月期,通期,2015-04-01,2016-03-31,売上高,4.819500e+10,...,1.037000e+09,116.07,NaN,2.041500e+10,2.949500e+10,2283.33,1.225000e+09,-1.110000e+09,-2.330000e+08,2017-05-12
58946,9996,サトー商会,日本基準,連結,2017年3月期,第1四半期,2016-04-01,2016-06-30,売上高,1.191700e+10,...,2.250000e+08,25.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-08-08
58947,9996,サトー商会,日本基準,連結,2017年3月期,第2四半期,2016-04-01,2016-09-30,売上高,2.397800e+10,...,4.980000e+08,55.77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-07
58948,9996,サトー商会,日本基準,連結,2017年3月期,第3四半期,2016-04-01,2016-12-31,売上高,3.713500e+10,...,8.960000e+08,100.29,NaN,2.111300e+10,3.364300e+10,NaN,NaN,NaN,NaN,2017-02-07
58949,9996,サトー商会,日本基準,連結,2017年3月期,通期,2016-04-01,2017-03-31,売上高,4.850500e+10,...,9.640000e+08,107.93,NaN,2.116500e+10,3.029400e+10,2367.21,1.257000e+09,-2.435000e+09,-2.550000e+08,2017-05-12
58950,9996,サトー商会,日本基準,連結,2018年3月期,第1四半期,2017-04-01,2017-06-30,売上高,1.229600e+10,...,2.550000e+08,28.56,NaN,2.131100e+10,3.064100e+10,NaN,NaN,NaN,NaN,2017-08-08
58951,9996,サトー商会,日本基準,連結,2018年3月期,第2四半期,2017-04-01,2017-09-30,売上高,2.470500e+10,...,4.920000e+08,55.10,NaN,2.155100e+10,3.357600e+10,NaN,NaN,NaN,NaN,2017-11-07
58952,9997,ベルーナ,日本基準,連結,2015年3月期,第1四半期,2014-04-01,2014-06-30,売上高,3.306800e+10,...,8.740000e+08,8.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-07-31
58953,9997,ベルーナ,日本基準,連結,2015年3月期,第2四半期,2014-04-01,2014-09-30,売上高,5.631400e+10,...,2.051000e+09,21.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-30
58954,9997,ベルーナ,日本基準,連結,2015年3月期,第3四半期,2014-04-01,2014-12-31,売上高,9.268800e+10,...,5.397000e+09,55.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-29
58955,9997,ベルーナ,日本基準,連結,2015年3月期,通期,2014-04-01,2015-03-31,売上高,1.206890e+11,...,6.394000e+09,65.77,NaN,7.951000e+10,1.522240e+11,814.97,9.089000e+09,-2.019100e+10,1.257100e+10,2016-05-11
58956,9997,ベルーナ,日本基準,個別,2015年3月期,通期,2014-04-01,2015-03-31,売上高,8.891000e+10,...,4.630000e+09,47.62,NaN,6.187100e+10,1.377460e+11,636.29,NaN,NaN,NaN,2016-05-11
58957,9997,ベルーナ,日本基準,連結,2016年3月期,第1四半期,2015-04-01,2015-06-30,売上高,3.404400e+10,...,1.567000e+09,16.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-29
58958,9997,ベルーナ,日本基準,連結,2016年3月期,第2四半期,2015-04-01,2015-09-30,売上高,6.215800e+10,...,1.855000e+09,19.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-31
58959,9997,ベルーナ,日本基準,連結,2016年3月期,第3四半期,2015-04-01,2015-12-31,売上高,1.009280e+11,...,4.590000e+09,47.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-01-31
58960,9997,ベルーナ,日本基準,連結,2016年3月期,通期,2015-04-01,2016-03-31,売上高,1.317420e+11,...,3.544000e+09,36.45,NaN,8.064600e+10,1.610550e+11,824.56,9.176000e+09,-9.497000e+09,3.059000e+09,2017-05-11
58961,9997,ベルーナ,日本基準,個別,2016年3月期,通期,2015-04-01,2016-03-31,売上高,9.289900e+10,...,2.178000e+09,22.40,NaN,6.212200e+10,1.454570e+11,638.88,NaN,NaN,NaN,2017-05-11
58962,9997,ベルーナ,日本基準,連結,2017年3月期,第1四半期,2016-04-01,2016-06-30,売上高,3.719300e+10,...,-1.084000e+09,-11.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-31
58963,9997,ベルーナ,日本基準,連結,2017年3月期,第2四半期,2016-04-01,2016-09-30,売上高,6.667900e+10,...,-8.270000e+08,-8.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-10-31
58964,9997,ベルーナ,日本基準,連結,2017年3月期,第3四半期,2016-04-01,2016-12-31,売上高,1.096390e+11,...,6.321000e+09,65.01,NaN,8.604400e+10,1.794910e+11,NaN,NaN,NaN,NaN,2017-01-31
58965,9997,ベルーナ,日本基準,連結,2017年3月期,通期,2016-04-01,2017-03-31,売上高,1.460830e+11,...,5.802000e+09,59.68,NaN,8.777300e+10,1.790240e+11,872.86,8.214000e+09,-9.945000e+09,2.995000e+09,2017-05-11
58966,9997,ベルーナ,日本基準,個別,2017年3月期,通期,2016-04-01,2017-03-31,売上高,9.959900e+10,...,2.917000e+09,30.00,NaN,6.429200e+10,1.565290e+11,661.19,NaN,NaN,NaN,2017-05-11
58967,9997,ベルーナ,日本基準,連結,2018年3月期,第1四半期,2017-04-01,2017-06-30,売上高,4.115300e+10,...,3.105000e+09,31.94,NaN,8.933200e+10,1.826190e+11,NaN,NaN,NaN,NaN,2017-07-31
58968,9997,ベルーナ,日本基準,連結,2018年3月期,第2四半期,2017-04-01,2017-09-30,売上高,7.486300e+10,...,4.333000e+09,44.56,NaN,8.978500e+10,1.873070e+11,NaN,NaN,NaN,NaN,2017-10-31

In [34]:
# 比較参照用
kabupro.columns

Index(['証券コード', '企業名', '会計基準', '連結個別', '決算期', '決算期間', '期首', '期末',
       '名寄前勘定科目（売上高欄に掲載）', '売上高', '営業利益', '経常利益', '純利益', '一株当り純利益',
       '希薄化後一株当り純利益', '純資産又は株主資本', '総資産', '一株当り純資産', '営業キャッシュフロー',
       '投資キャッシュフロー', '財務キャッシュフロー', '情報公開又は更新日'],
      dtype='object')

In [48]:
kabupro.ix[14]
# 株プロにしか無い項目: 希薄化後一株当り純利益, 純資産又は株主資本, 営業キャッシュフロー, 投資キャッシュフロー, 財務キャッシュフロー

証券コード                      1301
企業名                          極洋
会計基準                       日本基準
連結個別                         連結
決算期                    2017年3月期
決算期間                         通期
期首                   2016-04-01
期末                   2017-03-31
名寄前勘定科目（売上高欄に掲載）            売上高
売上高                 2.36561e+11
営業利益                  3.723e+09
経常利益                  3.709e+09
純利益                   2.422e+09
一株当り純利益                  230.66
希薄化後一株当り純利益              213.01
純資産又は株主資本            2.5391e+10
総資産                  9.7391e+10
一株当り純資産                 2378.09
営業キャッシュフロー             6.01e+08
投資キャッシュフロー           -1.998e+09
財務キャッシュフロー             1.05e+08
情報公開又は更新日            2017-05-11
Name: 14, dtype: object

## 参考コード

In [ ]:
def get_price_yahoojp(code, start=None, end=None, interval='d'): # start = '2017-01-01'
    # http://sinhrks.hatenablog.com/entry/2015/02/04/002258
    # http://jbclub.xii.jp/?p=598
    base = 'http://info.finance.yahoo.co.jp/history/?code={0}.T&{1}&{2}&tm={3}&p={4}'
    
    start = pd.to_datetime(start) # Timestamp('2017-01-01 00:00:00')

    if end == None:
        end = pd.to_datetime(pd.datetime.now())
    else :
        end = pd.to_datetime(end)
    start = 'sy={0}&sm={1}&sd={2}'.format(start.year, start.month, start.day) # 'sy=2017&sm=1&sd=1'
    end = 'ey={0}&em={1}&ed={2}'.format(end.year, end.month, end.day)
    p = 1
    tmp_result = []

    if interval not in ['d', 'w', 'm', 'v']:
        raise ValueError("Invalid interval: valid values are 'd', 'w', 'm' and 'v'")

    while True:
        url = base.format(code, start, end, interval, p)
        # print(url)
        # https://info.finance.yahoo.co.jp/history/?code=7203.T&sy=2000&sm=1&sd=1&ey=2017&em=10&ed=13&tm=d&p=1
        tables = get_table(url)
        if len(tables) < 2 or len(tables[1]) == 0:
            # print('break')
            break
        tmp_result.append(tables[1]) # ページ内の3つのテーブルのうち2番目のテーブルを連結
        p += 1
        # print(p)
        
    result = pd.concat(tmp_result, ignore_index=True) # インデックスをゼロから振り直す

    result.columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'AdjClose'] # 列名を変更
    if interval == 'm':
        result['Date'] = pd.to_datetime(result['Date'], format='%Y年%m月')
    else:
        result['Date'] = pd.to_datetime(result['Date'], format='%Y年%m月%d日') # 日付の表記を変更
    result = result.set_index('Date') # インデックスを日付に変更
    result = result.sort_index()
    
    stock_name = tables[0].columns[0]
    # print([code, stock_name])
    
    return [result, stock_name]

In [ ]:
%%writefile amazon_order_history.py

# Amazon.co.jpの注文履歴を取得する

import sys
import os
from robobrowser import RoboBrowser

# 認証の情報は環境変数から取得する
AMAZON_EMAIL = os.environ['AMAZON_EMAIL']
AMAZON_PASSWORD = os.environ['AMAZON_PASSWORD']

# RoboBrowserオブジェクトを作成する
browser = RoboBrowser(
    parser='html.parser', # Beatiful Soupで使用するパーサーを指定
    # Cookieが使用できないと表示されてログインできない問題を回避するため
    # 通常のブラウザーのUser-Agent(ここではFirefoxのもの)を使う
    user_agent='Mozilla/5.0 (Macintosh; Intel Mac OS X 10.10; rv:45.0) Gecko/20100101 Firefox/45.0')


def main():
    # 注文履歴のページを開く
    print('Navigating...', file=sys.stderr)
    browser.open('https://www.amazon.co.jp/gp/css/order-history')
    
    # サインインページにリダイレクトされていることを確認する
    assert 'Amazonサインイン' in browser.parsed.title.string
    
    # name="signIn" というサインインフォームを埋める。
    # フォームのname属性の値はブラウザーの開発者ツールで確認できる。
    form = browser.get_form(attrs={'name': 'signIn'})
    form['email'] = AMAZON_EMAIL
    form['password'] = AMAZON_PASSWORD
    
    # フォームを送信する。正常にログインするにはRefererヘッダーとAccept-Languageヘッダーが必要。
    print('Signing in...', file=sys.stderr)
    browser.submit_form(form, headers={
        'Referer': browser.url,
        'Accept-Language': 'ja,en-US;q=0.7,en;q=0.3',
    })
    
    # ログインに失敗する場合は、次の行のコメントを外してHTMLのソースを確認すると良い。
    # print(browser.parsed.prettify())

    # ページャーをたどる。
    while True:
        assert '注文履歴' in browser.parsed.title.string # 注文履歴画面が表示されていることを確認する。
        
        print_order_history() # 注文履歴を表示する。
        
        link_to_next = browser.get_link('次へ') #「次へ」というテキストを持つリンクを取得する。
        if not link_to_next:
            break #「次へ」のリンクがない場合はループを抜けて終了する。
            
        print('Following link to next page...', file=sys.stderr)
        browser.follow_link(link_to_next) # 次へ」というリンクをたどる。
        
        
def print_order_history():
    """
    現在のページのすべての注文履歴を表示する
    """
    for line_item in browser.select('.order-info'):
        order = {} # 注文の情報を格納するためのdict
        # ページ内のすべての注文履歴について反復する。ブラウザーの開発者ツールでclass属性の値を確認できる
        # 注文の情報のすべての列について反復する
        for column in line_item.select('.a-column'):
            label_element = column.select_one('.label')
            value_element = column.select_one('.value')
            # ラベルと値がない列は無視する。
            if label_element and value_element:
                label = label_element.get_text().strip()
                value = value_element.get_text().strip()
                order[label] = value
        print(order['注文日'], order['合計']) # 注文の情報を表示する。
        

if __name__ == '__main__':
    main()

In [ ]:
!forego run python amazon_order_history.py

## get_table 関数 (retry 付き pd.read_html)

In [19]:
@retry(tries=5, delay=1, backoff=2)
def get_table(url):
    result = pd.read_html(url, header=0) # header引数で0行目をヘッダーに指定。データフレーム型
    
    return result

# データの取得 (スクリプト版未完成)

In [49]:
%%writefile kabutan_get_table.py

import sys
import os
from robobrowser import RoboBrowser
from robobrowser import RoboState
import numpy as np
import pandas as pd

# 認証の情報は環境変数から取得する
KT_EMAIL = os.environ['KT_EMAIL']
KT_PASSWORD = os.environ['KT_PASSWORD']

# RoboBrowserオブジェクトを作成する
browser = RoboBrowser(
    parser='html.parser', # Beatiful Soupで使用するパーサーを指定
    # Cookieが使用できないと表示されてログインできない問題を回避するため
    # 通常のブラウザーのUser-Agent(ここではFirefoxのもの)を使う
    user_agent='Mozilla/5.0 (Macintosh; Intel Mac OS X 10.10; rv:45.0) Gecko/20100101 Firefox/45.0')

# ログインページを開く
print('Navigating...', file=sys.stderr)
browser.open('https://account.kabutan.jp/login')

# 株探プレミアムページにいることを確認する
assert '株探プレミアム' in browser.parsed.title.string

# name="signIn" というサインインフォームを埋める。
# フォームのname属性の値はブラウザーの開発者ツールで確認できる。
form = browser.get_form(action='/login')
form['session[email]'] = KT_EMAIL
form['session[password]'] = KT_PASSWORD

# フォームを送信する。
# 正常にログインするにはRefererヘッダーとAccept-Languageヘッダーが必要な場合がある。
print('Signing in...', file=sys.stderr)
browser.submit_form(form)
'''
browser.submit_form(form, headers={
    'Referer': browser.url,
    'Accept-Language': 'ja,en-US;q=0.7,en;q=0.3',
})
'''

# 個別銘柄の決算ページを開く
print('Navigating...', file=sys.stderr)
browser.open('https://kabutan.jp/stock/finance?code=7203&mode=k')

# 決算ページにいることを確認する
assert '決算' in browser.parsed.title.string

# ログインに失敗する場合は、次の行のコメントを外してHTMLのソースを確認すると良い。
# print(browser.parsed.prettify())

# print(browser.find())
# print(browser.select('table'))
# print(browser.select('div.fin_fd:nth-child(7) > table:nth-child(1) > tbody:nth-child(1)'))

#kessan = browser.find()
kessan = browser.select('table')
print(kessan)

#result = pd.read_html(kessan, flavor='lxml') #, header=0
#print(result)

#print('success')

'''
def main():
    # 注文履歴のページを開く
    print('Navigating...', file=sys.stderr)
    browser.open('https://www.amazon.co.jp/gp/css/order-history')
    
    # サインインページにリダイレクトされていることを確認する
    assert 'Amazonサインイン' in browser.parsed.title.string
    
    # name="signIn" というサインインフォームを埋める。
    # フォームのname属性の値はブラウザーの開発者ツールで確認できる。
    form = browser.get_form(attrs={'name': 'signIn'})
    form['email'] = KT_EMAIL
    form['password'] = KT_PASSWORD
    
    # フォームを送信する。正常にログインするにはRefererヘッダーとAccept-Languageヘッダーが必要。
    print('Signing in...', file=sys.stderr)
    browser.submit_form(form, headers={
        'Referer': browser.url,
        'Accept-Language': 'ja,en-US;q=0.7,en;q=0.3',
    })
    
    # ログインに失敗する場合は、次の行のコメントを外してHTMLのソースを確認すると良い。
    # print(browser.parsed.prettify())

    # ページャーをたどる。
    while True:
        assert '注文履歴' in browser.parsed.title.string # 注文履歴画面が表示されていることを確認する。
        
        print_order_history() # 注文履歴を表示する。
        
        link_to_next = browser.get_link('次へ') #「次へ」というテキストを持つリンクを取得する。
        if not link_to_next:
            break #「次へ」のリンクがない場合はループを抜けて終了する。
            
        print('Following link to next page...', file=sys.stderr)
        browser.follow_link(link_to_next) # 次へ」というリンクをたどる。
        
        
def print_order_history():
    """
    現在のページのすべての注文履歴を表示する
    """
    for line_item in browser.select('.order-info'):
        order = {} # 注文の情報を格納するためのdict
        # ページ内のすべての注文履歴について反復する。ブラウザーの開発者ツールでclass属性の値を確認できる
        # 注文の情報のすべての列について反復する
        for column in line_item.select('.a-column'):
            label_element = column.select_one('.label')
            value_element = column.select_one('.value')
            # ラベルと値がない列は無視する。
            if label_element and value_element:
                label = label_element.get_text().strip()
                value = value_element.get_text().strip()
                order[label] = value
        print(order['注文日'], order['合計']) # 注文の情報を表示する。
        

if __name__ == '__main__':
    main()
'''

Overwriting kabutan_get_table.py

In [52]:
kessan = !forego run python kabutan_get_table.py
kessan

# ログイン。入力したメアドとパスワードが出力に表示されてしまうのでそのままでGitHubに上げちゃダメ！

In [349]:
# sign-in
# 認証の情報
KT_EMAIL = input('Name?')
KT_PASSWORD = input('Password?')

# RoboBrowserオブジェクトを作成する
browser = RoboBrowser(
    parser='html.parser', # Beatiful Soupで使用するパーサーを指定
    # Cookieが使用できないと表示されてログインできない問題を回避するため
    # 通常のブラウザーのUser-Agent(ここではFirefoxのもの)を使う
    user_agent='Mozilla/5.0 (Macintosh; Intel Mac OS X 10.10; rv:45.0) Gecko/20100101 Firefox/45.0')

# ログインページを開く
print('Navigating...', file=sys.stderr)
browser.open('https://account.kabutan.jp/login')

# 株探プレミアムページにいることを確認する
assert '株探プレミアム' in browser.parsed.title.string

# name="signIn" というサインインフォームを埋める。
# フォームのname属性の値はブラウザーの開発者ツールで確認できる。
form = browser.get_form(action='/login')
form['session[email]'] = KT_EMAIL
form['session[password]'] = KT_PASSWORD

# フォームを送信する。
# 正常にログインするにはRefererヘッダーとAccept-Languageヘッダーが必要な場合がある。
print('Signing in...', file=sys.stderr)
browser.submit_form(form)

print(browser.select('.is-success')[0].text.strip())

Name?hideshi.honma@gmail.com
Password?reallyKT1173

Navigating...
Signing in...

ログインしました

# 個別銘柄の決算ページを開く

In [350]:
# 個別銘柄の決算ページを開く
code = 7203 # トヨタ

print('Navigating...', file=sys.stderr)
browser.open('https://kabutan.jp/stock/finance?code={0}&mode=k'.format(code))

# 決算ページにいることを確認する
assert '決算' in browser.parsed.title.string

print(browser.select('.kobetsu_data_table1_meigara')[0].text.strip())

Navigating...

トヨタ自動車

## ページ全体

In [351]:
kessan_html = browser.find()
kessan_html

<html lang="ja" xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<meta content="text/css" http-equiv="Content-Style-Type"/>
<meta content="text/javascript" http-equiv="Content-Script-Type"/>
<title>トヨタ自動車 (トヨタ) 【7203】：決算/業績・財務推移 [通期/半期/四半期] | 株探</title>
<meta content="トヨタ自動車 の直近5期の業績推移表、独自の8四半期(3ヵ月毎)の業績推移表、3期の財務データ推移表など豊富な決算情報が満載！ 経常利益の進捗率、採算性がわかる売上営業利益率、有利子負債倍率などプロ仕様のデータで、アナリスト並みの業績・財務分析ができます。トヨタ自動車 による決算発表・業績修正はリアルタイムで更新。業績推移表は、売上高 営業利益 経常利益 最終利益(純利益) 1株利益 1株配当 決算発表日 を表記。財務データは 1株純資産 自己資本比率 総資産 純資産 剰余金 有利子負債倍率 を表記。四半期累計や半期(上期・下期)の業績推移表も掲載しています。" name="description"/>
<meta content="トヨタ,トヨタ自動車,とよたじどうしゃ,とよた,TOYOTA MOTOR,7203,輸送用機器,株式,株価,投資,決算,業績推移,決算発表,業績修正,通期,四半期,3ヵ月,四半期累計,上期,上半期,下期,下半期,進捗率,進捗度,売上営業利益率,売上高,営業利益,経常利益,最終利益,純利益,1株利益,1株配当,決算発表日,1株純資産,自己資本比率,株主資本比率,総資産,純資産,自己資本,株主資本,剰余金,有利子負債倍率" name="keywords"/>
<meta content="9TyMQp63vRE7zxgZJofMB6CJlyYQBwnVoHJoVFo1_rg" name="google-site-verification"/>
<meta content="https://kabutan.jp/images/cmn/SNS_kabutan_logo.jpg" property="og:image"/>
<link href="/favicon.ico?1" rel="shortcut icon"/>
<link href="/css/base.css?v=1710061" media="all" rel="stylesheet" type="text/css"/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">if (typeof jQuery == 'undefined') document.write(unescape("%3Cscript type='text/javascript' src='/js/lib/jquery-1.9.1.min.js' %3E%3C/script%3E"));</script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript">if (typeof jQuery.ui == 'undefined') document.write(unescape("%3Cscript type='text/javascript' src='/js/lib/jquery-ui-1.10.3.min.js' %3E%3C/script%3E"));</script>
<script src="/js/lib/dropdowncontent.js" type="text/javascript"></script>
<script src="/js/base.js?v=171027" type="text/javascript"></script>
<script src="/js/rand_ads.js?v=170728" type="text/javascript"></script>
<script>var googletag = googletag || {};googletag.cmd = googletag.cmd || [];(function() { var b = document.createElement("script"); b.async = true; b.type = "text/javascript"; var a = "https:" == document.location.protocol; b.src = ( a ? "https:" : "http:") + "//www.googletagservices.com/tag/js/gpt.js"; var c = document.getElementsByTagName("script")[0]; c.parentNode.insertBefore(b, c)})();googletag.cmd.push(function() { var b = ""; var e = ""; if (document.referrer) {  var d = new Array();  d = document.referrer.split("/");  e = d[2];  if (e == location.host) {   if (d.length > 4) {    e = d[2] + "/" + d[3] + "/" + d[4]   } else {    if (d.length > 3) {     e = d[2] + "/" + d[3]    }   }  } } var c = new Array(); c = location.pathname.split("/"); var a = ""; if (c.length > 2) {  a = "/" + c[1] + "/" + c[2] } else {  if (c.length > 1) {   a = "/" + c[1]  } } b = a + " " + e; b = b.split("=").join("_"); googletag.pubads().setTargeting("kabutan", b); googletag.pubads().enableSingleRequest(); googletag.enableServices()});</script>
</head>
<body>
<script>
  var gtmVarPremiumUserPlan = "standard";
</script>
<!-- Google Tag Manager -->
<noscript><iframe height="0" src="//www.googletagmanager.com/ns.html?id=GTM-P89SCD" style="display:none;visibility:hidden" width="0"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P89SCD');</script>
<!-- End Google Tag Manager -->
<!--wrapper_main start-->
<div id="wrapper_main">
<!--header start-->
<div id="header">
<h1><a href="/"><img alt="株探（かぶたん）" src="/images/header/top_kabutan_logo.jpg" style="width:240px; height:60px;"/></a></h1>
<div class="login_link">
<span><a class="pm_home" href="#">ようこそ 本間 英史 さん</a></span>
</div>
<table id="header_shisuu_big">
<tr>
<td>
<table class="header_shisuu">
<tr>
<td class="header_shisuu_atai0" colspan="2">
<div>
<a href="/stock/?code=0000">日経平均</a>
<span class="header_shisuu_time">(15:00)</span>
</div>
<a href="/stock/chart?code=0000"><img alt="" src="/images/header/chart_icon.png"/></a>
</td>
</tr>
<tr>
<td class="header_shisuu_atai1" rowspan="2" style="border-left:1px solid #5b5b5b;">22,396.80</td>
<td class="header_shisuu_atai2" style="border-bottom:none;"><span class="up">+45.68</span></td>
</tr>
<tr>
<td class="header_shisuu_atai2">0.20%</td>
</tr>
</table>
</td>
<td>
<table class="header_shisuu">
<tr>
<td class="header_shisuu_atai0" colspan="2">
<div>
<a href="/stock/?code=0950">米ドル円</a>
<span class="header_shisuu_time"><span style="color:#fdf400;">(05:50)</span></span>
</div>
<a href="/stock/chart?code=0950"><img alt="" src="/images/header/chart_icon.png"/></a>
</td>
</tr>
<tr>
<td class="header_shisuu_atai1" rowspan="2">112.03</td>
<td class="header_shisuu_atai2" style="border-bottom:none;"><span class="down">-1.21</span></td>
</tr>
<tr>
<td class="header_shisuu_atai2">-1.07%</td>
</tr>
</table>
</td>
<td>
<table class="header_shisuu">
<tr>
<td class="header_shisuu_atai0" colspan="2">
<div>
<a href="/stock/?code=0800">ＮＹダウ</a>
<span class="header_shisuu_time">(終値)</span>
</div>
<a href="/stock/chart?code=0800"><img alt="" src="/images/header/chart_icon.png"/></a>
</td>
</tr>
<tr>
<td class="header_shisuu_atai1" rowspan="2">23,358.24</td>
<td class="header_shisuu_atai2" style="border-bottom:none;"><span class="down">-100.12</span></td>
</tr>
<tr>
<td class="header_shisuu_atai2">-0.43%</td>
</tr>
</table>
</td>
<td>
<table class="header_shisuu">
<tr>
<td class="header_shisuu_atai0" colspan="2">
<div>
<a href="/stock/?code=0823">上海総合</a>
<span class="header_shisuu_time">(終値)</span>
</div>
<a href="/stock/chart?code=0823"><img alt="" src="/images/header/chart_icon.png"/></a>
</td>
</tr>
<tr>
<td class="header_shisuu_atai1" rowspan="2">3,382.37</td>
<td class="header_shisuu_atai2" style="border-bottom:none;"><span class="down">-17.50</span></td>
</tr>
<tr>
<td class="header_shisuu_atai2">-0.51%</td>
</tr>
</table>
</td>
</tr>
</table>
<!--menu_1 start-->
<div id="menu_1">
<ul>
<li class="navi_bg_home"><a href="/">トップ</a></li>
<li class="navi_bg_marcket"><a class="small_font" href="/news/marketnews/">市場ニュース</a></li>
<li class="navi_bg_news"><a href="/news/">決算速報</a></li>
<li class="navi_bg_warning"><a href="/warning/">株価注意報</a></li>
<li class="navi_bg_disclosures"><a class="small_font" href="/disclosures/">会社開示情報</a></li>
<li class="navi_bg_distribution-map"><a href="/distribution-map/">市場マップ</a></li>
<li class="navi_bg_tansaku"><a href="/tansaku/">銘柄探検</a></li>
</ul>
</div>
<!--menu_1 end-->
<div id="main_kensaku">
<noscript>JavaScriptがオフになっています。</noscript>
<form action="/search/" id="kensaku_form" method="post" name="kensaku">
<table>
<tr>
<td class="kensaku_title"><label for="input_string"><img alt="株探検隊　検索" src="/images/header/kensaku_logo.jpg" style="margin-top:4px;"/></label></td>
<td>
<input autocomplete="off" id="input_id" name="input_string" type="text"/>
</td>
<td>
<input alt="Go" id="kensaku_btn" name="kensaku" src="/images/header/kensaku_bottom.jpg" type="image"/>
</td>
<td>
<input alt="テーマ" id="theme_btn" name="theme" src="/images/header/kensaku_theme_bottom.jpg" type="image"/>
</td>
<td>
<input alt="" id="searchlink2" name="googlecse" rel="sub_window2" src="/images/header/kensaku_news_bottom.jpg" type="image"/>
<div class="sub_window" id="sub_window2">「株探」で配信したニュース記事を検索します</div>
</td>
<td>
<a href="/" id="searchlink1" rel="sub_window1"><img alt="" src="/images/header/kensaku_help_bottom.jpg"/></a>
<div class="sub_window" id="sub_window1"><img alt="help説明文" src="/images/header/Help_text.gif"/></div>
</td>
</tr>
</table>
<input id="btn_type" name="btn_type" type="hidden"/>
<input id="kensaku_stock_url" name="kensaku_stock_url" type="hidden"/>
</form>
</div>
<script type="text/javascript">
$(function(){
	(function(){
	dropdowncontent.init("searchlink1", "left-bottom", 300, "mouseover");
	dropdowncontent.init("searchlink2", "left-bottom", 300, "mouseover");
	function btn_post(btn){
		$("#btn_type").val(btn);
		$('#kensaku_form').submit();
		return false;
	}
	$('#kensaku_btn').click(function(){btn_post('kensaku_btn');});
	$('#theme_btn').click(function(){btn_post('theme_btn');});
	$('#searchlink2').click(function(){btn_post('cse_btn');});
	})();

	(function(){
	var s='銘柄コード、企業名、テーマから検索できます。';
	var d=$("#input_id");
	//if (d.val()=='') d.val(s);
	d.focus(function(){if(this.value==s){this.value='';}});
	d.blur(function(){if(this.value==''){this.value=s;}});
	if ($(window).scrollTop() == 0) d.focus();
	//d.focus();
	d.autocomplete({
	delay:400,
	minLength:2,
	select:function(event, ui){
		d.val(ui.item.label);
		$("#kensaku_form").submit();
	},
	focus:function(event, ui ){
		return false;
	},
	source:function(request, response){
		$.ajax({
			url:"/pulldown/",
			type:"post",
			data:{input_string: request.term},
			dataType:"json",
			success: function( data ) {
				response( data );
			},
			error: function() {
				response( [] );
			}
		});
	}
	});
	})();

});
</script>
<div class="topicpath">
<ul>
<li><a href="/">トップ</a></li>
<li>＞<a href="/stock/?code=7203">トヨタ自動車(7203)</a></li>
<li>＞決算</li>
</ul>
</div>
</div>
<!--header end-->
<!--container start-->
<div id="container">
<!--main start-->
<div id="main">
<script type="text/javascript">
function set_stock_url(g,f){var e=document.getElementById("kensaku_stock_url");if(null!=e){var b=/^(\/stock\/)([a-z]*)\/?\?(code=)(\d{4})(.*)/,c,a,d;if(1==g){if(c=location.pathname+location.search,c=c.split("&amp;").join("&"),a=c.match(b),null!=a){b=a[1]+a[2]+"?"+a[3]+a[4];switch(a[2]){case "kabuka":d=a[5].match(/(ashi=[a-z]+)/);break;case "news":d=a[5].match(/(nmode=\d)/)}null!=d&&(b+="&"+d[1]);e.value=b}}else c=e.value,a=c.match(b),b=null!=a?a[1]+a[2]+"?"+a[3]+f+a[5]:"/stock/?code="+f,c!=b&&(location.href=b)}};
set_stock_url(1,'');
</script>
<div id="kobetsu_data">
<!--kobetsu_data_table1-->
<div id="stockcode_link">
<div>トヨタの<a href="http://minkabu.jp/stock/7203" target="_blank">【株価予想】</a><a href="https://shikiho.jp/tk/stock/info/7203" target="_blank">【業績予想】</a>を見る</div>
</div>
<table class="kobetsu_data_table1">
<tr>
<td>
<table>
<tr>
<td width="36">7203</td>
<td class="kobetsu_data_table1_meigara" width="184">トヨタ自動車</td>
<td width="60">東証１</td>
<td width="40">15:00</td>
</tr>
</table>
</td>
</tr>
<tr>
<td>
<table>
<tr>
<td class="kobetsu_data_table1_kabuka" width="110">6,917円</td>
<td style="text-align:right;" width="50">
<div>
<span style="font-size:13px;">前日比</span>
</div></td>
<td style="text-align:right;" width="80"><span class="down">-45</span></td>
<td style="text-align:right;" width="80">(<span class="down">-0.65</span>%)</td>
</tr>
<tr>
<td colspan="4" style=" border-top:1px solid #09f;padding-top:6px;">
<div style="font-size:11px;overflow:hidden;width:320px;white-space:nowrap;">比較される銘柄：
<a href="javascript:set_stock_url(2,'7267');" style="font-size:12px;color:#007d33;text-decoration:underline;">ホンダ</a>
、<a href="javascript:set_stock_url(2,'7201');" style="font-size:12px;color:#007d33;text-decoration:underline;">日産自</a>
、<a href="javascript:set_stock_url(2,'6902');" style="font-size:12px;color:#007d33;text-decoration:underline;">デンソー</a>
</div>
</td>
</tr>
</table>
</td>
</tr>
</table>
<!--/kobetsu_data_table1-->
<!--kobetsu_data_table2-->
<table class="kobetsu_data_table2">
<tr>
<td>業績：
<img alt="今期予想" height="14" src="/images/cmn/gyouseki_3.gif" width="14"/>
</td>
</tr>
<tr>
<td style="text-align:center;">
<a href="/themes/?industry=17&amp;market=1">輸送用機器</a>
</td>
</tr>
<tr>
<td>単位 100株 </td>
</tr>
</table>
<!--/kobetsu_data_table2-->
<!--kobetsu_data_table3-->
<table class="kobetsu_data_table3">
<tr>
<td>ＰＥＲ</td>
<td>ＰＢＲ</td>
<td>利回り</td>
<td style="font-size:12px">信用倍率</td>
</tr>
<tr>
<td>10.4<span style="font-size:9px">倍</span></td>
<td>1.12<span style="font-size:9px">倍</span></td>
<td>－<span style="font-size:9px">％</span></td>
<td>1.14<span style="font-size:9px">倍</span></td>
</tr>
</table>
<!--/kobetsu_data_table3-->
</div>
<!-- kobetsu_data end -->
<!-- chart_menu start -->
<div class="chart_menu">
<ul>
<li><a href="/stock/?code=7203" title="基本情報">基本情報</a></li>
<li><a href="/stock/chart?code=7203" title="チャート">チャート</a></li>
<li><a href="/stock/kabuka?code=7203" title="時系列">時系列</a></li>
<li><a href="/stock/news?code=7203" title="ニュース">ニュース</a></li>
<li class="active"><a href="/stock/finance?code=7203&amp;mode=k" title="決算">決算</a></li>
</ul>
<div id="kessan_happyoubi">
</div>
</div>
<!-- chart_menu end -->
<div style="clear:both;"></div>
<div id="finance_box">
<div class="stock_kes_menu">
<ul>
<li><a href="#konki_yosou" title="今期【予想】">今期<br/>【予想】</a></li>
<li><a href="#kakosaikou_zisseki" title="過去最高【実績】">過去最高<br/>【実績】</a></li>
<li><a href="#kamikishimoki_yosou" title="上期（下期）【予想】">半期<br/>【予想】</a></li>
<li><a href="#shihanki_zisseki" title="四半期累計【実績】">四半期累計<br/>【実績】</a></li>
<li><a href="#zaimu_zisseki" title="財務【実績】">財務<br/>【実績】</a></li>
<li><a href="#top" title="ＴＯＰへ">ＴＯＰへ</a></li>
</ul>
</div>
<div class="gyousekishuusei_zenkihi_title" style="margin:5px 0 5px 0;"><strong>今期の業績予想</strong></div>
<script>
$(function(){
set_finance_btn(1,{ id:'f', flg:0, so:'1999年3月期～2013年3月期を表示',st:'2013年3月期以前'});
});
</script>
<script>
$(function(){
	$('.fin_yf,.fin_sf,.fin_yf2').on('click',function() {
		if ($(this).hasClass('active')) return false;
		$(this).siblings().removeClass('active');
		$(this).addClass('active');
		$('.fin_fd').hide();
		$('.'+this.className.split(" ")[0]+'d').show();
		return false;
	});
	$('.fin_yf').click();
});
</script>
<h5>
<div class="cap1gyousekishuusei fin_menu">
<ul>
<li class="fin_yf"><a href="#">通期業績</a></li>
<li class="fin_sf new"><a href="#"><span>New!<br/></span>修正履歴</a></li>
</ul>
</div>
<div class="cap2 cap2s"><img height="22" src="/images/finance/kessan_s_bar1Q-4Q.jpg" width="226"/></div>
</h5>
<div class="fin_fd fin_yfd">
<table>
<tr>
<th class="fb_01">決算期</th>
<th class="fb_02">売上高</th>
<th class="fb_02">営業益</th>
<th class="fb_02">経常益</th>
<th class="fb_02">最終益</th>
<th class="fb_03">１株益</th>
<th class="fb_03">１株配</th>
<th class="fb_04">発表日</th>
</tr>
<tr><td class="oc_btn1" colspan="8"><a href="#" id="oc_b1f"></a></td></tr>
<tr class="oc_t1f">
<td><span style="font-size:12px;font-family:monospace;">連 　 </span> 1999.03</td>
<td>12,749,008</td>
<td>774,945</td>
<td>771,885</td>
<td>356,180</td>
<td>94.2</td>
<td>23</td>
<td>99/05/24</td>
</tr>
<tr class="oc_t1f">
<td><span style="font-size:12px;font-family:monospace;">連 　 </span> 2000.03</td>
<td>12,879,561</td>
<td>775,982</td>
<td>797,058</td>
<td>406,798</td>
<td>110.0</td>
<td>24</td>
<td>00/05/17</td>
</tr>
<tr class="oc_t1f">
<td><span style="font-size:12px;font-family:monospace;">連 　 </span> 2001.03</td>
<td>13,424,423</td>
<td>870,131</td>
<td>972,273</td>
<td>471,295</td>
<td>127.9</td>
<td>25</td>
<td>01/05/16</td>
</tr>
<tr class="oc_t1f">
<td><span style="font-size:12px;font-family:monospace;">連 　 </span> 2002.03</td>
<td>15,106,297</td>
<td>1,123,470</td>
<td>1,113,524</td>
<td>615,824</td>
<td>170.7</td>
<td>28</td>
<td>02/05/13</td>
</tr>
<tr class="oc_t1f">
<td><span style="font-size:12px;font-family:monospace;">U  　 </span> 2003.03</td>
<td>15,501,553</td>
<td>1,271,646</td>
<td>1,226,652</td>
<td>750,942</td>
<td>211.3</td>
<td>36</td>
<td>03/05/08</td>
</tr>
<tr class="oc_t1f">
<td><span style="font-size:12px;font-family:monospace;">U  　 </span> 2004.03</td>
<td>17,294,760</td>
<td>1,666,890</td>
<td>1,765,793</td>
<td>1,162,098</td>
<td>342.9</td>
<td>45</td>
<td>04/05/11</td>
</tr>
<tr class="oc_t1f">
<td><span style="font-size:12px;font-family:monospace;">U  　 </span> 2005.03</td>
<td>18,551,526</td>
<td>1,672,187</td>
<td>1,754,637</td>
<td>1,171,260</td>
<td>355.4</td>
<td>65</td>
<td>05/05/10</td>
</tr>
<tr class="oc_t1f">
<td><span style="font-size:12px;font-family:monospace;">U  　 </span> 2006.03</td>
<td>21,036,909</td>
<td>1,878,342</td>
<td>2,087,360</td>
<td>1,372,180</td>
<td>421.8</td>
<td>90</td>
<td>06/05/10</td>
</tr>
<tr class="oc_t1f">
<td><span style="font-size:12px;font-family:monospace;">U  　 </span> 2007.03</td>
<td>23,948,091</td>
<td>2,238,683</td>
<td>2,382,516</td>
<td>1,644,032</td>
<td>512.1</td>
<td>120</td>
<td>07/05/09</td>
</tr>
<tr class="oc_t1f">
<td><span style="font-size:12px;font-family:monospace;">U  　 </span> 2008.03</td>
<td>26,289,240</td>
<td>2,270,375</td>
<td>2,437,222</td>
<td>1,717,879</td>
<td>540.6</td>
<td>140</td>
<td>08/05/08</td>
</tr>
<tr class="oc_t1f">
<td><span style="font-size:12px;font-family:monospace;">U  　 </span> 2009.03</td>
<td>20,529,570</td>
<td>-461,011</td>
<td>-560,381</td>
<td>-436,937</td>
<td>-139.1</td>
<td>100</td>
<td>09/05/08</td>
</tr>
<tr class="oc_t1f">
<td><span style="font-size:12px;font-family:monospace;">U  　 </span> 2010.03</td>
<td>18,950,973</td>
<td>147,516</td>
<td>291,468</td>
<td>209,456</td>
<td>66.8</td>
<td>45</td>
<td>10/05/11</td>
</tr>
<tr class="oc_t1f">
<td><span style="font-size:12px;font-family:monospace;">U  　 </span> 2011.03</td>
<td>18,993,688</td>
<td>468,279</td>
<td>563,290</td>
<td>408,183</td>
<td>130.2</td>
<td>50</td>
<td>11/05/11</td>
</tr>
<tr class="oc_t1f">
<td><span style="font-size:12px;font-family:monospace;">U  　 </span> 2012.03</td>
<td>18,583,653</td>
<td>355,627</td>
<td>432,873</td>
<td>283,559</td>
<td>90.2</td>
<td>50</td>
<td>12/05/09</td>
</tr>
<tr class="oc_t1f">
<td><span style="font-size:12px;font-family:monospace;">U  　 </span> 2013.03</td>
<td>22,064,192</td>
<td>1,320,888</td>
<td>1,403,649</td>
<td>962,163</td>
<td>303.8</td>
<td>90</td>
<td>13/05/08</td>
</tr>
<tr>
<td><span style="font-size:12px;font-family:monospace;">U  　 </span> 2014.03</td>
<td>25,691,911</td>
<td>2,292,112</td>
<td>2,441,080</td>
<td>1,823,119</td>
<td>575.3</td>
<td>165</td>
<td>14/05/08</td>
</tr>
<tr>
<td><span style="font-size:12px;font-family:monospace;">U  　 </span> 2015.03</td>
<td>27,234,521</td>
<td>2,750,564</td>
<td>2,892,828</td>
<td>2,173,338</td>
<td>688.0</td>
<td>200</td>
<td>15/05/08</td>
</tr>
<tr>
<td><span style="font-size:12px;font-family:monospace;">U  　 </span> 2016.03</td>
<td class="high">28,403,118</td>
<td class="high">2,853,971</td>
<td class="high">2,983,381</td>
<td class="high">2,312,694</td>
<td class="high">741.4</td>
<td>210</td>
<td>16/05/11</td>
</tr>
<tr>
<td><span style="font-size:12px;font-family:monospace;">U  　 </span> 2017.03</td>
<td>27,597,193</td>
<td>1,994,372</td>
<td>2,193,825</td>
<td>1,831,109</td>
<td>605.5</td>
<td>210</td>
<td>17/05/10</td>
</tr>
<tr>
<td><span style="font-size:12px;font-family:monospace;">U  予 </span> 2018.03</td>
<td>28,500,000</td>
<td>2,000,000</td>
<td>2,250,000</td>
<td>1,950,000</td>
<td>662.7</td>
<td>－</td>
<td>17/11/07</td>
</tr>
<tr>
<td>前期比</td>
<td><span class="up">+3.3</span></td>
<td><span class="up">+0.3</span></td>
<td><span class="up">+2.6</span></td>
<td><span class="up">+6.5</span></td>
<td><span class="up">+9.4</span></td>
<td> </td>
<td>(%)</td>
</tr>
<tr><td class="oc_btn2" colspan="8"><a href="#" id="oc_b2f"></a></td></tr>
</table>
<div class="caution">
<img height="22" src="/images/finance/info_high.gif" style="vertical-align:bottom;" width="130"/>※最新予想と前期実績との比較。予想欄「－」は会社側が未発表。
</div>
</div><!--/fin_yfd-->
<div class="fin_fd fin_sfd">
<table>
<tr>
<th class="fb_04" colspan="2">決算期</th>
<th class="fb_02">修正日</th>
<th class="fb_04">修正方向</th>
<th class="fb_02">売上高</th>
<th class="fb_02">営業益</th>
<th class="fb_02">経常益</th>
<th class="fb_02">最終益</th>
<th class="fb_03">修正配当</th>
</tr>
<tr>
<td class="tal"><span style="text-align:left;font-size:12px;font-family:monospace;">U </span></td>
<td>2013.03</td>
<td class="tac">12/05/09</td>
<td><table class="arrow"><tr><td>  </td><td>  </td><td>  </td><td>  </td><td>  </td></tr></table></td>
<td>22,000,000</td>
<td>1,000,000</td>
<td>1,160,000</td>

In [377]:
tables = pd.read_html(str(kessan_html), header=0)
tables[11]

,決算期,売上高,営業益,経常益,最終益,１株益,１株配,発表日
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,連 1999.03,12749008.0,774945.0,771885.0,356180.0,94.2,23,99/05/24
2,連 2000.03,12879561.0,775982.0,797058.0,406798.0,110.0,24,00/05/17
3,連 2001.03,13424423.0,870131.0,972273.0,471295.0,127.9,25,01/05/16
4,連 2002.03,15106297.0,1123470.0,1113524.0,615824.0,170.7,28,02/05/13
5,U 2003.03,15501553.0,1271646.0,1226652.0,750942.0,211.3,36,03/05/08
6,U 2004.03,17294760.0,1666890.0,1765793.0,1162098.0,342.9,45,04/05/11
7,U 2005.03,18551526.0,1672187.0,1754637.0,1171260.0,355.4,65,05/05/10
8,U 2006.03,21036909.0,1878342.0,2087360.0,1372180.0,421.8,90,06/05/10
9,U 2007.03,23948091.0,2238683.0,2382516.0,1644032.0,512.1,120,07/05/09
10,U 2008.03,26289240.0,2270375.0,2437222.0,1717879.0,540.6,140,08/05/08
11,U 2009.03,20529570.0,-461011.0,-560381.0,-436937.0,-139.1,100,09/05/08
12,U 2010.03,18950973.0,147516.0,291468.0,209456.0,66.8,45,10/05/11
13,U 2011.03,18993688.0,468279.0,563290.0,408183.0,130.2,50,11/05/11
14,U 2012.03,18583653.0,355627.0,432873.0,283559.0,90.2,50,12/05/09
15,U 2013.03,22064192.0,1320888.0,1403649.0,962163.0,303.8,90,13/05/08
16,U 2014.03,25691911.0,2292112.0,2441080.0,1823119.0,575.3,165,14/05/08
17,U 2015.03,27234521.0,2750564.0,2892828.0,2173338.0,688.0,200,15/05/08
18,U 2016.03,28403118.0,2853971.0,2983381.0,2312694.0,741.4,210,16/05/11
19,U 2017.03,27597193.0,1994372.0,2193825.0,1831109.0,605.5,210,17/05/10
20,U 予 2018.03,28500000.0,2000000.0,2250000.0,1950000.0,662.7,－,17/11/07
21,前期比,3.3,0.3,2.6,6.5,9.4,NaN,(%)
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [188]:
# 後でhtml形式で読み込み可能なファイルとして書き出す方法
kabutan_kessan = open('kabutan_kessan.html', 'w')
kabutan_kessan.write(str(browser.find()))
kabutan_kessan.close()

In [191]:
# 保存したhtmlファイルからの読み込み
tables = pd.read_html('/Users/Really/Stockyard/kabutan_kessan.html', header=0)

## ページ内のテーブル属性のみ

In [133]:
tables = pd.read_html(str(browser.select('table')), header=0)
tables[12]

Navigating...

,決算期,修正日,修正方向,売上高,営業益,経常益,最終益,修正配当,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,U,2013.03,12/05/09,NaN,NaN,NaN,NaN,NaN,NaN,22000000.0,1000000.0,1160000.0,760000.0,－
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,U,NaN,12/11/05,↓↑↑↑‐,↓,↑,↑,↑,‐,21300000.0,1050000.0,1180000.0,780000.0,－
3,↓,↑,↑,↑,‐,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,U,NaN,13/02/05,↑↑↑↑‐,↑,↑,↑,↑,‐,21800000.0,1150000.0,1290000.0,860000.0,－
5,↑,↑,↑,↑,‐,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,U,実績,13/05/08,↑↑↑↑‐,↑,↑,↑,↑,‐,22064192.0,1320888.0,1403649.0,962163.0,90
7,↑,↑,↑,↑,‐,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,U,2014.03,13/05/08,NaN,NaN,NaN,NaN,NaN,NaN,23500000.0,1800000.0,1890000.0,1370000.0,－
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,U,NaN,13/08/02,↑↑↑↑‐,↑,↑,↑,↑,‐,24000000.0,1940000.0,2030000.0,1480000.0,－
11,↑,↑,↑,↑,‐,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,U,NaN,13/11/06,↑↑↑↑‐,↑,↑,↑,↑,‐,25000000.0,2200000.0,2290000.0,1670000.0,－
13,↑,↑,↑,↑,‐,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,U,NaN,14/02/04,↑↑↑↑‐,↑,↑,↑,↑,‐,25500000.0,2400000.0,2530000.0,1900000.0,－
15,↑,↑,↑,↑,‐,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,U,実績,14/05/08,↑↓↓↓‐,↑,↓,↓,↓,‐,25691911.0,2292112.0,2441080.0,1823119.0,165
17,↑,↓,↓,↓,‐,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,U,2015.03,14/05/08,NaN,NaN,NaN,NaN,NaN,NaN,25700000.0,2300000.0,2390000.0,1780000.0,－
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,U,NaN,14/11/05,↑↑↑↑‐,↑,↑,↑,↑,‐,26500000.0,2500000.0,2700000.0,2000000.0,－
21,↑,↑,↑,↑,‐,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,U,NaN,15/02/04,↑↑↑↑‐,↑,↑,↑,↑,‐,27000000.0,2700000.0,2920000.0,2130000.0,－
23,↑,↑,↑,↑,‐,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,U,実績,15/05/08,↑↑↓↑‐,↑,↑,↓,↑,‐,27234521.0,2750564.0,2892828.0,2173338.0,200
25,↑,↑,↓,↑,‐,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,U,2016.03,15/05/08,NaN,NaN,NaN,NaN,NaN,NaN,27500000.0,2800000.0,2970000.0,2250000.0,－
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,U,NaN,15/08/04,↑→↑→‐,↑,→,↑,→,‐,27800000.0,2800000.0,2980000.0,2250000.0,－
29,↑,→,↑,→,‐,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,U,NaN,15/11/05,↓→→→‐,↓,→,→,→,‐,27500000.0,2800000.0,2980000.0,2250000.0,－
31,↓,→,→,→,‐,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,U,NaN,16/02/05,→→→↑‐,→,→,→,↑,‐,27500000.0,2800000.0,2980000.0,2270000.0,－
33,→,→,→,↑,‐,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,U,実績,16/05/11,↑↑↑↑‐,↑,↑,↑,↑,‐,28403118.0,2853971.0,2983381.0,2312694.0,210
35,↑,↑,↑,↑,‐,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,U,2017.03,16/05/11,NaN,NaN,NaN,NaN,NaN,NaN,26500000.0,1700000.0,1900000.0,1500000.0,－
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,U,NaN,16/08/04,↓↓↓↓‐,↓,↓,↓,↓,‐,26000000.0,1600000.0,1780000.0,1450000.0,－
39,↓,↓,↓,↓,‐,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,U,NaN,16/11/08,→↑↑↑‐,→,↑,↑,↑,‐,26000000.0,1700000.0,1900000.0,1550000.0,－
41,→,↑,↑,↑,‐,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,U,NaN,17/02/06,↑↑↑↑‐,↑,↑,↑,↑,‐,26500000.0,1850000.0,2070000.0,1700000.0,－
43,↑,↑,↑,↑,‐,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,U,実績,17/05/10,↑↑↑↑‐,↑,↑,↑,↑,‐,27597193.0,1994372.0,2193825.0,1831109.0,210
45,↑,↑,↑,↑,‐,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,U,2018.03,17/05/10,NaN,NaN,NaN,NaN,NaN,NaN,27500000.0,1600000.0,1800000.0,1500000.0,－
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,U,NaN,17/08/04,↑↑↑↑‐,↑,↑,↑,↑,‐,28500000.0,1850000.0,2050000.0,1750000.0,－
49,↑,↑,↑,↑,‐,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,U,NaN,17/11/07,→↑↑↑‐,→,↑,↑,↑,‐,28500000.0,2000000.0,2250000.0,1950000.0,－
51,→,↑,↑,↑,‐,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [190]:
# 後でhtml形式で読み込み可能なファイルとして書き出す方法
kabutan_kessan_tables = open('kabutan_kessan_tables.html', 'w')
kabutan_kessan_tables.write(str(browser.select('table')))
kabutan_kessan_tables.close()

In [109]:
# 保存したhtmlファイルからの読み込み
tables = pd.read_html('/Users/Really/Stockyard/kessan_tables.html', header=0)

## リスト、テーブルの概要

In [192]:
len(tables)

29

In [136]:
len(tables[12])

52

In [140]:
len(tables[12].columns)

14

## tables[7] 銘柄概要

In [193]:
tables[7]

Empty DataFrame
Columns: [7203, トヨタ自動車, 東証１, 15:00]
Index: []

##  tables[9] 銘柄概要

In [194]:
tables[9]

       業績：
0    輸送用機器
1  単位 100株

## tables [10] ＰＥＲ ＰＢＲ 利回り 信用倍率

In [195]:
tables[10]

     ＰＥＲ    ＰＢＲ 利回り   信用倍率
0  10.4倍  1.12倍  －％  1.14倍

## tables[11] 通期業績

In [217]:
kabupro[kabupro['証券コード'] == 7203]

,証券コード,企業名,会計基準,連結個別,決算期,決算期間,期首,期末,名寄前勘定科目（売上高欄に掲載）,売上高,...,純利益,一株当り純利益,希薄化後一株当り純利益,純資産又は株主資本,総資産,一株当り純資産,営業キャッシュフロー,投資キャッシュフロー,財務キャッシュフロー,情報公開又は更新日
38471,7203,トヨタ自動車,米国基準,連結,2015年3月期,第1四半期,2014-04-01,2014-06-30,売上高,6.390688e+12,...,5.877740e+11,185.43,185.34,NaN,NaN,NaN,NaN,NaN,NaN,2015-08-04
38472,7203,トヨタ自動車,米国基準,連結,2015年3月期,第2四半期,2014-04-01,2014-09-30,売上高,1.294560e+13,...,1.126836e+12,356.08,355.91,NaN,NaN,NaN,NaN,NaN,NaN,2015-11-05
38473,7203,トヨタ自動車,米国基準,連結,2015年3月期,第3四半期,2014-04-01,2014-12-31,売上高,2.011561e+13,...,1.726863e+12,545.94,545.68,NaN,NaN,NaN,NaN,NaN,NaN,2016-02-05
38474,7203,トヨタ自動車,米国基準,連結,2015年3月期,通期,2014-04-01,2015-03-31,売上高,2.723452e+13,...,2.173338e+12,688.02,687.66,1.764733e+13,4.772983e+13,5334.96,3.685753e+12,-3.813490e+12,3.060450e+11,2016-05-11
38475,7203,トヨタ自動車,日本基準,個別,2015年3月期,通期,2014-04-01,2015-03-31,売上高,1.120941e+13,...,1.690679e+12,535.22,534.95,1.018427e+13,1.512862e+13,3235.44,NaN,NaN,NaN,2016-05-11
38476,7203,トヨタ自動車,米国基準,連結,2016年3月期,第1四半期,2015-04-01,2015-06-30,売上高,6.987648e+12,...,6.463940e+11,205.41,205.30,NaN,NaN,NaN,NaN,NaN,NaN,2016-08-04
38477,7203,トヨタ自動車,米国基準,連結,2016年3月期,第2四半期,2015-04-01,2015-09-30,売上高,1.409149e+13,...,1.258112e+12,399.39,397.75,NaN,NaN,NaN,NaN,NaN,NaN,2016-11-08
38478,7203,トヨタ自動車,米国基準,連結,2016年3月期,第3四半期,2015-04-01,2015-12-31,売上高,2.143137e+13,...,1.886077e+12,601.44,597.29,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-06
38479,7203,トヨタ自動車,米国基準,連結,2016年3月期,通期,2015-04-01,2016-03-31,売上高,2.840312e+13,...,2.312694e+12,741.36,735.36,1.808819e+13,4.742760e+13,5513.08,4.460857e+12,-3.182544e+12,-4.235710e+11,2017-05-10
38480,7203,トヨタ自動車,日本基準,個別,2016年3月期,通期,2015-04-01,2016-03-31,売上高,1.158582e+13,...,1.810370e+12,581.08,575.64,1.085944e+13,1.610021e+13,3417.07,NaN,NaN,NaN,2017-05-10
38481,7203,トヨタ自動車,米国基準,連結,2017年3月期,第1四半期,2016-04-01,2016-06-30,売上高,6.589113e+12,...,5.524650e+11,181.12,179.11,NaN,NaN,NaN,NaN,NaN,NaN,2017-08-04
38482,7203,トヨタ自動車,米国基準,連結,2017年3月期,第2四半期,2016-04-01,2016-09-30,売上高,1.307053e+13,...,9.461730e+11,311.08,307.84,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-07
38483,7203,トヨタ自動車,米国基準,連結,2017年3月期,第3四半期,2016-04-01,2016-12-31,売上高,2.015472e+13,...,1.432704e+12,472.31,467.35,1.838908e+13,4.811148e+13,NaN,NaN,NaN,NaN,2017-02-06
38484,7203,トヨタ自動車,米国基準,連結,2017年3月期,通期,2016-04-01,2017-03-31,売上高,2.759719e+13,...,1.831109e+12,605.47,599.22,1.866895e+13,4.875019e+13,5887.88,3.414237e+12,-2.969939e+12,-3.751650e+11,2017-05-10
38485,7203,トヨタ自動車,日本基準,個別,2017年3月期,通期,2016-04-01,2017-03-31,売上高,1.147634e+13,...,1.529911e+12,506.96,500.65,1.136578e+13,1.659217e+13,3659.40,NaN,NaN,NaN,2017-05-10
38486,7203,トヨタ自動車,米国基準,連結,2018年3月期,第1四半期,2017-04-01,2017-06-30,売上高,7.047606e+12,...,6.130560e+11,205.05,202.84,1.902380e+13,4.945603e+13,NaN,NaN,NaN,NaN,2017-08-04
38487,7203,トヨタ自動車,米国基準,連結,2018年3月期,第2四半期,2017-04-01,2017-09-30,売上高,1.419121e+13,...,1.071328e+12,359.55,355.92,1.940619e+13,5.025303e+13,NaN,NaN,NaN,NaN,2017-11-07

In [196]:
tables[11]
# 株プロに無い項目: １株配

,決算期,売上高,営業益,経常益,最終益,１株益,１株配,発表日
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,連 1999.03,12749008.0,774945.0,771885.0,356180.0,94.2,23,99/05/24
2,連 2000.03,12879561.0,775982.0,797058.0,406798.0,110.0,24,00/05/17
3,連 2001.03,13424423.0,870131.0,972273.0,471295.0,127.9,25,01/05/16
4,連 2002.03,15106297.0,1123470.0,1113524.0,615824.0,170.7,28,02/05/13
5,U 2003.03,15501553.0,1271646.0,1226652.0,750942.0,211.3,36,03/05/08
6,U 2004.03,17294760.0,1666890.0,1765793.0,1162098.0,342.9,45,04/05/11
7,U 2005.03,18551526.0,1672187.0,1754637.0,1171260.0,355.4,65,05/05/10
8,U 2006.03,21036909.0,1878342.0,2087360.0,1372180.0,421.8,90,06/05/10
9,U 2007.03,23948091.0,2238683.0,2382516.0,1644032.0,512.1,120,07/05/09
10,U 2008.03,26289240.0,2270375.0,2437222.0,1717879.0,540.6,140,08/05/08
11,U 2009.03,20529570.0,-461011.0,-560381.0,-436937.0,-139.1,100,09/05/08
12,U 2010.03,18950973.0,147516.0,291468.0,209456.0,66.8,45,10/05/11
13,U 2011.03,18993688.0,468279.0,563290.0,408183.0,130.2,50,11/05/11
14,U 2012.03,18583653.0,355627.0,432873.0,283559.0,90.2,50,12/05/09
15,U 2013.03,22064192.0,1320888.0,1403649.0,962163.0,303.8,90,13/05/08
16,U 2014.03,25691911.0,2292112.0,2441080.0,1823119.0,575.3,165,14/05/08
17,U 2015.03,27234521.0,2750564.0,2892828.0,2173338.0,688.0,200,15/05/08
18,U 2016.03,28403118.0,2853971.0,2983381.0,2312694.0,741.4,210,16/05/11
19,U 2017.03,27597193.0,1994372.0,2193825.0,1831109.0,605.5,210,17/05/10
20,U 予 2018.03,28500000.0,2000000.0,2250000.0,1950000.0,662.7,－,17/11/07
21,前期比,3.3,0.3,2.6,6.5,9.4,NaN,(%)
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [378]:
# 全ての列項目がnullの行を除去
tables[11] = tables[11][~tables[11].isnull().all(axis=1)].reset_index(drop=True)

,決算期,売上高,営業益,経常益,最終益,１株益,１株配,発表日
0,連 1999.03,12749008.0,774945.0,771885.0,356180.0,94.2,23,99/05/24
1,連 2000.03,12879561.0,775982.0,797058.0,406798.0,110.0,24,00/05/17
2,連 2001.03,13424423.0,870131.0,972273.0,471295.0,127.9,25,01/05/16
3,連 2002.03,15106297.0,1123470.0,1113524.0,615824.0,170.7,28,02/05/13
4,U 2003.03,15501553.0,1271646.0,1226652.0,750942.0,211.3,36,03/05/08
5,U 2004.03,17294760.0,1666890.0,1765793.0,1162098.0,342.9,45,04/05/11
6,U 2005.03,18551526.0,1672187.0,1754637.0,1171260.0,355.4,65,05/05/10
7,U 2006.03,21036909.0,1878342.0,2087360.0,1372180.0,421.8,90,06/05/10
8,U 2007.03,23948091.0,2238683.0,2382516.0,1644032.0,512.1,120,07/05/09
9,U 2008.03,26289240.0,2270375.0,2437222.0,1717879.0,540.6,140,08/05/08
10,U 2009.03,20529570.0,-461011.0,-560381.0,-436937.0,-139.1,100,09/05/08
11,U 2010.03,18950973.0,147516.0,291468.0,209456.0,66.8,45,10/05/11
12,U 2011.03,18993688.0,468279.0,563290.0,408183.0,130.2,50,11/05/11
13,U 2012.03,18583653.0,355627.0,432873.0,283559.0,90.2,50,12/05/09
14,U 2013.03,22064192.0,1320888.0,1403649.0,962163.0,303.8,90,13/05/08
15,U 2014.03,25691911.0,2292112.0,2441080.0,1823119.0,575.3,165,14/05/08
16,U 2015.03,27234521.0,2750564.0,2892828.0,2173338.0,688.0,200,15/05/08
17,U 2016.03,28403118.0,2853971.0,2983381.0,2312694.0,741.4,210,16/05/11
18,U 2017.03,27597193.0,1994372.0,2193825.0,1831109.0,605.5,210,17/05/10
19,U 予 2018.03,28500000.0,2000000.0,2250000.0,1950000.0,662.7,－,17/11/07
20,前期比,3.3,0.3,2.6,6.5,9.4,NaN,(%)

In [379]:
# 予想値と前期比の行を除去
tables[11] = tables[11][~((tables[11]['決算期'].str.contains('予')) | (tables[11]['決算期'].str.contains('前期比')))].reset_index(drop=True)

,決算期,売上高,営業益,経常益,最終益,１株益,１株配,発表日
0,連 1999.03,12749008.0,774945.0,771885.0,356180.0,94.2,23,99/05/24
1,連 2000.03,12879561.0,775982.0,797058.0,406798.0,110.0,24,00/05/17
2,連 2001.03,13424423.0,870131.0,972273.0,471295.0,127.9,25,01/05/16
3,連 2002.03,15106297.0,1123470.0,1113524.0,615824.0,170.7,28,02/05/13
4,U 2003.03,15501553.0,1271646.0,1226652.0,750942.0,211.3,36,03/05/08
5,U 2004.03,17294760.0,1666890.0,1765793.0,1162098.0,342.9,45,04/05/11
6,U 2005.03,18551526.0,1672187.0,1754637.0,1171260.0,355.4,65,05/05/10
7,U 2006.03,21036909.0,1878342.0,2087360.0,1372180.0,421.8,90,06/05/10
8,U 2007.03,23948091.0,2238683.0,2382516.0,1644032.0,512.1,120,07/05/09
9,U 2008.03,26289240.0,2270375.0,2437222.0,1717879.0,540.6,140,08/05/08
10,U 2009.03,20529570.0,-461011.0,-560381.0,-436937.0,-139.1,100,09/05/08
11,U 2010.03,18950973.0,147516.0,291468.0,209456.0,66.8,45,10/05/11
12,U 2011.03,18993688.0,468279.0,563290.0,408183.0,130.2,50,11/05/11
13,U 2012.03,18583653.0,355627.0,432873.0,283559.0,90.2,50,12/05/09
14,U 2013.03,22064192.0,1320888.0,1403649.0,962163.0,303.8,90,13/05/08
15,U 2014.03,25691911.0,2292112.0,2441080.0,1823119.0,575.3,165,14/05/08
16,U 2015.03,27234521.0,2750564.0,2892828.0,2173338.0,688.0,200,15/05/08
17,U 2016.03,28403118.0,2853971.0,2983381.0,2312694.0,741.4,210,16/05/11
18,U 2017.03,27597193.0,1994372.0,2193825.0,1831109.0,605.5,210,17/05/10

In [454]:
# 決算期列の要素を会計基準と決算期に分割、それぞれの列に代入(同時に会計基準列を新規作成)
tables[11][['会計基準', '決算期']] = pd.DataFrame(list(tables[11]['決算期'].str.split(' ')))

In [455]:
# 列の並び替え
tables[11] = tables[11][['会計基準', '決算期', '売上高', '営業益', '経常益', '最終益', '１株益', '１株配', '発表日']]

In [456]:
# 100万円単位換算
tables[11][['売上高', '営業益', '経常益', '最終益']] = tables[11][['売上高', '営業益', '経常益', '最終益']].apply(lambda x: x * 1000000)

In [457]:
# 型変換
tables[11]['１株配'] = tables[11]['１株配'].astype(float)

In [458]:
# 日付のパース、datetime.dateへの型変換
# tables[11]['決算期'] = tables[11]['決算期'].apply(lambda x: datetime.strptime(x, '%Y.%m').date()) # 日付ではないので文字列のままの方がいいかも？
tables[11]['発表日'] = tables[11]['発表日'].apply(lambda x: parse(x, yearfirst=True).date())
# pandasのTimestampへの型変換
tables[11]['発表日'] = pd.to_datetime(tables[11]['発表日'], format='%Y-%m-%d')
# tables[11]['決算期'] = pd.to_datetime(tables[11]['決算期'], format='%Y-%m-%d')

In [459]:
tables[11]

,会計基準,決算期,売上高,営業益,経常益,最終益,１株益,１株配,発表日
0,連,1999.03,1.274901e+13,7.749450e+11,7.718850e+11,3.561800e+11,94.2,23.0,1999-05-24
1,連,2000.03,1.287956e+13,7.759820e+11,7.970580e+11,4.067980e+11,110.0,24.0,2000-05-17
2,連,2001.03,1.342442e+13,8.701310e+11,9.722730e+11,4.712950e+11,127.9,25.0,2001-05-16
3,連,2002.03,1.510630e+13,1.123470e+12,1.113524e+12,6.158240e+11,170.7,28.0,2002-05-13
4,U,2003.03,1.550155e+13,1.271646e+12,1.226652e+12,7.509420e+11,211.3,36.0,2003-05-08
5,U,2004.03,1.729476e+13,1.666890e+12,1.765793e+12,1.162098e+12,342.9,45.0,2004-05-11
6,U,2005.03,1.855153e+13,1.672187e+12,1.754637e+12,1.171260e+12,355.4,65.0,2005-05-10
7,U,2006.03,2.103691e+13,1.878342e+12,2.087360e+12,1.372180e+12,421.8,90.0,2006-05-10
8,U,2007.03,2.394809e+13,2.238683e+12,2.382516e+12,1.644032e+12,512.1,120.0,2007-05-09
9,U,2008.03,2.628924e+13,2.270375e+12,2.437222e+12,1.717879e+12,540.6,140.0,2008-05-08
10,U,2009.03,2.052957e+13,-4.610110e+11,-5.603810e+11,-4.369370e+11,-139.1,100.0,2009-05-08
11,U,2010.03,1.895097e+13,1.475160e+11,2.914680e+11,2.094560e+11,66.8,45.0,2010-05-11
12,U,2011.03,1.899369e+13,4.682790e+11,5.632900e+11,4.081830e+11,130.2,50.0,2011-05-11
13,U,2012.03,1.858365e+13,3.556270e+11,4.328730e+11,2.835590e+11,90.2,50.0,2012-05-09
14,U,2013.03,2.206419e+13,1.320888e+12,1.403649e+12,9.621630e+11,303.8,90.0,2013-05-08
15,U,2014.03,2.569191e+13,2.292112e+12,2.441080e+12,1.823119e+12,575.3,165.0,2014-05-08
16,U,2015.03,2.723452e+13,2.750564e+12,2.892828e+12,2.173338e+12,688.0,200.0,2015-05-08
17,U,2016.03,2.840312e+13,2.853971e+12,2.983381e+12,2.312694e+12,741.4,210.0,2016-05-11
18,U,2017.03,2.759719e+13,1.994372e+12,2.193825e+12,1.831109e+12,605.5,210.0,2017-05-10

In [463]:
tables[11].dtypes

会計基準            object
決算期             object
売上高            float64
営業益            float64
経常益            float64
最終益            float64
１株益            float64
１株配            float64
発表日     datetime64[ns]
dtype: object

## tables[12] 業績予想

In [197]:
tables[12].columns

Index(['決算期', '修正日', '修正方向', '売上高', '営業益', '経常益', '最終益', '修正配当', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13'],
      dtype='object')

In [198]:
tables[12].columns = ['会計基準', '決算期', '修正日', 
                                   '結合修正方向', '売上高修正方向', '営業益修正方向', '経常益修正方向', '最終益修正方向', '修正配当修正方向', 
                                   '売上高', '営業益', '経常益', '最終益', '修正配当',]

In [199]:
tables[12][tables[12].index % 2 == 0].reset_index(drop=True)

,会計基準,決算期,修正日,結合修正方向,売上高修正方向,営業益修正方向,経常益修正方向,最終益修正方向,修正配当修正方向,売上高,営業益,経常益,最終益,修正配当
0,U,2013.03,12/05/09,NaN,NaN,NaN,NaN,NaN,NaN,22000000.0,1000000.0,1160000.0,760000.0,－
1,U,NaN,12/11/05,↓↑↑↑‐,↓,↑,↑,↑,‐,21300000.0,1050000.0,1180000.0,780000.0,－
2,U,NaN,13/02/05,↑↑↑↑‐,↑,↑,↑,↑,‐,21800000.0,1150000.0,1290000.0,860000.0,－
3,U,実績,13/05/08,↑↑↑↑‐,↑,↑,↑,↑,‐,22064192.0,1320888.0,1403649.0,962163.0,90
4,U,2014.03,13/05/08,NaN,NaN,NaN,NaN,NaN,NaN,23500000.0,1800000.0,1890000.0,1370000.0,－
5,U,NaN,13/08/02,↑↑↑↑‐,↑,↑,↑,↑,‐,24000000.0,1940000.0,2030000.0,1480000.0,－
6,U,NaN,13/11/06,↑↑↑↑‐,↑,↑,↑,↑,‐,25000000.0,2200000.0,2290000.0,1670000.0,－
7,U,NaN,14/02/04,↑↑↑↑‐,↑,↑,↑,↑,‐,25500000.0,2400000.0,2530000.0,1900000.0,－
8,U,実績,14/05/08,↑↓↓↓‐,↑,↓,↓,↓,‐,25691911.0,2292112.0,2441080.0,1823119.0,165
9,U,2015.03,14/05/08,NaN,NaN,NaN,NaN,NaN,NaN,25700000.0,2300000.0,2390000.0,1780000.0,－
10,U,NaN,14/11/05,↑↑↑↑‐,↑,↑,↑,↑,‐,26500000.0,2500000.0,2700000.0,2000000.0,－
11,U,NaN,15/02/04,↑↑↑↑‐,↑,↑,↑,↑,‐,27000000.0,2700000.0,2920000.0,2130000.0,－
12,U,実績,15/05/08,↑↑↓↑‐,↑,↑,↓,↑,‐,27234521.0,2750564.0,2892828.0,2173338.0,200
13,U,2016.03,15/05/08,NaN,NaN,NaN,NaN,NaN,NaN,27500000.0,2800000.0,2970000.0,2250000.0,－
14,U,NaN,15/08/04,↑→↑→‐,↑,→,↑,→,‐,27800000.0,2800000.0,2980000.0,2250000.0,－
15,U,NaN,15/11/05,↓→→→‐,↓,→,→,→,‐,27500000.0,2800000.0,2980000.0,2250000.0,－
16,U,NaN,16/02/05,→→→↑‐,→,→,→,↑,‐,27500000.0,2800000.0,2980000.0,2270000.0,－
17,U,実績,16/05/11,↑↑↑↑‐,↑,↑,↑,↑,‐,28403118.0,2853971.0,2983381.0,2312694.0,210
18,U,2017.03,16/05/11,NaN,NaN,NaN,NaN,NaN,NaN,26500000.0,1700000.0,1900000.0,1500000.0,－
19,U,NaN,16/08/04,↓↓↓↓‐,↓,↓,↓,↓,‐,26000000.0,1600000.0,1780000.0,1450000.0,－
20,U,NaN,16/11/08,→↑↑↑‐,→,↑,↑,↑,‐,26000000.0,1700000.0,1900000.0,1550000.0,－
21,U,NaN,17/02/06,↑↑↑↑‐,↑,↑,↑,↑,‐,26500000.0,1850000.0,2070000.0,1700000.0,－
22,U,実績,17/05/10,↑↑↑↑‐,↑,↑,↑,↑,‐,27597193.0,1994372.0,2193825.0,1831109.0,210
23,U,2018.03,17/05/10,NaN,NaN,NaN,NaN,NaN,NaN,27500000.0,1600000.0,1800000.0,1500000.0,－
24,U,NaN,17/08/04,↑↑↑↑‐,↑,↑,↑,↑,‐,28500000.0,1850000.0,2050000.0,1750000.0,－
25,U,NaN,17/11/07,→↑↑↑‐,→,↑,↑,↑,‐,28500000.0,2000000.0,2250000.0,1950000.0,－

In [200]:
# 不要行
tables[12][tables[12].index % 2 != 0]

,会計基準,決算期,修正日,結合修正方向,売上高修正方向,営業益修正方向,経常益修正方向,最終益修正方向,修正配当修正方向,売上高,営業益,経常益,最終益,修正配当
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,↓,↑,↑,↑,‐,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,↑,↑,↑,↑,‐,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,↑,↑,↑,↑,‐,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,↑,↑,↑,↑,‐,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,↑,↑,↑,↑,‐,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,↑,↑,↑,↑,‐,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,↑,↓,↓,↓,‐,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,↑,↑,↑,↑,‐,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,↑,↑,↑,↑,‐,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,↑,↑,↓,↑,‐,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,↑,→,↑,→,‐,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,↓,→,→,→,‐,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,→,→,→,↑,‐,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,↑,↑,↑,↑,‐,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,↓,↓,↓,↓,‐,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,→,↑,↑,↑,‐,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,↑,↑,↑,↑,‐,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,↑,↑,↑,↑,‐,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,↑,↑,↑,↑,‐,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,→,↑,↑,↑,‐,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## tables[23] 過去最高 【実績】

In [201]:
tables[23]

  Unnamed: 0          売上高         営業益         経常益         最終益      １株益
0       過去最高  28403118.00  2853971.00  2983381.00  2312694.00   741.40
1        決算期      2016.03     2016.03     2016.03     2016.03  2016.03

## tables[24] 下期業績

In [202]:
tables[24]

,決算期,売上高,営業益,経常益,最終益,１株益,１株配,発表日
0,U 14.10-03,14288924.0,1398618.0,1383654.0,1046502.0,331.3,125,15/05/08
1,U 15.10-03,14311630.0,1270566.0,1308230.0,1054582.0,338.1,110,16/05/11
2,U 16.10-03,14526660.0,877507.0,1017291.0,884936.0,292.6,110,17/05/10
3,U 予 17.10-03,14308793.0,903459.0,997827.0,878672.0,298.6,－,17/11/07
4,前年同期比,-1.5,3.0,-1.9,-0.7,2.1,NaN,(%)

## tables[25] 第２四半期累計決算【実績】

In [203]:
tables[25]

,決算期,売上高,営業益,経常益,最終益,１株益,対通期進捗率,発表日
0,U 15.04-09,14091488.0,1583405.0,1675151.0,1258112.0,399.4,56.1,15/11/05
1,U 16.04-09,13070533.0,1116865.0,1176534.0,946173.0,311.1,53.6,16/11/08
2,U 17.04-09,14191207.0,1096541.0,1252173.0,1071328.0,359.6,55.7,17/11/07
3,前年同期比,8.6,-1.8,6.4,13.2,15.6,NaN,(%)

## tables[26] ３ヵ月業績の推移【実績】 累積ではなく差分？

In [204]:
tables[26]

,決算期,売上高,営業益,経常益,最終益,１株益,売上営業損益率,発表日
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,U 12.10-12,5318752.0,124757.0,131249.0,99914.0,31.6,2.3,13/02/05
2,U 13.01-03,5837086.0,502381.0,477863.0,313980.0,99.1,8.6,13/05/08
3,U 13.04-06,6255319.0,663383.0,724163.0,562194.0,177.4,10.6,13/08/02
4,U 13.07-09,6282166.0,592092.0,619362.0,438429.0,138.4,9.4,13/11/06
5,U 13.10-12,6585044.0,600509.0,678956.0,525464.0,165.8,9.1,14/02/04
6,U 14.01-03,6569382.0,436128.0,418599.0,297032.0,93.7,6.6,14/05/08
7,U 14.04-06,6390688.0,692728.0,771826.0,587774.0,185.4,10.8,14/08/05
8,U 14.07-09,6554909.0,659218.0,737348.0,539062.0,170.3,10.1,14/11/05
9,U 14.10-12,7170017.0,762880.0,846461.0,600027.0,189.7,10.6,15/02/04
10,U 15.01-03,7118907.0,635738.0,537193.0,446475.0,141.3,8.9,15/05/08
11,U 15.04-06,6987648.0,756001.0,845259.0,646394.0,205.4,10.8,15/08/04
12,U 15.07-09,7103840.0,827404.0,829892.0,611718.0,194.2,11.6,15/11/05
13,U 15.10-12,7339882.0,722266.0,777761.0,627965.0,200.2,9.8,16/02/05
14,U 16.01-03,6971748.0,548300.0,530469.0,426617.0,136.8,7.9,16/05/11
15,U 16.04-06,6589113.0,642230.0,677056.0,552465.0,181.1,9.7,16/08/04
16,U 16.07-09,6481420.0,474635.0,499478.0,393708.0,129.4,7.3,16/11/08
17,U 16.10-12,7084187.0,438586.0,587538.0,486531.0,160.4,6.2,17/02/06
18,U 17.01-03,7442473.0,438921.0,429753.0,398405.0,131.7,5.9,17/05/10
19,U 17.04-06,7047606.0,574294.0,679348.0,613056.0,205.1,8.1,17/08/04
20,U 17.07-09,7143601.0,522247.0,572825.0,458272.0,153.8,7.3,17/11/07
21,前年同期比,10.2,10.0,14.7,16.4,18.9,NaN,(%)
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## tables[27] 財務 【実績】

In [205]:
tables[27]
# 株プロに無い項目: 自己資本比率, 自己資本, 剰余金, 有利子負債倍率

,決算期,１株純資産,自己資本比率,総資産,自己資本,剰余金,有利子負債倍率,発表日
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,連 1998.03,1583.20,43.5,13854355.0,6021895.0,5213340.0,－,98/08/01
2,連 1999.03,1642.90,41.9,14753311.0,6175937.0,5367879.0,－,90/08/01
3,連 2000.03,1841.50,41.3,16469054.0,6796666.0,6014125.0,0.64,00/05/17
4,連 2001.03,1956.57,40.6,17519427.0,7114567.0,6162656.0,0.63,01/05/16
5,連 2002.03,2059.94,36.8,19888937.0,7325072.0,6527956.0,0.79,02/05/13
6,U 2003.03,2063.43,35.3,20152974.0,7121000.0,7219896.0,1.02,03/05/08
7,U 2004.03,2456.08,37.1,22040228.0,8178567.0,8326215.0,0.92,04/05/11
8,U 2005.03,2767.67,37.2,24335011.0,9044950.0,9332176.0,0.95,05/05/10
9,U 2006.03,3257.63,36.8,28731595.0,10560449.0,10459788.0,0.98,06/05/10
10,U 2007.03,3701.17,36.3,32574779.0,11836092.0,11764713.0,1.02,07/05/09
11,U 2008.03,3768.97,36.6,32458320.0,11869527.0,12408550.0,1.03,08/05/08
12,U 2009.03,3208.41,34.6,29062037.0,10061207.0,11531622.0,1.25,09/05/08
13,U 2010.03,3303.49,34.1,30349287.0,10359723.0,11568602.0,1.21,10/05/11
14,U 2011.03,3295.08,34.7,29818166.0,10332371.0,11835665.0,1.20,11/05/11
15,U 2012.03,3331.51,34.4,30650965.0,10550261.0,11917074.0,1.14,12/05/09
16,U 2013.03,3835.30,34.2,35483317.0,12148035.0,12689206.0,1.16,13/05/08
17,U 2014.03,4564.74,34.9,41437473.0,14469148.0,14116295.0,1.13,14/05/08
18,U 2015.03,5334.96,35.2,47729830.0,16788131.0,15591947.0,1.13,15/05/08
19,U 2016.03,5513.08,35.3,47427597.0,16746935.0,16794240.0,1.09,16/05/11
20,U 2017.03,5887.88,35.9,48750186.0,17514812.0,17601070.0,1.09,17/05/10
21,U 17.04-09,－,36.3,50253031.0,18253494.0,18338719.0,1.09,17/11/07
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [183]:
tables[29]

IndexError: list index out of range

# テーブル内容の確認 (未ログイン)

In [6]:
url = 'https://kabutan.jp/stock/finance?code=1301&mode=k#kakosaikou_zisseki'

tables = get_table(url)

In [8]:
len(tables)

22

In [31]:
# ページ上部の主要指標情報 1-4の各項目と同じところっぽい
tables[0]

,"日経平均 (11:30) 22,404.85 +53.73 0.24%",日経平均 (11:30),"22,404.85",+53.73,0.24%,米ドル円 (11:58) 112.40 -0.84 -0.74%,米ドル円 (11:58),112.40,-0.84,-0.74%,"ＮＹダウ (終値) 23,458.36 +187.08 0.80%",ＮＹダウ (終値),"23,458.36",+187.08,0.80%,"上海総合 (終値) 3,399.87 -0.79 -0.02%",上海総合 (終値),"3,399.87",-0.79,-0.02%
0,日経平均 (11:30),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,22404.85,53.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.24%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,米ドル円 (11:58),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,112.40,-0.84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,-0.74%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,ＮＹダウ (終値),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,23458.36,187.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,0.80%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,上海総合 (終値),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,3399.87,-0.79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,-0.02%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# 主要指標情報 日経平均
tables[1]

  日経平均 (11:30)  Unnamed: 1
0     22404.85       53.73
1        0.24%         NaN

In [10]:
# 主要指標情報 米ドル円
tables[2]

  米ドル円 (11:58)  Unnamed: 1
0       112.40       -0.84
1       -0.74%         NaN

In [11]:
# 主要指標情報 ＮＹダウ (終値)
tables[3]

  ＮＹダウ (終値)  Unnamed: 1
0  23458.36      187.08
1     0.80%         NaN

In [12]:
# 主要指標情報 上海総合 (終値)
tables[4]

  上海総合 (終値)  Unnamed: 1
0   3399.87       -0.79
1    -0.02%         NaN

In [13]:
# 検索窓
tables[5]

Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 1, Unnamed: 2, Unnamed: 3, 「株探」で配信したニュース記事を検索します, Unnamed: 5]
Index: []

In [14]:
# 銘柄概要
tables[6]

,1301 極洋 東証１ 11:29,1301,極洋,東証１,11:29,Unnamed: 5
0,1301,極洋,東証１,11:29,NaN,NaN
1,"3,645円 前日比 -30 (-0.82%) 比較される銘柄： マルハニチロ 、日水 、カネコ種","3,645円",前日比,-30,(-0.82%),比較される銘柄： マルハニチロ 、日水 、カネコ種
2,"3,645円",前日比,-30,(-0.82%),NaN,NaN
3,比較される銘柄： マルハニチロ 、日水 、カネコ種,NaN,NaN,NaN,NaN,NaN

In [15]:
# 銘柄概要
tables[7]

Empty DataFrame
Columns: [1301, 極洋, 東証１, 11:29]
Index: []

In [16]:
# 銘柄概要
tables[8]

                      3,645円  前日比  -30  (-0.82%)
0  比較される銘柄： マルハニチロ 、日水 、カネコ種  NaN  NaN       NaN

In [17]:
# 銘柄概要
tables[9]

       業績：
0   水産・農林業
1  単位 100株

In [18]:
# ＰＥＲ ＰＢＲ 利回り 信用倍率
tables[10]

     ＰＥＲ    ＰＢＲ    利回り   信用倍率
0  14.2倍  1.46倍  1.37％  1.80倍

In [19]:
# 通期業績
tables[11]
# 株プロに無い項目: １株配

         決算期       売上高     営業益     経常益     最終益    １株益   １株配       発表日
0        NaN       NaN     NaN     NaN     NaN    NaN   NaN       NaN
1    2014.03  202387.0  2915.0  2985.0  2968.0   28.3   5.0  14/05/09
2    2015.03  218350.0  2460.0  2107.0  2433.0   23.2   5.0  15/05/08
3    2016.03  226626.0  2433.0  2814.0  1799.0   17.1   5.0  16/05/09
4    2017.03  236561.0  3723.0  3709.0  2422.0  230.7  60.0  17/05/11
5  予 2018.03  250000.0  4000.0  4000.0  2700.0  257.0  50.0  17/05/11
6        前期比       5.7     7.4     7.8    11.5   11.4   NaN       (%)
7        NaN       NaN     NaN     NaN     NaN    NaN   NaN       NaN

In [20]:
# 業績予想修正履歴
tables[12]

,決算期,修正日,修正方向,売上高,営業益,経常益,最終益,修正配当,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,2013.03,12/05/11,NaN,NaN,NaN,NaN,NaN,NaN,185000.0,3200.0,3100.0,1800.0,50.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,12/10/26,↓↓↓↓→,↓,↓,↓,↓,→,175000.0,2000.0,2200.0,1100.0,50.0
3,↓,↓,↓,↓,→,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,実績,13/05/10,↑↑↑↑→,↑,↑,↑,↑,→,178046.0,2324.0,2262.0,1269.0,50.0
5,↑,↑,↑,↑,→,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,2014.03,13/05/10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,13/10/21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,実績,14/05/09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,2015.03,14/05/09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,14/10/27,「株探プレミアム」では、直近5期の修正履歴をご覧いただけます。,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,実績,15/05/08,利用ご希望の方は、「株探プレミアムのご紹介」ページから,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,2016.03,15/05/08,お申し込みいただけます。,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,15/10/26,── 「株探プレミアム」の30日間無料体験を実施中！ ──,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,実績,16/05/09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,2017.03,16/05/09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,17/02/17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,実績,17/05/11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,2018.03,17/05/11,NaN,NaN,NaN,NaN,NaN,NaN,250000.0,4000.0,4000.0,2700.0,50.0
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# 不明
tables[13]

Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 1, Unnamed: 2, Unnamed: 3, Unnamed: 4]
Index: []

In [22]:
# 修正履歴修正方向
tables[14]

Empty DataFrame
Columns: [↓, ↓.1, ↓.2, ↓.3, →]
Index: []

In [23]:
# 修正履歴修正方向
tables[15]

Empty DataFrame
Columns: [↑, ↑.1, ↑.2, ↑.3, →]
Index: []

In [24]:
# 過去最高 【実績】
tables[16]

  Unnamed: 0        売上高      営業益      経常益     最終益      １株益
0       過去最高  236561.00  3723.00  3709.00  5540.0   230.70
1        決算期    2017.03  2017.03  2017.03  1985.1  2017.03

In [25]:
# 下期業績
tables[17]

          決算期       売上高     営業益     経常益     最終益    １株益   １株配       発表日
0    14.10-03  115874.0  1739.0  1421.0   168.0    1.6   5.0  15/05/08
1    15.10-03  118127.0  1307.0  1407.0   888.0    8.5   5.0  16/05/09
2    16.10-03  126991.0  2552.0  2705.0  1236.0  117.7  60.0  17/05/11
3  予 17.10-03  129542.0  1754.0  1604.0  1067.0  101.6  50.0  17/11/06
4       前年同期比       2.0   -31.3   -40.7   -13.7  -13.7   NaN       (%)

In [26]:
# 第２四半期累計決算【実績】
tables[18]

        決算期       売上高     営業益   経常益     最終益    １株益  対通期進捗率       発表日
0  15.04-09  108499.0  1126.0  1407   911.0    8.7    50.0  15/11/06
1  16.04-09  109570.0  1171.0  1004  1186.0  113.0    27.1  16/11/04
2  17.04-09  120458.0  2246.0  2396  1633.0  155.5    59.9  17/11/06
3     前年同期比       9.9    91.8  2.4倍    37.7   37.6     NaN       (%)

In [27]:
# ３ヵ月業績の推移【実績】
# 累積ではなく差分？
tables[19]

         決算期      売上高     営業益   経常益     最終益    １株益  売上営業損益率       発表日
0        NaN      NaN     NaN   NaN     NaN    NaN      NaN       NaN
1   15.10-12  70391.0  1341.0  1281   222.0    2.1      1.9  16/02/05
2   16.01-03  47736.0   -34.0   126   666.0    6.3     -0.1  16/05/09
3   16.04-06  52206.0   467.0   380   551.0    5.2      0.9  16/08/05
4   16.07-09  57364.0   704.0   624   635.0   60.5      1.2  16/11/04
5   16.10-12  70405.0  1701.0  1823  1263.0  120.3      2.4  17/02/10
6   17.01-03  56586.0   851.0   882   -27.0   -2.6      1.5  17/05/11
7   17.04-06  56844.0   979.0  1103   754.0   71.8      1.7  17/08/04
8   17.07-09  63614.0  1267.0  1293   879.0   83.7      2.0  17/11/06
9      前年同期比     10.9    80.0  2.1倍    38.4   38.3      NaN       (%)
10       NaN      NaN     NaN   NaN     NaN    NaN      NaN       NaN

In [28]:
# 財務 【実績】
tables[20]
# 株プロに無い項目: 自己資本比率, 自己資本, 剰余金, 有利子負債倍率

        決算期    １株純資産  自己資本比率       総資産     自己資本      剰余金  有利子負債倍率       発表日
0       NaN      NaN     NaN       NaN      NaN      NaN      NaN       NaN
1   2015.03   215.65    25.5   88937.0  22649.0  16537.0     2.09  15/05/08
2   2016.03   214.97    23.9   94608.0  22578.0  17739.0     2.24  16/05/09
3   2017.03  2378.09    25.6   97391.0  24976.0  19637.0     2.04  17/05/11
4  17.04-09        －    22.0  119806.0  26312.0  20640.0     2.50  17/11/06
5       NaN      NaN     NaN       NaN      NaN      NaN      NaN       NaN

In [29]:
# 日経平均チャート切り替え
tables[21]

  Unnamed: 0  日中足
0        日　足  NaN