# memo

※単位：売上高、営業益、経常益、最終益は「百万円」。１株益、１株配は「円」。率は「％」

※１株純資産は「円」。自己資本比率は「％」。総資産、自己資本、剰余金は「百万円」。有利子負債倍率は「倍」

・「連」：日本会計基準［連結決算］、「単」：日本会計基準［非連結決算(単独決算)］、「U」：米国会計基準、「I」：国際会計基準(IFRS)、
「予」：予想業績、「旧」：修正前の予想業績、「新」：修正後の予想業績、「実」：実績業績、「変」：決算期変更

・［連結／非連結］決算区分の変更があった場合は、連続的に業績推移を追えるように、連結と非連結を混在して表示しています。
連結と非連結が混在しない場合は、「連」「単」表記は省略します。

・前期比および前年同期比は、会計基準や決算期間が異なる場合は比較できないため、「－」で表記しています。

・米国会計基準と国際会計基準では、「経常益」欄の数値は「税引き前利益」を表記しています。

・業績予想がレンジで開示された場合は中央値を表記しています。

25935 伊藤園第1種優先株式 ない

# import など準備

## import, MySQL 接続

In [2]:
# import
import sys
import os
import re
import datetime as dt
import time
import importlib
import logging
import numpy as np
import pandas as pd
from robobrowser import RoboBrowser
# from robobrowser.browser import RoboState
from retry import retry
from dateutil.parser import parse
from datetime import datetime

import stock

In [ ]:
importlib.reload(stock)

In [3]:
# pandas の最大表示列数を設定 (max_rows で表示行数の設定も可能)
pd.set_option('display.max_columns', 30)

In [4]:
sql = stock.sql()

## 比較参照用、株プロ決算の読み込み

In [3]:
table_name = 'kabupro_kessan'

In [6]:
kabupro = sql.read_table(table_name)

In [10]:
kabupro

,証券コード,企業名,会計基準,連結個別,決算期,決算期間,期首,期末,名寄前勘定科目 (売上高欄),売上高,営業利益,経常利益,純利益,一株当り純利益,希薄化後一株当り純利益,純資産又は株主資本,総資産,一株当り純資産,営業キャッシュフロー,投資キャッシュフロー,財務キャッシュフロー,情報公開日 (更新日)
0,1301,極洋,日本基準,個別,2013年3月期,第2四半期,2012-04-01,2012-09-30,売上高,7.654600e+10,1.530000e+08,3.530000e+08,7.900000e+07,0.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-10-21
1,1301,極洋,日本基準,個別,2013年3月期,通期,2012-04-01,2013-03-31,売上高,1.606100e+11,9.900000e+08,1.392000e+09,8.060000e+08,7.68,NaN,1.481800e+10,7.049200e+10,141.08,NaN,NaN,NaN,2014-05-09
2,1301,極洋,日本基準,個別,2014年3月期,第2四半期,2013-04-01,2013-09-30,売上高,8.816100e+10,1.367000e+09,1.457000e+09,1.834000e+09,17.46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-10-27
3,1301,極洋,日本基準,個別,2014年3月期,通期,2013-04-01,2014-03-31,売上高,1.920260e+11,2.471000e+09,2.546000e+09,1.806000e+09,17.20,16.77,1.616400e+10,7.038100e+10,153.90,NaN,NaN,NaN,2015-05-08
4,1301,極洋,日本基準,個別,2015年3月期,第2四半期,2014-04-01,2014-09-30,売上高,9.947600e+10,8.900000e+08,9.500000e+08,2.504000e+09,23.84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-26
5,1301,極洋,日本基準,個別,2015年3月期,通期,2014-04-01,2015-03-31,売上高,2.120860e+11,1.894000e+09,2.042000e+09,2.139000e+09,20.37,18.78,1.769500e+10,7.351900e+10,168.48,NaN,NaN,NaN,2015-05-08
6,1301,極洋,日本基準,個別,2015年3月期,通期,2014-04-01,2015-03-31,売上高,2.120860e+11,1.894000e+09,2.042000e+09,2.139000e+09,20.37,18.78,1.769500e+10,7.351900e+10,168.48,NaN,NaN,NaN,2016-05-09
7,1301,極洋,日本基準,個別,2016年3月期,通期,2015-04-01,2016-03-31,売上高,2.163500e+11,2.211000e+09,2.432000e+09,1.259000e+09,119.87,110.51,1.781700e+10,7.814000e+10,1696.42,NaN,NaN,NaN,2017-05-11
8,1301,極洋,日本基準,個別,2017年3月期,通期,2016-04-01,2017-03-31,売上高,2.280830e+11,3.187000e+09,2.835000e+09,2.194000e+09,208.94,192.95,2.011700e+10,8.130600e+10,1915.42,NaN,NaN,NaN,2017-05-11
9,1301,極洋,日本基準,連結,2013年3月期,第1四半期,2012-04-01,2012-06-30,売上高,4.319100e+10,4.690000e+08,6.770000e+08,3.350000e+08,3.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-08-05
10,1301,極洋,日本基準,連結,2013年3月期,第2四半期,2012-04-01,2012-09-30,売上高,8.554100e+10,3.930000e+08,6.120000e+08,1.600000e+08,1.53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-10-21
11,1301,極洋,日本基準,連結,2013年3月期,第3四半期,2012-04-01,2012-12-31,売上高,1.377930e+11,1.824000e+09,1.960000e+09,9.520000e+08,9.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-02-05
12,1301,極洋,日本基準,連結,2013年3月期,通期,2012-04-01,2013-03-31,売上高,1.780460e+11,2.324000e+09,2.262000e+09,1.269000e+09,12.08,NaN,1.868300e+10,8.324500e+10,175.54,7.384000e+09,-4.690000e+08,-6.614000e+09,2014-05-09
13,1301,極洋,日本基準,連結,2014年3月期,第1四半期,2013-04-01,2013-06-30,売上高,4.485800e+10,1.006000e+09,1.104000e+09,8.770000e+08,8.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-08-05
14,1301,極洋,日本基準,連結,2014年3月期,第2四半期,2013-04-01,2013-09-30,売上高,9.410100e+10,1.404000e+09,1.500000e+09,1.880000e+09,17.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-11-07
15,1301,極洋,日本基準,連結,2014年3月期,第3四半期,2013-04-01,2013-12-31,売上高,1.571560e+11,2.875000e+09,2.950000e+09,2.724000e+09,25.94,25.77,NaN,NaN,NaN,NaN,NaN,NaN,2015-02-04
16,1301,極洋,日本基準,連結,2014年3月期,通期,2013-04-01,2014-03-31,売上高,2.023870e+11,2.915000e+09,2.985000e+09,2.968000e+09,28.26,27.55,1.993000e+10,8.431900e+10,187.57,1.910000e+09,-1.900000e+09,-5.120000e+08,2015-05-08
17,1301,極洋,日本基準,連結,2015年3月期,第1四半期,2014-04-01,2014-06-30,売上高,4.867500e+10,3.190000e+08,3.890000e+08,2.230000e+08,2.13,1.96,1.917100e+10,9.166900e+10,NaN,NaN,NaN,NaN,2014-08-05
18,1301,極洋,日本基準,連結,2015年3月期,第1四半期,2014-04-01,2014-06-30,売上高,4.867500e+10,3.190000e+08,3.890000e+08,2.230000e+08,2.13,1.96,NaN,NaN,NaN,NaN,NaN,NaN,2015-08-03
19,1301,極洋,日本基準,連結,2015年3月期,第2四半期,2014-04-01,2014-09-30,売上高,1.024760e+11,7.210000e+08,6.860000e+08,2.265000e+09,21.57,19.89,2.233800e+10,9.572100e+10,NaN,NaN,NaN,NaN,2014-11-07
20,1301,極洋,日本基準,連結,2015年3月期,第2四半期,2014-04-01,2014-09-30,売上高,1.024760e+11,7.210000e+08,6.860000e+08,2.265000e+09,21.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-26
21,1301,極洋,日本基準,連結,2015年3月期,第3四半期,2014-04-01,2014-12-31,売上高,1.701400e+11,2.293000e+09,1.974000e+09,2.806000e+09,26.72,24.63,2.360300e+10,1.068710e+11,NaN,NaN,NaN,NaN,2015-02-04
22,1301,極洋,日本基準,連結,2015年3月期,第3四半期,2014-04-01,2014-12-31,売上高,1.701400e+11,2.293000e+09,1.974000e+09,2.806000e+09,26.72,24.63,NaN,NaN,NaN,NaN,NaN,NaN,2016-02-05
23,1301,極洋,日本基準,連結,2015年3月期,通期,2014-04-01,2015-03-31,売上高,2.183500e+11,2.460000e+09,2.107000e+09,2.433000e+09,23.17,21.36,2.306900e+10,8.893700e+10,215.65,-2.340000e+09,-7.620000e+08,3.698000e+09,2015-05-08
24,1301,極洋,日本基準,連結,2015年3月期,通期,2014-04-01,2015-03-31,売上高,2.183500e+11,2.460000e+09,2.107000e+09,2.433000e+09,23.17,21.36,2.306900e+10,8.893700e+10,215.65,-2.340000e+09,-7.620000e+08,3.698000e+09,2016-05-09
25,1301,極洋,日本基準,連結,2016年3月期,第1四半期,2015-04-01,2015-06-30,売上高,5.016800e+10,2.730000e+08,4.920000e+08,3.160000e+08,3.02,2.78,NaN,NaN,NaN,NaN,NaN,NaN,2016-08-05
26,1301,極洋,日本基準,連結,2016年3月期,第2四半期,2015-04-01,2015-09-30,売上高,1.084990e+11,1.126000e+09,1.407000e+09,9.110000e+08,86.74,79.97,NaN,NaN,NaN,NaN,NaN,NaN,2016-11-04
27,1301,極洋,日本基準,連結,2016年3月期,第3四半期,2015-04-01,2015-12-31,売上高,1.788900e+11,2.467000e+09,2.688000e+09,1.133000e+09,107.94,99.51,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-10
28,1301,極洋,日本基準,連結,2016年3月期,通期,2015-04-01,2016-03-31,売上高,2.266260e+11,2.433000e+09,2.814000e+09,1.799000e+09,171.33,157.94,2.306500e+10,9.460800e+10,2149.67,2.689000e+09,-5.114000e+09,2.482000e+09,2017-05-11
29,1301,極洋,日本基準,連結,2017年3月期,第1四半期,2016-04-01,2016-06-30,売上高,5.220600e+10,4.670000e+08,3.800000e+08,5.510000e+08,52.47,48.37,NaN,NaN,NaN,NaN,NaN,NaN,2017-08-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109496,9997,ベルーナ,日本基準,個別,2015年3月期,通期,2014-04-01,2015-03-31,売上高,8.891000e+10,3.754000e+09,7.340000e+09,4.630000e+09,47.62,NaN,6.187100e+10,1.377460e+11,636.29,NaN,NaN,NaN,2015-05-15
109497,9997,ベルーナ,日本基準,個別,2015年3月期,通期,2014-04-01,2015-03-31,売上高,8.891000e+10,3.754000e+09,7.340000e+09,4.630000e+09,47.62,NaN,6.187100e+10,1.377460e+11,636.29,NaN,NaN,NaN,2016-05-11
109498,9997,ベルーナ,日本基準,個別,2016年3月期,通期,2015-04-01,2016-03-31,売上高,9.289900e+10,5.404000e+09,4.871000e+09,2.178000e+09,22.40,NaN,6.212200e+10,1.454570e+11,638.88,NaN,NaN,NaN,2017-05-11
109499,9997,ベルーナ,日本基準,個別,2017年3月期,通期,2016-04-01,2017-03-31,売上高,9.959900e+10,6.992000e+09,8.114000e+09,2.917000e+09,30.00,NaN,6.429200e+10,1.565290e+11,661.19,NaN,NaN,NaN,2017-05-11
109500,9997,ベルーナ,日本基準,連結,2013年3月期,第1四半期,2012-04-01,2012-06-30,売上高,3.174900e+10,2.120000e+09,2.398000e+09,1.792000e+09,36.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-08-02
109501,9997,ベルーナ,日本基準,連結,2013年3月期,第2四半期,2012-04-01,2012-09-30,売上高,5.424200e+10,2.173000e+09,2.535000e+09,1.828000e+09,18.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-11-01
109502,9997,ベルーナ,日本基準,連結,2013年3月期,第3四半期,2012-04-01,2012-12-31,売上高,8.976600e+10,5.079000e+09,5.960000e+09,3.545000e+09,36.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-01-31
109503,9997,ベルーナ,日本基準,連結,2013年3月期,通期,2012-04-01,2013-03-31,売上高,1.178840e+11,7.080000e+09,8.910000e+09,5.870000e+09,60.18,NaN,6.661200e+10,1.150790e+11,685.03,7.275000e+09,-7.633000e+09,2.114000e+09,2014-05-14
109504,9997,ベルーナ,日本基準,連結,2014年3月期,第1四半期,2013-04-01,2013-06-30,売上高,3.706900e+10,2.257000e+09,2.465000e+09,1.560000e+09,16.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-31
109505,9997,ベルーナ,日本基準,連結,2014年3月期,第2四半期,2013-04-01,2013-09-30,売上高,6.043200e+10,2.526000e+09,3.131000e+09,1.962000e+09,20.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-10-31
109506,9997,ベルーナ,日本基準,連結,2014年3月期,第3四半期,2013-04-01,2013-12-31,売上高,9.601400e+10,6.273000e+09,8.185000e+09,5.424000e+09,55.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-30
109507,9997,ベルーナ,日本基準,連結,2014年3月期,通期,2013-04-01,2014-03-31,売上高,1.254120e+11,7.798000e+09,1.043100e+10,7.013000e+09,72.12,NaN,7.348000e+10,1.306480e+11,755.67,5.766000e+09,-1.539700e+10,1.072100e+10,2015-05-15
109508,9997,ベルーナ,日本基準,連結,2015年3月期,第1四半期,2014-04-01,2014-06-30,売上高,3.306800e+10,1.106000e+09,1.267000e+09,8.740000e+08,8.99,NaN,7.383800e+10,1.342050e+11,NaN,NaN,NaN,NaN,2014-07-31
109509,9997,ベルーナ,日本基準,連結,2015年3月期,第1四半期,2014-04-01,2014-06-30,売上高,3.306800e+10,1.106000e+09,1.267000e+09,8.740000e+08,8.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-07-31
109510,9997,ベルーナ,日本基準,連結,2015年3月期,第2四半期,2014-04-01,2014-09-30,売上高,5.631400e+10,1.253000e+09,2.964000e+09,2.051000e+09,21.09,NaN,7.515800e+10,1.360600e+11,NaN,NaN,NaN,NaN,2014-10-31
109511,9997,ベルーナ,日本基準,連結,2015年3月期,第2四半期,2014-04-01,2014-09-30,売上高,5.631400e+10,1.253000e+09,2.964000e+09,2.051000e+09,21.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-30
109512,9997,ベルーナ,日本基準,連結,2015年3月期,第3四半期,2014-04-01,2014-12-31,売上高,9.268800e+10,5.163000e+09,8.720000e+09,5.397000e+09,55.51,NaN,7.814300e+10,1.551150e+11,NaN,NaN,NaN,NaN,2015-01-30
109513,9997,ベルーナ,日本基準,連結,2015年3月期,第3四半期,2014-04-01,2014-12-31,売上高,9.268800e+10,5.163000e+09,8.720000e+09,5.397000e+09,55.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-29
109514,9997,ベルーナ,日本基準,連結,2015年3月期,通期,2014-04-01,2015-03-31,売上高,1.206890e+11,6.376000e+09,1.005200e+10,6.394000e+09,65.77,NaN,7.951000e+10,1.522240e+11,814.97,9.089000e+09,-2.019100e+10,1.257100e+10,2015-05-15
109515,9997,ベルーナ,日本基準,連結,2015年3月期,通期,2014-04-01,2015-03-31,売上高,1.206890e+11,6.376000e+09,1.005200e+10,6.394000e+09,65.77,NaN,7.951000e+10,1.522240e+11,814.97,9.089000e+09,-2.019100e+10,1.257100e+10,2016-05-11
109516,9997,ベルーナ,日本基準,連結,2016年3月期,第1四半期,2015-04-01,2015-06-30,売上高,3.404400e+10,1.846000e+09,2.369000e+09,1.567000e+09,16.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-29
109517,9997,ベルーナ,日本基準,連結,2016年3月期,第2四半期,2015-04-01,2015-09-30,売上高,6.215800e+10,3.107000e+09,3.170000e+09,1.855000e+09,19.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-31
109518,9997,ベルーナ,日本基準,連結,2016年3月期,第3四半期,2015-04-01,2015-12-31,売上高,1.009280e+11,6.401000e+09,7.108000e+09,4.590000e+09,47.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-01-31
109519,9997,ベルーナ,日本基準,連結,2016年3月期,通期,2015-04-01,2016-03-31,売上高,1.317420e+11,8.366000e+09,7.105000e+09,3.544000e+09,36.45,NaN,8.064600e+10,1.610550e+11,824.56,9.176000e+09,-9.497000e+09,3.059000e+09,2017-05-11
109520,9997,ベルーナ,日本基準,連結,2017年3月期,第1四半期,2016-04-01,2016-06-30,売上高,3.719300e+10,2.411000e+09,-1.377000e+09,-1.084000e+09,-11.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-31
109521,9997,ベルーナ,日本基準,連結,2017年3月期,第2四半期,2016-04-01,2016-09-30,売上高,6.667900e+10,3.145000e+09,-8.020000e+08,-8.270000e+08,-8.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-10-31
109522,9997,ベルーナ,日本基準,連結,2017年3月期,第3四半期,2016-04-01,2016-12-31,売上高,1.096390e+11,7.711000e+09,9.423000e+09,6.321000e+09,65.01,NaN,8.604400e+10,1.794910e+11,NaN,NaN,NaN,NaN,2017-01-31
109523,9997,ベルーナ,日本基準,連結,2017年3月期,通期,2016-04-01,2017-03-31,売上高,1.460830e+11,1.088200e+10,1.218800e+10,5.802000e+09,59.68,NaN,8.777300e+10,1.790240e+11,872.86,8.214000e+09,-9.945000e+09,2.995000e+09,2017-05-11
109524,9997,ベルーナ,日本基準,連結,2018年3月期,第1四半期,2017-04-01,2017-06-30,売上高,4.115300e+10,2.870000e+09,3.544000e+09,3.105000e+09,31.94,NaN,8.933200e+10,1.826190e+11,NaN,NaN,NaN,NaN,2017-07-31
109525,9997,ベルーナ,日本基準,連結,2018年3月期,第2四半期,2017-04-01,2017-09-30,売上高,7.486300e+10,4.231000e+09,5.531000e+09,4.333000e+09,44.56,NaN,8.978500e+10,1.873070e+11,NaN,NaN,NaN,NaN,2017-10-31

In [5]:
kabupro.columns

Index(['証券コード', '企業名', '会計基準', '連結個別', '決算期', '決算期間', '期首', '期末',
       '名寄前勘定科目 (売上高欄)', '売上高', '営業利益', '経常利益', '純利益', '一株当り純利益',
       '希薄化後一株当り純利益', '純資産又は株主資本', '総資産', '一株当り純資産', '営業キャッシュフロー',
       '投資キャッシュフロー', '財務キャッシュフロー', '情報公開日 (更新日)'],
      dtype='object')

In [43]:
kabupro.ix[14]
# 株プロにしか無い項目: 希薄化後一株当り純利益, 純資産又は株主資本, 営業キャッシュフロー, 投資キャッシュフロー, 財務キャッシュフロー

証券コード                            1301
企業名                                極洋
会計基準                             日本基準
連結個別                               連結
決算期                          2014年3月期
決算期間                            第2四半期
期首                2013-04-01 00:00:00
期末                2013-09-30 00:00:00
名寄前勘定科目 (売上高欄)                    売上高
売上高                        9.4101e+10
営業利益                        1.404e+09
経常利益                          1.5e+09
純利益                          1.88e+09
一株当り純利益                          17.9
希薄化後一株当り純利益                       NaN
純資産又は株主資本                         NaN
総資産                               NaN
一株当り純資産                           NaN
営業キャッシュフロー                        NaN
投資キャッシュフロー                        NaN
財務キャッシュフロー                        NaN
情報公開日 (更新日)       2014-11-07 00:00:00
Name: 14, dtype: object

# 銘柄コードリスト

In [16]:
domestic_stock_table = sql.read_table('domestic_stock_table')

In [17]:
domestic_stock_table

,date,code,name,market,code_33,category_33,code_17,category_17,code_scale,scale
0,20171031,1301,極洋,市場第一部（内国株）,50,水産・農林業,1,食品,7,TOPIX Small 2
1,20171031,1332,日本水産,市場第一部（内国株）,50,水産・農林業,1,食品,4,TOPIX Mid400
2,20171031,1333,マルハニチロ,市場第一部（内国株）,50,水産・農林業,1,食品,4,TOPIX Mid400
3,20171031,1352,ホウスイ,市場第一部（内国株）,6050,卸売業,13,商社・卸売,7,TOPIX Small 2
4,20171031,1376,カネコ種苗,市場第一部（内国株）,50,水産・農林業,1,食品,7,TOPIX Small 2
5,20171031,1377,サカタのタネ,市場第一部（内国株）,50,水産・農林業,1,食品,6,TOPIX Small 1
6,20171031,1379,ホクト,市場第一部（内国株）,50,水産・農林業,1,食品,6,TOPIX Small 1
7,20171031,1380,秋川牧園,JASDAQ(スタンダード・内国株）,50,水産・農林業,1,食品,-,-
8,20171031,1381,アクシーズ,JASDAQ(スタンダード・内国株）,50,水産・農林業,1,食品,-,-
9,20171031,1382,ホーブ,JASDAQ(スタンダード・内国株）,50,水産・農林業,1,食品,-,-
10,20171031,1383,ベルグアース,JASDAQ(スタンダード・内国株）,50,水産・農林業,1,食品,-,-
11,20171031,1384,ホクリヨウ,市場第一部（内国株）,50,水産・農林業,1,食品,7,TOPIX Small 2
12,20171031,1400,ルーデン・ホールディングス,JASDAQ(グロース・内国株）,2050,建設業,3,建設・資材,-,-
13,20171031,1401,エムビーエス,マザーズ（内国株）,2050,建設業,3,建設・資材,-,-
14,20171031,1407,ウエストホールディングス,JASDAQ(スタンダード・内国株）,2050,建設業,3,建設・資材,-,-
15,20171031,1408,サムシングホールディングス,JASDAQ(グロース・内国株）,2050,建設業,3,建設・資材,-,-
16,20171031,1413,桧家ホールディングス,市場第二部（内国株）,2050,建設業,3,建設・資材,-,-
17,20171031,1414,ショーボンドホールディングス,市場第一部（内国株）,2050,建設業,3,建設・資材,6,TOPIX Small 1
18,20171031,1417,ミライト・ホールディングス,市場第一部（内国株）,2050,建設業,3,建設・資材,6,TOPIX Small 1
19,20171031,1418,インターライフホールディングス,JASDAQ(スタンダード・内国株）,2050,建設業,3,建設・資材,-,-
20,20171031,1419,タマホーム,市場第一部（内国株）,2050,建設業,3,建設・資材,7,TOPIX Small 2
21,20171031,1420,サンヨーホームズ,市場第一部（内国株）,2050,建設業,3,建設・資材,7,TOPIX Small 2
22,20171031,1429,日本アクア,マザーズ（内国株）,2050,建設業,3,建設・資材,-,-
23,20171031,1430,ファーストコーポレーション,市場第一部（内国株）,2050,建設業,3,建設・資材,7,TOPIX Small 2
24,20171031,1433,ベステラ,市場第一部（内国株）,2050,建設業,3,建設・資材,7,TOPIX Small 2
25,20171031,1434,ＪＥＳＣＯホールディングス,市場第二部（内国株）,2050,建設業,3,建設・資材,-,-
26,20171031,1435,インベスターズクラウド,市場第一部（内国株）,2050,建設業,3,建設・資材,7,TOPIX Small 2
27,20171031,1436,フィット,マザーズ（内国株）,2050,建設業,3,建設・資材,-,-
28,20171031,1439,安江工務店,JASDAQ(スタンダード・内国株）,2050,建設業,3,建設・資材,-,-
29,20171031,1491,中外鉱業,市場第二部（内国株）,3500,非鉄金属,7,鉄鋼・非鉄,-,-
...,...,...,...,...,...,...,...,...,...,...
3518,20171031,9957,バイテックホールディングス,市場第一部（内国株）,6050,卸売業,13,商社・卸売,7,TOPIX Small 2
3519,20171031,9959,アシードホールディングス,市場第二部（内国株）,6100,小売業,14,小売,-,-
3520,20171031,9960,東テク,市場第二部（内国株）,6050,卸売業,13,商社・卸売,-,-
3521,20171031,9962,ミスミグループ本社,市場第一部（内国株）,6050,卸売業,13,商社・卸売,4,TOPIX Mid400
3522,20171031,9964,アイ・テック,JASDAQ(スタンダード・内国株）,6050,卸売業,13,商社・卸売,-,-
3523,20171031,9966,藤久,市場第一部（内国株）,6100,小売業,14,小売,7,TOPIX Small 2
3524,20171031,9967,堺商事,市場第二部（内国株）,6050,卸売業,13,商社・卸売,-,-
3525,20171031,9969,ショクブン,市場第二部（内国株）,6100,小売業,14,小売,-,-
3526,20171031,9972,アルテック,市場第一部（内国株）,6050,卸売業,13,商社・卸売,7,TOPIX Small 2
3527,20171031,9973,小僧寿し,JASDAQ(スタンダード・内国株）,6100,小売業,14,小売,-,-
3528,20171031,9974,ベルク,市場第一部（内国株）,6100,小売業,14,小売,7,TOPIX Small 2
3529,20171031,9976,セキチュー,JASDAQ(スタンダード・内国株）,6100,小売業,14,小売,-,-
3530,20171031,9977,アオキスーパー,JASDAQ(スタンダード・内国株）,6100,小売業,14,小売,-,-
3531,20171031,9978,文教堂グループホールディングス,JASDAQ(スタンダード・内国株）,6100,小売業,14,小売,-,-
3532,20171031,9979,大庄,市場第一部（内国株）,6100,小売業,14,小売,7,TOPIX Small 2
3533,20171031,9980,マルコ,市場第二部（内国株）,6100,小売業,14,小売,-,-
3534,20171031,9982,タキヒヨー,市場第一部（内国株）,6050,卸売業,13,商社・卸売,7,TOPIX Small 2
3535,20171031,9983,ファーストリテイリング,市場第一部（内国株）,6100,小売業,14,小売,2,TOPIX Large70
3536,20171031,9984,ソフトバンクグループ,市場第一部（内国株）,5250,情報・通信業,10,情報通信・サービスその他,1,TOPIX Core30
3537,20171031,9986,蔵王産業,市場第一部（内国株）,6050,卸売業,13,商社・卸売,7,TOPIX Small 2
3538,20171031,9987,スズケン,市場第一部（内国株）,6050,卸売業,13,商社・卸売,4,TOPIX Mid400
3539,20171031,9989,サンドラッグ,市場第一部（内国株）,6100,小売業,14,小売,4,TOPIX Mid400
3540,20171031,9990,サックスバー ホールディングス,市場第一部（内国株）,6100,小売業,14,小売,6,TOPIX Small 1
3541,20171031,9991,ジェコス,市場第一部（内国株）,6050,卸売業,13,商社・卸売,7,TOPIX Small 2
3542,20171031,9992,理研グリーン,JASDAQ(スタンダード・内国株）,6050,卸売業,13,商社・卸売,-,-
3543,20171031,9993,ヤマザワ,市場第一部（内国株）,6100,小売業,14,小売,7,TOPIX Small 2
3544,20171031,9994,やまや,市場第一部（内国株）,6100,小売業,14,小売,7,TOPIX Small 2
3545,20171031,9995,ルネサスイーストン,市場第一部（内国株）,6050,卸売業,13,商社・卸売,7,TOPIX Small 2
3546,20171031,9996,サトー商会,JASDAQ(スタンダード・内国株）,6050,卸売業,13,商社・卸売,-,-
3547,20171031,9997,ベルーナ,市場第一部（内国株）,6100,小売業,14,小売,6,TOPIX Small 1

In [18]:
code_list = list(domestic_stock_table['code'])

In [74]:
code_list[-10:]

[9987, 9989, 9990, 9991, 9992, 9993, 9994, 9995, 9996, 9997]

In [20]:
len(code_list)

3548

In [75]:
start_index = 30
increase_number = 10
# end_index = start_index + increase_number
end_index = len(code_list)

reading_code = code_list[start_index : end_index]
print(reading_code[-10:])
print('Next start from {0}'.format(start_index + increase_number))

[9987, 9989, 9990, 9991, 9992, 9993, 9994, 9995, 9996, 9997]
Next start from 40

# 保存した html ファイルからテーブル属性のみ読み込み、整形

__TODO__

通期業績以降のテーブルを発表日でくっつけてみる

In [5]:
code = 7203

In [22]:
# 保存した html からテーブル属性を読み込み
tables = pd.read_html('/Users/Really/Stockyard/_kabutan_html/kabutan_{0}.html'.format(code), header=0)

## リスト、テーブルの概要

In [7]:
len(tables)

29

In [8]:
len(tables[12])

52

In [9]:
len(tables[12].columns)

14

In [23]:
# tables[11] 通期業績

# 全ての列項目がnullの行を除去
tables[11] = tables[11][~tables[11].isnull().all(axis=1)].reset_index(drop=True)

# 予想値と前期比の行を除去
tables[11] = tables[11][~((tables[11]['決算期'].str.contains('予')) | (tables[11]['決算期'].str.contains('前期比')))].reset_index(drop=True)

# 決算期列の要素を会計基準と決算期に分割、それぞれの列に代入(同時に会計基準列を新規作成)
tables[11][['会計基準', '決算期']] = pd.DataFrame(list(tables[11]['決算期'].str.split(' ')))

# 列の並び替え
tables[11] = tables[11][['会計基準', '決算期', '売上高', '営業益', '経常益', '最終益', '１株益', '１株配', '発表日']]

# 100万円単位換算
tables[11][['売上高', '営業益', '経常益', '最終益']] = tables[11][['売上高', '営業益', '経常益', '最終益']].apply(lambda x: x * 1000000)

# 型変換
tables[11]['１株配'] = tables[11]['１株配'].astype(float)

# 日付のパース、datetime.dateへの型変換
# tables[11]['決算期'] = tables[11]['決算期'].apply(lambda x: datetime.strptime(x, '%Y.%m').date()) # 日付ではないので文字列のままの方がいいかも？
tables[11]['発表日'] = tables[11]['発表日'].apply(lambda x: parse(x, yearfirst=True).date())
# pandasのTimestampへの型変換
tables[11]['発表日'] = pd.to_datetime(tables[11]['発表日'], format='%Y-%m-%d')
# tables[11]['決算期'] = pd.to_datetime(tables[11]['決算期'], format='%Y-%m-%d')

# tables[12] 業績予想

tables[12].columns = ['会計基準', '決算期', '発表日', 
                                   '結合修正方向', '売上高修正方向', '営業益修正方向', '経常益修正方向', '最終益修正方向', '修正配当修正方向', 
                                   '予想売上高', '予想営業益', '予想経常益', '予想最終益', '予想修正配当',]

# 不要行、不要列の削除、並び替え
# 実績(と修正配当)はいる?いらない?
# 実績の発表と同時に次の予想が出ているのでやっぱりここではいらないのかな?
tables[12] = tables[12].ix[tables[12].index % 2 == 0, ['会計基準', '決算期', '予想売上高', '予想営業益', '予想経常益', '予想最終益', '発表日']].reset_index(drop=True)
tables[12] = tables[12].ix[tables[12]['決算期'] != '実績']

# 決算期の NaN 埋め
tables[12]['決算期'] = tables[12]['決算期'].fillna(method='ffill')

# 100万円単位換算
tables[12][['予想売上高', '予想営業益', '予想経常益', '予想最終益']] = tables[12][['予想売上高', '予想営業益', '予想経常益', '予想最終益']].apply(lambda x: x * 1000000)

# 日付のパース、datetime.dateへの型変換
# tables[12]['決算期'] = tables[12]['決算期'].apply(lambda x: datetime.strptime(x, '%Y.%m').date()) # 日付ではないので文字列のままの方がいいかも？
tables[12]['発表日'] = tables[12]['発表日'].apply(lambda x: parse(x, yearfirst=True).date())
# pandasのTimestampへの型変換
tables[12]['発表日'] = pd.to_datetime(tables[12]['発表日'], format='%Y-%m-%d')
# tables[12]['決算期'] = pd.to_datetime(tables[12]['決算期'], format='%Y-%m-%d')

# 修正配当用の処理なので不要
# '－'  を NaN に置換
# tables[12].loc[~tables[12]['修正配当'].str.isnumeric(), '修正配当'] = np.nan
# 型変換
# tables[12]['修正配当'] = tables[12]['修正配当'].astype(float)

# tables[26] ３ヵ月業績の推移【実績】(過去5年 + 前年同期比) 累積ではなく差分

'''
不要かな？
ちょっと株プロと見比べてみよう → １株益の値が揃わない
修正発表があった項目は上書きされてしまっていると思われる
修正の可能性を考えなければ累積の株プロよりこちらの方が使いやすいかも
株プロで差分を作成するべきか?
前年同期比はいらなそう
'''

# 全ての列項目がnullの行を除去
tables[26] = tables[26][~tables[26].isnull().all(axis=1)].reset_index(drop=True)

# 前年同期比の行を除去
tables[26] = tables[26][~tables[26]['決算期'].str.contains('前年同期比')].reset_index(drop=True)

# 決算期列の要素を会計基準と決算期に分割、それぞれの列に代入(同時に会計基準列を新規作成)
tables[26][['会計基準', '四半期期首']] = pd.DataFrame(list(tables[26]['決算期'].str.split(' ')))

# 列の並び替え
tables[26] = tables[26][['会計基準', '四半期期首', '売上高', '営業益', '経常益', '最終益', '１株益', '売上営業損益率', '発表日']]

tables[26].columns = ['会計基準', '四半期期首', '四半期売上高', '四半期営業益', '四半期経常益', '四半期最終益', '四半期１株益', '四半期売上営業損益率', '発表日']

# 100万円単位換算
tables[26][['四半期売上高', '四半期営業益', '四半期経常益', '四半期最終益']] = tables[26][['四半期売上高', '四半期営業益', '四半期経常益', '四半期最終益']].apply(lambda x: x * 1000000)

# 日付のパース、datetime.dateへの型変換
tables[26]['四半期期首'] = tables[26]['四半期期首'].apply(lambda x: parse(x.replace('-', '.'), yearfirst=True).date())
tables[26]['発表日'] = tables[26]['発表日'].apply(lambda x: parse(x, yearfirst=True).date())
# pandasのTimestampへの型変換
tables[26]['四半期期首'] = pd.to_datetime(tables[26]['四半期期首'], format='%Y-%m-%d')
tables[26]['発表日'] = pd.to_datetime(tables[26]['発表日'], format='%Y-%m-%d')

# tables[27] 財務 【実績】

'''
期間は株プロよりこちらの方が長い
修正発表があった項目は上書きされてしまっていると思われる
'''

# 7203 トヨタ 元の値が '90/08/01' で明らかにおかしい。これどうしよう。。。
# tables[27].ix[2, '発表日'] = '99/08/01'

# 全ての列項目がnullの行を除去
tables[27] = tables[27][~tables[27].isnull().all(axis=1)].reset_index(drop=True)

# 決算期列の要素を会計基準と決算期に分割、それぞれの列に代入(同時に会計基準列を新規作成)
tables[27][['会計基準', '決算期']] = pd.DataFrame(list(tables[27]['決算期'].str.split(' ')))

# 列の並び替え
tables[27] = tables[27][['会計基準', '決算期', '１株純資産', '自己資本比率', '総資産', '自己資本', '剰余金', '有利子負債倍率', '発表日']]

# 決算期が 'yyyy.mm' 表記ではない行は確定決算前と判断して削除
tables[27] = tables[27][tables[27]['決算期'].str.contains('\d\d\d\d.\d\d')]

# '－'  を NaN に置換
# .str を2回も使わないといけないのはなんだか。。。
tables[27].loc[~tables[27]['１株純資産'].str.replace('.', '').str.isnumeric(), '１株純資産'] = np.nan
tables[27].loc[~tables[27]['有利子負債倍率'].str.replace('.', '').str.isnumeric(), '有利子負債倍率'] = np.nan

# 型変換
tables[27][['１株純資産', '有利子負債倍率']] = tables[27][['１株純資産', '有利子負債倍率']].astype(float)

# 100万円単位換算
tables[27][['総資産', '自己資本', '剰余金']] = tables[27][['総資産', '自己資本', '剰余金']].apply(lambda x: x * 1000000)

# 日付のパース、datetime.dateへの型変換
# tables[27]['決算期'] = tables[27]['決算期'].apply(lambda x: parse(x.replace('-', '.'), yearfirst=True).date()) # 日付ではないので文字列のままの方がいいかも？
tables[27]['発表日'] = tables[27]['発表日'].apply(lambda x: parse(x, yearfirst=True).date())
# pandasのTimestampへの型変換
# tables[27]['決算期'] = pd.to_datetime(tables[27]['決算期'], format='%Y-%m-%d')
tables[27]['発表日'] = pd.to_datetime(tables[27]['発表日'], format='%Y-%m-%d')

# 内容の確認

In [8]:
# tables[11] 通期業績
tables[11]
# 株プロに無い項目: １株配

,会計基準,決算期,売上高,営業益,経常益,最終益,１株益,１株配,発表日
0,連,1999.03,1.274901e+13,7.749450e+11,7.718850e+11,3.561800e+11,94.2,23.0,1999-05-24
1,連,2000.03,1.287956e+13,7.759820e+11,7.970580e+11,4.067980e+11,110.0,24.0,2000-05-17
2,連,2001.03,1.342442e+13,8.701310e+11,9.722730e+11,4.712950e+11,127.9,25.0,2001-05-16
3,連,2002.03,1.510630e+13,1.123470e+12,1.113524e+12,6.158240e+11,170.7,28.0,2002-05-13
4,U,2003.03,1.550155e+13,1.271646e+12,1.226652e+12,7.509420e+11,211.3,36.0,2003-05-08
5,U,2004.03,1.729476e+13,1.666890e+12,1.765793e+12,1.162098e+12,342.9,45.0,2004-05-11
6,U,2005.03,1.855153e+13,1.672187e+12,1.754637e+12,1.171260e+12,355.4,65.0,2005-05-10
7,U,2006.03,2.103691e+13,1.878342e+12,2.087360e+12,1.372180e+12,421.8,90.0,2006-05-10
8,U,2007.03,2.394809e+13,2.238683e+12,2.382516e+12,1.644032e+12,512.1,120.0,2007-05-09
9,U,2008.03,2.628924e+13,2.270375e+12,2.437222e+12,1.717879e+12,540.6,140.0,2008-05-08
10,U,2009.03,2.052957e+13,-4.610110e+11,-5.603810e+11,-4.369370e+11,-139.1,100.0,2009-05-08
11,U,2010.03,1.895097e+13,1.475160e+11,2.914680e+11,2.094560e+11,66.8,45.0,2010-05-11
12,U,2011.03,1.899369e+13,4.682790e+11,5.632900e+11,4.081830e+11,130.2,50.0,2011-05-11
13,U,2012.03,1.858365e+13,3.556270e+11,4.328730e+11,2.835590e+11,90.2,50.0,2012-05-09
14,U,2013.03,2.206419e+13,1.320888e+12,1.403649e+12,9.621630e+11,303.8,90.0,2013-05-08
15,U,2014.03,2.569191e+13,2.292112e+12,2.441080e+12,1.823119e+12,575.3,165.0,2014-05-08
16,U,2015.03,2.723452e+13,2.750564e+12,2.892828e+12,2.173338e+12,688.0,200.0,2015-05-08
17,U,2016.03,2.840312e+13,2.853971e+12,2.983381e+12,2.312694e+12,741.4,210.0,2016-05-11
18,U,2017.03,2.759719e+13,1.994372e+12,2.193825e+12,1.831109e+12,605.5,210.0,2017-05-10

In [9]:
# tables[12] 業績予想
tables[12]

,会計基準,決算期,予想売上高,予想営業益,予想経常益,予想最終益,発表日
0,U,2013.03,2.200000e+13,1.000000e+12,1.160000e+12,7.600000e+11,2012-05-09
1,U,2013.03,2.130000e+13,1.050000e+12,1.180000e+12,7.800000e+11,2012-11-05
2,U,2013.03,2.180000e+13,1.150000e+12,1.290000e+12,8.600000e+11,2013-02-05
4,U,2014.03,2.350000e+13,1.800000e+12,1.890000e+12,1.370000e+12,2013-05-08
5,U,2014.03,2.400000e+13,1.940000e+12,2.030000e+12,1.480000e+12,2013-08-02
6,U,2014.03,2.500000e+13,2.200000e+12,2.290000e+12,1.670000e+12,2013-11-06
7,U,2014.03,2.550000e+13,2.400000e+12,2.530000e+12,1.900000e+12,2014-02-04
9,U,2015.03,2.570000e+13,2.300000e+12,2.390000e+12,1.780000e+12,2014-05-08
10,U,2015.03,2.650000e+13,2.500000e+12,2.700000e+12,2.000000e+12,2014-11-05
11,U,2015.03,2.700000e+13,2.700000e+12,2.920000e+12,2.130000e+12,2015-02-04
13,U,2016.03,2.750000e+13,2.800000e+12,2.970000e+12,2.250000e+12,2015-05-08
14,U,2016.03,2.780000e+13,2.800000e+12,2.980000e+12,2.250000e+12,2015-08-04
15,U,2016.03,2.750000e+13,2.800000e+12,2.980000e+12,2.250000e+12,2015-11-05
16,U,2016.03,2.750000e+13,2.800000e+12,2.980000e+12,2.270000e+12,2016-02-05
18,U,2017.03,2.650000e+13,1.700000e+12,1.900000e+12,1.500000e+12,2016-05-11
19,U,2017.03,2.600000e+13,1.600000e+12,1.780000e+12,1.450000e+12,2016-08-04
20,U,2017.03,2.600000e+13,1.700000e+12,1.900000e+12,1.550000e+12,2016-11-08
21,U,2017.03,2.650000e+13,1.850000e+12,2.070000e+12,1.700000e+12,2017-02-06
23,U,2018.03,2.750000e+13,1.600000e+12,1.800000e+12,1.500000e+12,2017-05-10
24,U,2018.03,2.850000e+13,1.850000e+12,2.050000e+12,1.750000e+12,2017-08-04
25,U,2018.03,2.850000e+13,2.000000e+12,2.250000e+12,1.950000e+12,2017-11-07

In [10]:
# tables[26] ３ヵ月業績の推移
tables[26]
# 株プロに無い項目: 売上営業損益率 = 営業益 / 売上高?

,会計基準,四半期期首,四半期売上高,四半期営業益,四半期経常益,四半期最終益,四半期１株益,四半期売上営業損益率,発表日
0,U,2012-10-12,5.318752e+12,1.247570e+11,1.312490e+11,9.991400e+10,31.6,2.3,2013-02-05
1,U,2013-01-03,5.837086e+12,5.023810e+11,4.778630e+11,3.139800e+11,99.1,8.6,2013-05-08
2,U,2013-04-06,6.255319e+12,6.633830e+11,7.241630e+11,5.621940e+11,177.4,10.6,2013-08-02
3,U,2013-07-09,6.282166e+12,5.920920e+11,6.193620e+11,4.384290e+11,138.4,9.4,2013-11-06
4,U,2013-10-12,6.585044e+12,6.005090e+11,6.789560e+11,5.254640e+11,165.8,9.1,2014-02-04
5,U,2014-01-03,6.569382e+12,4.361280e+11,4.185990e+11,2.970320e+11,93.7,6.6,2014-05-08
6,U,2014-04-06,6.390688e+12,6.927280e+11,7.718260e+11,5.877740e+11,185.4,10.8,2014-08-05
7,U,2014-07-09,6.554909e+12,6.592180e+11,7.373480e+11,5.390620e+11,170.3,10.1,2014-11-05
8,U,2014-10-12,7.170017e+12,7.628800e+11,8.464610e+11,6.000270e+11,189.7,10.6,2015-02-04
9,U,2015-01-03,7.118907e+12,6.357380e+11,5.371930e+11,4.464750e+11,141.3,8.9,2015-05-08
10,U,2015-04-06,6.987648e+12,7.560010e+11,8.452590e+11,6.463940e+11,205.4,10.8,2015-08-04
11,U,2015-07-09,7.103840e+12,8.274040e+11,8.298920e+11,6.117180e+11,194.2,11.6,2015-11-05
12,U,2015-10-12,7.339882e+12,7.222660e+11,7.777610e+11,6.279650e+11,200.2,9.8,2016-02-05
13,U,2016-01-03,6.971748e+12,5.483000e+11,5.304690e+11,4.266170e+11,136.8,7.9,2016-05-11
14,U,2016-04-06,6.589113e+12,6.422300e+11,6.770560e+11,5.524650e+11,181.1,9.7,2016-08-04
15,U,2016-07-09,6.481420e+12,4.746350e+11,4.994780e+11,3.937080e+11,129.4,7.3,2016-11-08
16,U,2016-10-12,7.084187e+12,4.385860e+11,5.875380e+11,4.865310e+11,160.4,6.2,2017-02-06
17,U,2017-01-03,7.442473e+12,4.389210e+11,4.297530e+11,3.984050e+11,131.7,5.9,2017-05-10
18,U,2017-04-06,7.047606e+12,5.742940e+11,6.793480e+11,6.130560e+11,205.1,8.1,2017-08-04
19,U,2017-07-09,7.143601e+12,5.222470e+11,5.728250e+11,4.582720e+11,153.8,7.3,2017-11-07

In [24]:
# tables[27] 財務
tables[27]
# 株プロに無い項目: 自己資本比率, 自己資本, 剰余金, 有利子負債倍率

,会計基準,決算期,１株純資産,自己資本比率,総資産,自己資本,剰余金,有利子負債倍率,発表日
0,連,1998.03,1583.20,43.5,1.385436e+13,6.021895e+12,5.213340e+12,NaN,1998-08-01
1,連,1999.03,1642.90,41.9,1.475331e+13,6.175937e+12,5.367879e+12,NaN,1999-08-01
2,連,2000.03,1841.50,41.3,1.646905e+13,6.796666e+12,6.014125e+12,0.64,2000-05-17
3,連,2001.03,1956.57,40.6,1.751943e+13,7.114567e+12,6.162656e+12,0.63,2001-05-16
4,連,2002.03,2059.94,36.8,1.988894e+13,7.325072e+12,6.527956e+12,0.79,2002-05-13
5,U,2003.03,2063.43,35.3,2.015297e+13,7.121000e+12,7.219896e+12,1.02,2003-05-08
6,U,2004.03,2456.08,37.1,2.204023e+13,8.178567e+12,8.326215e+12,0.92,2004-05-11
7,U,2005.03,2767.67,37.2,2.433501e+13,9.044950e+12,9.332176e+12,0.95,2005-05-10
8,U,2006.03,3257.63,36.8,2.873160e+13,1.056045e+13,1.045979e+13,0.98,2006-05-10
9,U,2007.03,3701.17,36.3,3.257478e+13,1.183609e+13,1.176471e+13,1.02,2007-05-09
10,U,2008.03,3768.97,36.6,3.245832e+13,1.186953e+13,1.240855e+13,1.03,2008-05-08
11,U,2009.03,3208.41,34.6,2.906204e+13,1.006121e+13,1.153162e+13,1.25,2009-05-08
12,U,2010.03,3303.49,34.1,3.034929e+13,1.035972e+13,1.156860e+13,1.21,2010-05-11
13,U,2011.03,3295.08,34.7,2.981817e+13,1.033237e+13,1.183566e+13,1.20,2011-05-11
14,U,2012.03,3331.51,34.4,3.065096e+13,1.055026e+13,1.191707e+13,1.14,2012-05-09
15,U,2013.03,3835.30,34.2,3.548332e+13,1.214804e+13,1.268921e+13,1.16,2013-05-08
16,U,2014.03,4564.74,34.9,4.143747e+13,1.446915e+13,1.411630e+13,1.13,2014-05-08
17,U,2015.03,5334.96,35.2,4.772983e+13,1.678813e+13,1.559195e+13,1.13,2015-05-08
18,U,2016.03,5513.08,35.3,4.742760e+13,1.674694e+13,1.679424e+13,1.09,2016-05-11
19,U,2017.03,5887.88,35.9,4.875019e+13,1.751481e+13,1.760107e+13,1.09,2017-05-10

In [23]:
tables[11].columns

Index(['決算期', '修正日', '修正方向', '売上高', '営業益', '経常益', '最終益', '修正配当', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13'],
      dtype='object')

In [23]:
tables[12].columns

Index(['決算期', '修正日', '修正方向', '売上高', '営業益', '経常益', '最終益', '修正配当', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13'],
      dtype='object')

In [373]:
tables[26].columns

Index(['会計基準', '四半期期首', '売上高', '営業益', '経常益', '最終益', '１株益', '売上営業損益率', '発表日'], dtype='object')

In [208]:
tables[27].columns

Index(['決算期', '１株純資産', '自己資本比率', '総資産', '自己資本', '剰余金', '有利子負債倍率', '発表日',
       '会計基準'],
      dtype='object')

In [12]:
tables[11].dtypes

会計基準            object
決算期             object
売上高            float64
営業益            float64
経常益            float64
最終益            float64
１株益            float64
１株配            float64
発表日     datetime64[ns]
dtype: object

In [13]:
tables[12].dtypes

会計基準             object
決算期              object
予想売上高           float64
予想営業益           float64
予想経常益           float64
予想最終益           float64
発表日      datetime64[ns]
dtype: object

In [14]:
tables[26].dtypes

会計基準                  object
四半期期首         datetime64[ns]
四半期売上高               float64
四半期営業益               float64
四半期経常益               float64
四半期最終益               float64
四半期１株益               float64
四半期売上営業損益率           float64
発表日           datetime64[ns]
dtype: object

In [15]:
tables[27].dtypes

会計基準               object
決算期                object
１株純資産             float64
自己資本比率            float64
総資産               float64
自己資本              float64
剰余金               float64
有利子負債倍率           float64
発表日        datetime64[ns]
dtype: object

In [25]:
len(tables[11])

19

In [26]:
len(tables[12])

21

In [27]:
len(tables[26])

20

In [28]:
len(tables[27])

20

# 結合

In [44]:
# 通期業績 & 財務
merged_1 = pd.merge(tables[11], tables[27], on=['会計基準', '決算期', '発表日'], how='outer').sort_values('発表日')

In [45]:
merged_1.columns

Index(['会計基準', '決算期', '売上高', '営業益', '経常益', '最終益', '１株益', '１株配', '発表日', '１株純資産',
       '自己資本比率', '総資産', '自己資本', '剰余金', '有利子負債倍率'],
      dtype='object')

In [47]:
merged_1[['会計基準', '発表日', '決算期', '売上高', '営業益', '経常益', '最終益', '１株益', '１株配', '１株純資産',
       '自己資本比率', '総資産', '自己資本', '剰余金', '有利子負債倍率']]

,会計基準,発表日,決算期,売上高,営業益,経常益,最終益,１株益,１株配,１株純資産,自己資本比率,総資産,自己資本,剰余金,有利子負債倍率
19,連,1998-08-01,1998.03,NaN,NaN,NaN,NaN,NaN,NaN,1583.20,43.5,1.385436e+13,6.021895e+12,5.213340e+12,NaN
0,連,1999-05-24,1999.03,1.274901e+13,7.749450e+11,7.718850e+11,3.561800e+11,94.2,23.0,NaN,NaN,NaN,NaN,NaN,NaN
20,連,1999-08-01,1999.03,NaN,NaN,NaN,NaN,NaN,NaN,1642.90,41.9,1.475331e+13,6.175937e+12,5.367879e+12,NaN
1,連,2000-05-17,2000.03,1.287956e+13,7.759820e+11,7.970580e+11,4.067980e+11,110.0,24.0,1841.50,41.3,1.646905e+13,6.796666e+12,6.014125e+12,0.64
2,連,2001-05-16,2001.03,1.342442e+13,8.701310e+11,9.722730e+11,4.712950e+11,127.9,25.0,1956.57,40.6,1.751943e+13,7.114567e+12,6.162656e+12,0.63
3,連,2002-05-13,2002.03,1.510630e+13,1.123470e+12,1.113524e+12,6.158240e+11,170.7,28.0,2059.94,36.8,1.988894e+13,7.325072e+12,6.527956e+12,0.79
4,U,2003-05-08,2003.03,1.550155e+13,1.271646e+12,1.226652e+12,7.509420e+11,211.3,36.0,2063.43,35.3,2.015297e+13,7.121000e+12,7.219896e+12,1.02
5,U,2004-05-11,2004.03,1.729476e+13,1.666890e+12,1.765793e+12,1.162098e+12,342.9,45.0,2456.08,37.1,2.204023e+13,8.178567e+12,8.326215e+12,0.92
6,U,2005-05-10,2005.03,1.855153e+13,1.672187e+12,1.754637e+12,1.171260e+12,355.4,65.0,2767.67,37.2,2.433501e+13,9.044950e+12,9.332176e+12,0.95
7,U,2006-05-10,2006.03,2.103691e+13,1.878342e+12,2.087360e+12,1.372180e+12,421.8,90.0,3257.63,36.8,2.873160e+13,1.056045e+13,1.045979e+13,0.98
8,U,2007-05-09,2007.03,2.394809e+13,2.238683e+12,2.382516e+12,1.644032e+12,512.1,120.0,3701.17,36.3,3.257478e+13,1.183609e+13,1.176471e+13,1.02
9,U,2008-05-08,2008.03,2.628924e+13,2.270375e+12,2.437222e+12,1.717879e+12,540.6,140.0,3768.97,36.6,3.245832e+13,1.186953e+13,1.240855e+13,1.03
10,U,2009-05-08,2009.03,2.052957e+13,-4.610110e+11,-5.603810e+11,-4.369370e+11,-139.1,100.0,3208.41,34.6,2.906204e+13,1.006121e+13,1.153162e+13,1.25
11,U,2010-05-11,2010.03,1.895097e+13,1.475160e+11,2.914680e+11,2.094560e+11,66.8,45.0,3303.49,34.1,3.034929e+13,1.035972e+13,1.156860e+13,1.21
12,U,2011-05-11,2011.03,1.899369e+13,4.682790e+11,5.632900e+11,4.081830e+11,130.2,50.0,3295.08,34.7,2.981817e+13,1.033237e+13,1.183566e+13,1.20
13,U,2012-05-09,2012.03,1.858365e+13,3.556270e+11,4.328730e+11,2.835590e+11,90.2,50.0,3331.51,34.4,3.065096e+13,1.055026e+13,1.191707e+13,1.14
14,U,2013-05-08,2013.03,2.206419e+13,1.320888e+12,1.403649e+12,9.621630e+11,303.8,90.0,3835.30,34.2,3.548332e+13,1.214804e+13,1.268921e+13,1.16
15,U,2014-05-08,2014.03,2.569191e+13,2.292112e+12,2.441080e+12,1.823119e+12,575.3,165.0,4564.74,34.9,4.143747e+13,1.446915e+13,1.411630e+13,1.13
16,U,2015-05-08,2015.03,2.723452e+13,2.750564e+12,2.892828e+12,2.173338e+12,688.0,200.0,5334.96,35.2,4.772983e+13,1.678813e+13,1.559195e+13,1.13
17,U,2016-05-11,2016.03,2.840312e+13,2.853971e+12,2.983381e+12,2.312694e+12,741.4,210.0,5513.08,35.3,4.742760e+13,1.674694e+13,1.679424e+13,1.09
18,U,2017-05-10,2017.03,2.759719e+13,1.994372e+12,2.193825e+12,1.831109e+12,605.5,210.0,5887.88,35.9,4.875019e+13,1.751481e+13,1.760107e+13,1.09

In [58]:
# 通期業績 & 業績予想
merged_2 = pd.merge(tables[11], tables[12], on=['会計基準', '決算期', '発表日'], how='outer').sort_values(['決算期', '発表日'])

In [59]:
merged_2.columns

Index(['会計基準', '決算期', '売上高', '営業益', '経常益', '最終益', '１株益', '１株配', '発表日', '予想売上高',
       '予想営業益', '予想経常益', '予想最終益'],
      dtype='object')

In [62]:
merged_2[['会計基準', '発表日', '決算期', '売上高', '予想売上高', '営業益', '予想営業益', '経常益', '予想経常益', '最終益', '予想最終益', '１株益', '１株配']]

,会計基準,発表日,決算期,売上高,予想売上高,営業益,予想営業益,経常益,予想経常益,最終益,予想最終益,１株益,１株配
0,連,1999-05-24,1999.03,1.274901e+13,NaN,7.749450e+11,NaN,7.718850e+11,NaN,3.561800e+11,NaN,94.2,23.0
1,連,2000-05-17,2000.03,1.287956e+13,NaN,7.759820e+11,NaN,7.970580e+11,NaN,4.067980e+11,NaN,110.0,24.0
2,連,2001-05-16,2001.03,1.342442e+13,NaN,8.701310e+11,NaN,9.722730e+11,NaN,4.712950e+11,NaN,127.9,25.0
3,連,2002-05-13,2002.03,1.510630e+13,NaN,1.123470e+12,NaN,1.113524e+12,NaN,6.158240e+11,NaN,170.7,28.0
4,U,2003-05-08,2003.03,1.550155e+13,NaN,1.271646e+12,NaN,1.226652e+12,NaN,7.509420e+11,NaN,211.3,36.0
5,U,2004-05-11,2004.03,1.729476e+13,NaN,1.666890e+12,NaN,1.765793e+12,NaN,1.162098e+12,NaN,342.9,45.0
6,U,2005-05-10,2005.03,1.855153e+13,NaN,1.672187e+12,NaN,1.754637e+12,NaN,1.171260e+12,NaN,355.4,65.0
7,U,2006-05-10,2006.03,2.103691e+13,NaN,1.878342e+12,NaN,2.087360e+12,NaN,1.372180e+12,NaN,421.8,90.0
8,U,2007-05-09,2007.03,2.394809e+13,NaN,2.238683e+12,NaN,2.382516e+12,NaN,1.644032e+12,NaN,512.1,120.0
9,U,2008-05-08,2008.03,2.628924e+13,NaN,2.270375e+12,NaN,2.437222e+12,NaN,1.717879e+12,NaN,540.6,140.0
10,U,2009-05-08,2009.03,2.052957e+13,NaN,-4.610110e+11,NaN,-5.603810e+11,NaN,-4.369370e+11,NaN,-139.1,100.0
11,U,2010-05-11,2010.03,1.895097e+13,NaN,1.475160e+11,NaN,2.914680e+11,NaN,2.094560e+11,NaN,66.8,45.0
12,U,2011-05-11,2011.03,1.899369e+13,NaN,4.682790e+11,NaN,5.632900e+11,NaN,4.081830e+11,NaN,130.2,50.0
13,U,2012-05-09,2012.03,1.858365e+13,NaN,3.556270e+11,NaN,4.328730e+11,NaN,2.835590e+11,NaN,90.2,50.0
19,U,2012-05-09,2013.03,NaN,2.200000e+13,NaN,1.000000e+12,NaN,1.160000e+12,NaN,7.600000e+11,NaN,NaN
20,U,2012-11-05,2013.03,NaN,2.130000e+13,NaN,1.050000e+12,NaN,1.180000e+12,NaN,7.800000e+11,NaN,NaN
21,U,2013-02-05,2013.03,NaN,2.180000e+13,NaN,1.150000e+12,NaN,1.290000e+12,NaN,8.600000e+11,NaN,NaN
14,U,2013-05-08,2013.03,2.206419e+13,NaN,1.320888e+12,NaN,1.403649e+12,NaN,9.621630e+11,NaN,303.8,90.0
22,U,2013-05-08,2014.03,NaN,2.350000e+13,NaN,1.800000e+12,NaN,1.890000e+12,NaN,1.370000e+12,NaN,NaN
23,U,2013-08-02,2014.03,NaN,2.400000e+13,NaN,1.940000e+12,NaN,2.030000e+12,NaN,1.480000e+12,NaN,NaN
24,U,2013-11-06,2014.03,NaN,2.500000e+13,NaN,2.200000e+12,NaN,2.290000e+12,NaN,1.670000e+12,NaN,NaN
25,U,2014-02-04,2014.03,NaN,2.550000e+13,NaN,2.400000e+12,NaN,2.530000e+12,NaN,1.900000e+12,NaN,NaN
15,U,2014-05-08,2014.03,2.569191e+13,NaN,2.292112e+12,NaN,2.441080e+12,NaN,1.823119e+12,NaN,575.3,165.0
26,U,2014-05-08,2015.03,NaN,2.570000e+13,NaN,2.300000e+12,NaN,2.390000e+12,NaN,1.780000e+12,NaN,NaN
27,U,2014-11-05,2015.03,NaN,2.650000e+13,NaN,2.500000e+12,NaN,2.700000e+12,NaN,2.000000e+12,NaN,NaN
28,U,2015-02-04,2015.03,NaN,2.700000e+13,NaN,2.700000e+12,NaN,2.920000e+12,NaN,2.130000e+12,NaN,NaN
16,U,2015-05-08,2015.03,2.723452e+13,NaN,2.750564e+12,NaN,2.892828e+12,NaN,2.173338e+12,NaN,688.0,200.0
29,U,2015-05-08,2016.03,NaN,2.750000e+13,NaN,2.800000e+12,NaN,2.970000e+12,NaN,2.250000e+12,NaN,NaN
30,U,2015-08-04,2016.03,NaN,2.780000e+13,NaN,2.800000e+12,NaN,2.980000e+12,NaN,2.250000e+12,NaN,NaN
31,U,2015-11-05,2016.03,NaN,2.750000e+13,NaN,2.800000e+12,NaN,2.980000e+12,NaN,2.250000e+12,NaN,NaN
32,U,2016-02-05,2016.03,NaN,2.750000e+13,NaN,2.800000e+12,NaN,2.980000e+12,NaN,2.270000e+12,NaN,NaN
17,U,2016-05-11,2016.03,2.840312e+13,NaN,2.853971e+12,NaN,2.983381e+12,NaN,2.312694e+12,NaN,741.4,210.0
33,U,2016-05-11,2017.03,NaN,2.650000e+13,NaN,1.700000e+12,NaN,1.900000e+12,NaN,1.500000e+12,NaN,NaN
34,U,2016-08-04,2017.03,NaN,2.600000e+13,NaN,1.600000e+12,NaN,1.780000e+12,NaN,1.450000e+12,NaN,NaN
35,U,2016-11-08,2017.03,NaN,2.600000e+13,NaN,1.700000e+12,NaN,1.900000e+12,NaN,1.550000e+12,NaN,NaN
36,U,2017-02-06,2017.03,NaN,2.650000e+13,NaN,1.850000e+12,NaN,2.070000e+12,NaN,1.700000e+12,NaN,NaN
18,U,2017-05-10,2017.03,2.759719e+13,NaN,1.994372e+12,NaN,2.193825e+12,NaN,1.831109e+12,NaN,605.5,210.0
37,U,2017-05-10,2018.03,NaN,2.750000e+13,NaN,1.600000e+12,NaN,1.800000e+12,NaN,1.500000e+12,NaN,NaN
38,U,2017-08-04,2018.03,NaN,2.850000e+13,NaN,1.850000e+12,NaN,2.050000e+12,NaN,1.750000e+12,NaN,NaN
39,U,2017-11-07,2018.03,NaN,2.850000e+13,NaN,2.000000e+12,NaN,2.250000e+12,NaN,1.950000e+12,NaN,NaN

In [53]:
# 通期業績 & 四半期業績
merged_3 = pd.merge(tables[11], tables[26], on=['会計基準', '発表日'], how='outer').sort_values(['発表日'])

In [54]:
merged_3.columns

Index(['会計基準', '決算期', '売上高', '営業益', '経常益', '最終益', '１株益', '１株配', '発表日', '四半期期首',
       '四半期売上高', '四半期営業益', '四半期経常益', '四半期最終益', '四半期１株益', '四半期売上営業損益率'],
      dtype='object')

In [56]:
merged_3[['会計基準', '発表日', '決算期', '四半期期首', '売上高', '四半期売上高', '営業益', '四半期営業益', '経常益', '四半期経常益', 
          '最終益', '四半期最終益', '１株益', '四半期１株益', '１株配', '四半期売上営業損益率']]

,会計基準,発表日,決算期,四半期期首,売上高,四半期売上高,営業益,四半期営業益,経常益,四半期経常益,最終益,四半期最終益,１株益,四半期１株益,１株配,四半期売上営業損益率
0,連,1999-05-24,1999.03,NaT,1.274901e+13,NaN,7.749450e+11,NaN,7.718850e+11,NaN,3.561800e+11,NaN,94.2,NaN,23.0,NaN
1,連,2000-05-17,2000.03,NaT,1.287956e+13,NaN,7.759820e+11,NaN,7.970580e+11,NaN,4.067980e+11,NaN,110.0,NaN,24.0,NaN
2,連,2001-05-16,2001.03,NaT,1.342442e+13,NaN,8.701310e+11,NaN,9.722730e+11,NaN,4.712950e+11,NaN,127.9,NaN,25.0,NaN
3,連,2002-05-13,2002.03,NaT,1.510630e+13,NaN,1.123470e+12,NaN,1.113524e+12,NaN,6.158240e+11,NaN,170.7,NaN,28.0,NaN
4,U,2003-05-08,2003.03,NaT,1.550155e+13,NaN,1.271646e+12,NaN,1.226652e+12,NaN,7.509420e+11,NaN,211.3,NaN,36.0,NaN
5,U,2004-05-11,2004.03,NaT,1.729476e+13,NaN,1.666890e+12,NaN,1.765793e+12,NaN,1.162098e+12,NaN,342.9,NaN,45.0,NaN
6,U,2005-05-10,2005.03,NaT,1.855153e+13,NaN,1.672187e+12,NaN,1.754637e+12,NaN,1.171260e+12,NaN,355.4,NaN,65.0,NaN
7,U,2006-05-10,2006.03,NaT,2.103691e+13,NaN,1.878342e+12,NaN,2.087360e+12,NaN,1.372180e+12,NaN,421.8,NaN,90.0,NaN
8,U,2007-05-09,2007.03,NaT,2.394809e+13,NaN,2.238683e+12,NaN,2.382516e+12,NaN,1.644032e+12,NaN,512.1,NaN,120.0,NaN
9,U,2008-05-08,2008.03,NaT,2.628924e+13,NaN,2.270375e+12,NaN,2.437222e+12,NaN,1.717879e+12,NaN,540.6,NaN,140.0,NaN
10,U,2009-05-08,2009.03,NaT,2.052957e+13,NaN,-4.610110e+11,NaN,-5.603810e+11,NaN,-4.369370e+11,NaN,-139.1,NaN,100.0,NaN
11,U,2010-05-11,2010.03,NaT,1.895097e+13,NaN,1.475160e+11,NaN,2.914680e+11,NaN,2.094560e+11,NaN,66.8,NaN,45.0,NaN
12,U,2011-05-11,2011.03,NaT,1.899369e+13,NaN,4.682790e+11,NaN,5.632900e+11,NaN,4.081830e+11,NaN,130.2,NaN,50.0,NaN
13,U,2012-05-09,2012.03,NaT,1.858365e+13,NaN,3.556270e+11,NaN,4.328730e+11,NaN,2.835590e+11,NaN,90.2,NaN,50.0,NaN
19,U,2013-02-05,NaN,2012-10-12,NaN,5.318752e+12,NaN,1.247570e+11,NaN,1.312490e+11,NaN,9.991400e+10,NaN,31.6,NaN,2.3
14,U,2013-05-08,2013.03,2013-01-03,2.206419e+13,5.837086e+12,1.320888e+12,5.023810e+11,1.403649e+12,4.778630e+11,9.621630e+11,3.139800e+11,303.8,99.1,90.0,8.6
20,U,2013-08-02,NaN,2013-04-06,NaN,6.255319e+12,NaN,6.633830e+11,NaN,7.241630e+11,NaN,5.621940e+11,NaN,177.4,NaN,10.6
21,U,2013-11-06,NaN,2013-07-09,NaN,6.282166e+12,NaN,5.920920e+11,NaN,6.193620e+11,NaN,4.384290e+11,NaN,138.4,NaN,9.4
22,U,2014-02-04,NaN,2013-10-12,NaN,6.585044e+12,NaN,6.005090e+11,NaN,6.789560e+11,NaN,5.254640e+11,NaN,165.8,NaN,9.1
15,U,2014-05-08,2014.03,2014-01-03,2.569191e+13,6.569382e+12,2.292112e+12,4.361280e+11,2.441080e+12,4.185990e+11,1.823119e+12,2.970320e+11,575.3,93.7,165.0,6.6
23,U,2014-08-05,NaN,2014-04-06,NaN,6.390688e+12,NaN,6.927280e+11,NaN,7.718260e+11,NaN,5.877740e+11,NaN,185.4,NaN,10.8
24,U,2014-11-05,NaN,2014-07-09,NaN,6.554909e+12,NaN,6.592180e+11,NaN,7.373480e+11,NaN,5.390620e+11,NaN,170.3,NaN,10.1
25,U,2015-02-04,NaN,2014-10-12,NaN,7.170017e+12,NaN,7.628800e+11,NaN,8.464610e+11,NaN,6.000270e+11,NaN,189.7,NaN,10.6
16,U,2015-05-08,2015.03,2015-01-03,2.723452e+13,7.118907e+12,2.750564e+12,6.357380e+11,2.892828e+12,5.371930e+11,2.173338e+12,4.464750e+11,688.0,141.3,200.0,8.9
26,U,2015-08-04,NaN,2015-04-06,NaN,6.987648e+12,NaN,7.560010e+11,NaN,8.452590e+11,NaN,6.463940e+11,NaN,205.4,NaN,10.8
27,U,2015-11-05,NaN,2015-07-09,NaN,7.103840e+12,NaN,8.274040e+11,NaN,8.298920e+11,NaN,6.117180e+11,NaN,194.2,NaN,11.6
28,U,2016-02-05,NaN,2015-10-12,NaN,7.339882e+12,NaN,7.222660e+11,NaN,7.777610e+11,NaN,6.279650e+11,NaN,200.2,NaN,9.8
17,U,2016-05-11,2016.03,2016-01-03,2.840312e+13,6.971748e+12,2.853971e+12,5.483000e+11,2.983381e+12,5.304690e+11,2.312694e+12,4.266170e+11,741.4,136.8,210.0,7.9
29,U,2016-08-04,NaN,2016-04-06,NaN,6.589113e+12,NaN,6.422300e+11,NaN,6.770560e+11,NaN,5.524650e+11,NaN,181.1,NaN,9.7
30,U,2016-11-08,NaN,2016-07-09,NaN,6.481420e+12,NaN,4.746350e+11,NaN,4.994780e+11,NaN,3.937080e+11,NaN,129.4,NaN,7.3
31,U,2017-02-06,NaN,2016-10-12,NaN,7.084187e+12,NaN,4.385860e+11,NaN,5.875380e+11,NaN,4.865310e+11,NaN,160.4,NaN,6.2
18,U,2017-05-10,2017.03,2017-01-03,2.759719e+13,7.442473e+12,1.994372e+12,4.389210e+11,2.193825e+12,4.297530e+11,1.831109e+12,3.984050e+11,605.5,131.7,210.0,5.9
32,U,2017-08-04,NaN,2017-04-06,NaN,7.047606e+12,NaN,5.742940e+11,NaN,6.793480e+11,NaN,6.130560e+11,NaN,205.1,NaN,8.1
33,U,2017-11-07,NaN,2017-07-09,NaN,7.143601e+12,NaN,5.222470e+11,NaN,5.728250e+11,NaN,4.582720e+11,NaN,153.8,NaN,7.3

In [78]:
# すべて
merged_all = pd.merge(tables[11], tables[12], on=['会計基準', '決算期', '発表日'], how='outer').sort_values(['発表日'])

In [80]:
# すべて
merged_all = pd.merge(merged_all, tables[26], on=['会計基準', '発表日'], how='outer').sort_values(['発表日'])

In [82]:
# すべて
merged_all = pd.merge(merged_all, tables[27], on=['会計基準', '決算期', '発表日'], how='outer').sort_values(['発表日'])

In [84]:
merged_all = merged_all.reset_index(drop=True)

In [90]:
merged_all.columns

Index(['発表日', '会計基準', '決算期', '売上高', '営業益', '経常益', '最終益', '１株益', '１株配', '予想売上高',
       '予想営業益', '予想経常益', '予想最終益', '四半期期首', '四半期売上高', '四半期営業益', '四半期経常益',
       '四半期最終益', '四半期１株益', '四半期売上営業損益率', '１株純資産', '自己資本比率', '総資産', '自己資本',
       '剰余金', '有利子負債倍率'],
      dtype='object')

In [91]:
merged_all = merged_all[['発表日', '決算期', '四半期期首', '会計基準', '売上高', '営業益', '経常益', '最終益', '１株益', '１株配', '予想売上高',
       '予想営業益', '予想経常益', '予想最終益', '四半期売上高', '四半期営業益', '四半期経常益',
       '四半期最終益', '四半期１株益', '四半期売上営業損益率', '１株純資産', '自己資本比率', '総資産', '自己資本',
       '剰余金', '有利子負債倍率']]

In [92]:
merged_all

,発表日,決算期,四半期期首,会計基準,売上高,営業益,経常益,最終益,１株益,１株配,予想売上高,予想営業益,予想経常益,予想最終益,四半期売上高,四半期営業益,四半期経常益,四半期最終益,四半期１株益,四半期売上営業損益率,１株純資産,自己資本比率,総資産,自己資本,剰余金,有利子負債倍率
0,1998-08-01,1998.03,NaT,連,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1583.20,43.5,1.385436e+13,6.021895e+12,5.213340e+12,NaN
1,1999-05-24,1999.03,NaT,連,1.274901e+13,7.749450e+11,7.718850e+11,3.561800e+11,94.2,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1999-08-01,1999.03,NaT,連,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1642.90,41.9,1.475331e+13,6.175937e+12,5.367879e+12,NaN
3,2000-05-17,2000.03,NaT,連,1.287956e+13,7.759820e+11,7.970580e+11,4.067980e+11,110.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1841.50,41.3,1.646905e+13,6.796666e+12,6.014125e+12,0.64
4,2001-05-16,2001.03,NaT,連,1.342442e+13,8.701310e+11,9.722730e+11,4.712950e+11,127.9,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1956.57,40.6,1.751943e+13,7.114567e+12,6.162656e+12,0.63
5,2002-05-13,2002.03,NaT,連,1.510630e+13,1.123470e+12,1.113524e+12,6.158240e+11,170.7,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2059.94,36.8,1.988894e+13,7.325072e+12,6.527956e+12,0.79
6,2003-05-08,2003.03,NaT,U,1.550155e+13,1.271646e+12,1.226652e+12,7.509420e+11,211.3,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2063.43,35.3,2.015297e+13,7.121000e+12,7.219896e+12,1.02
7,2004-05-11,2004.03,NaT,U,1.729476e+13,1.666890e+12,1.765793e+12,1.162098e+12,342.9,45.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2456.08,37.1,2.204023e+13,8.178567e+12,8.326215e+12,0.92
8,2005-05-10,2005.03,NaT,U,1.855153e+13,1.672187e+12,1.754637e+12,1.171260e+12,355.4,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2767.67,37.2,2.433501e+13,9.044950e+12,9.332176e+12,0.95
9,2006-05-10,2006.03,NaT,U,2.103691e+13,1.878342e+12,2.087360e+12,1.372180e+12,421.8,90.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3257.63,36.8,2.873160e+13,1.056045e+13,1.045979e+13,0.98
10,2007-05-09,2007.03,NaT,U,2.394809e+13,2.238683e+12,2.382516e+12,1.644032e+12,512.1,120.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3701.17,36.3,3.257478e+13,1.183609e+13,1.176471e+13,1.02
11,2008-05-08,2008.03,NaT,U,2.628924e+13,2.270375e+12,2.437222e+12,1.717879e+12,540.6,140.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3768.97,36.6,3.245832e+13,1.186953e+13,1.240855e+13,1.03
12,2009-05-08,2009.03,NaT,U,2.052957e+13,-4.610110e+11,-5.603810e+11,-4.369370e+11,-139.1,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3208.41,34.6,2.906204e+13,1.006121e+13,1.153162e+13,1.25
13,2010-05-11,2010.03,NaT,U,1.895097e+13,1.475160e+11,2.914680e+11,2.094560e+11,66.8,45.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3303.49,34.1,3.034929e+13,1.035972e+13,1.156860e+13,1.21
14,2011-05-11,2011.03,NaT,U,1.899369e+13,4.682790e+11,5.632900e+11,4.081830e+11,130.2,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3295.08,34.7,2.981817e+13,1.033237e+13,1.183566e+13,1.20
15,2012-05-09,2013.03,NaT,U,NaN,NaN,NaN,NaN,NaN,NaN,2.200000e+13,1.000000e+12,1.160000e+12,7.600000e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2012-05-09,2012.03,NaT,U,1.858365e+13,3.556270e+11,4.328730e+11,2.835590e+11,90.2,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3331.51,34.4,3.065096e+13,1.055026e+13,1.191707e+13,1.14
17,2012-11-05,2013.03,NaT,U,NaN,NaN,NaN,NaN,NaN,NaN,2.130000e+13,1.050000e+12,1.180000e+12,7.800000e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2013-02-05,2013.03,2012-10-12,U,NaN,NaN,NaN,NaN,NaN,NaN,2.180000e+13,1.150000e+12,1.290000e+12,8.600000e+11,5.318752e+12,1.247570e+11,1.312490e+11,9.991400e+10,31.6,2.3,NaN,NaN,NaN,NaN,NaN,NaN
19,2013-05-08,2013.03,2013-01-03,U,2.206419e+13,1.320888e+12,1.403649e+12,9.621630e+11,303.8,90.0,NaN,NaN,NaN,NaN,5.837086e+12,5.023810e+11,4.778630e+11,3.139800e+11,99.1,8.6,3835.30,34.2,3.548332e+13,1.214804e+13,1.268921e+13,1.16
20,2013-05-08,2014.03,2013-01-03,U,NaN,NaN,NaN,NaN,NaN,NaN,2.350000e+13,1.800000e+12,1.890000e+12,1.370000e+12,5.837086e+12,5.023810e+11,4.778630e+11,3.139800e+11,99.1,8.6,NaN,NaN,NaN,NaN,NaN,NaN
21,2013-08-02,2014.03,2013-04-06,U,NaN,NaN,NaN,NaN,NaN,NaN,2.400000e+13,1.940000e+12,2.030000e+12,1.480000e+12,6.255319e+12,6.633830e+11,7.241630e+11,5.621940e+11,177.4,10.6,NaN,NaN,NaN,NaN,NaN,NaN
22,2013-11-06,2014.03,2013-07-09,U,NaN,NaN,NaN,NaN,NaN,NaN,2.500000e+13,2.200000e+12,2.290000e+12,1.670000e+12,6.282166e+12,5.920920e+11,6.193620e+11,4.384290e+11,138.4,9.4,NaN,NaN,NaN,NaN,NaN,NaN
23,2014-02-04,2014.03,2013-10-12,U,NaN,NaN,NaN,NaN,NaN,NaN,2.550000e+13,2.400000e+12,2.530000e+12,1.900000e+12,6.585044e+12,6.005090e+11,6.789560e+11,5.254640e+11,165.8,9.1,NaN,NaN,NaN,NaN,NaN,NaN
24,2014-05-08,2015.03,2014-01-03,U,NaN,NaN,NaN,NaN,NaN,NaN,2.570000e+13,2.300000e+12,2.390000e+12,1.780000e+12,6.569382e+12,4.361280e+11,4.185990e+11,2.970320e+11,93.7,6.6,NaN,NaN,NaN,NaN,NaN,NaN
25,2014-05-08,2014.03,2014-01-03,U,2.569191e+13,2.292112e+12,2.441080e+12,1.823119e+12,575.3,165.0,NaN,NaN,NaN,NaN,6.569382e+12,4.361280e+11,4.185990e+11,2.970320e+11,93.7,6.6,4564.74,34.9,4.143747e+13,1.446915e+13,1.411630e+13,1.13
26,2014-08-05,NaN,2014-04-06,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.390688e+12,6.927280e+11,7.718260e+11,5.877740e+11,185.4,10.8,NaN,NaN,NaN,NaN,NaN,NaN
27,2014-11-05,2015.03,2014-07-09,U,NaN,NaN,NaN,NaN,NaN,NaN,2.650000e+13,2.500000e+12,2.700000e+12,2.000000e+12,6.554909e+12,6.592180e+11,7.373480e+11,5.390620e+11,170.3,10.1,NaN,NaN,NaN,NaN,NaN,NaN
28,2015-02-04,2015.03,2014-10-12,U,NaN,NaN,NaN,NaN,NaN,NaN,2.700000e+13,2.700000e+12,2.920000e+12,2.130000e+12,7.170017e+12,7.628800e+11,8.464610e+11,6.000270e+11,189.7,10.6,NaN,NaN,NaN,NaN,NaN,NaN
29,2015-05-08,2015.03,2015-01-03,U,2.723452e+13,2.750564e+12,2.892828e+12,2.173338e+12,688.0,200.0,NaN,NaN,NaN,NaN,7.118907e+12,6.357380e+11,5.371930e+11,4.464750e+11,141.3,8.9,5334.96,35.2,4.772983e+13,1.678813e+13,1.559195e+13,1.13
30,2015-05-08,2016.03,2015-01-03,U,NaN,NaN,NaN,NaN,NaN,NaN,2.750000e+13,2.800000e+12,2.970000e+12,2.250000e+12,7.118907e+12,6.357380e+11,5.371930e+11,4.464750e+11,141.3,8.9,NaN,NaN,NaN,NaN,NaN,NaN
31,2015-08-04,2016.03,2015-04-06,U,NaN,NaN,NaN,NaN,NaN,NaN,2.780000e+13,2.800000e+12,2.980000e+12,2.250000e+12,6.987648e+12,7.560010e+11,8.452590e+11,6.463940e+11,205.4,10.8,NaN,NaN,NaN,NaN,NaN,NaN
32,2015-11-05,2016.03,2015-07-09,U,NaN,NaN,NaN,NaN,NaN,NaN,2.750000e+13,2.800000e+12,2.980000e+12,2.250000e+12,7.103840e+12,8.274040e+11,8.298920e+11,6.117180e+11,194.2,11.6,NaN,NaN,NaN,NaN,NaN,NaN
33,2016-02-05,2016.03,2015-10-12,U,NaN,NaN,NaN,NaN,NaN,NaN,2.750000e+13,2.800000e+12,2.980000e+12,2.270000e+12,7.339882e+12,7.222660e+11,7.777610e+11,6.279650e+11,200.2,9.8,NaN,NaN,NaN,NaN,NaN,NaN
34,2016-05-11,2016.03,2016-01-03,U,2.840312e+13,2.853971e+12,2.983381e+12,2.312694e+12,741.4,210.0,NaN,NaN,NaN,NaN,6.971748e+12,5.483000e+11,5.304690e+11,4.266170e+11,136.8,7.9,5513.08,35.3,4.742760e+13,1.674694e+13,1.679424e+13,1.09
35,2016-05-11,2017.03,2016-01-03,U,NaN,NaN,NaN,NaN,NaN,NaN,2.650000e+13,1.700000e+12,1.900000e+12,1.500000e+12,6.971748e+12,5.483000e+11,5.304690e+11,4.266170e+11,136.8,7.9,NaN,NaN,NaN,NaN,NaN,NaN
36,2016-08-04,2017.03,2016-04-06,U,NaN,NaN,NaN,NaN,NaN,NaN,2.600000e+13,1.600000e+12,1.780000e+12,1.450000e+12,6.589113e+12,6.422300e+11,6.770560e+11,5.524650e+11,181.1,9.7,NaN,NaN,NaN,NaN,NaN,NaN
37,2016-11-08,2017.03,2016-07-09,U,NaN,NaN,NaN,NaN,NaN,NaN,2.600000e+13,1.700000e+12,1.900000e+12,1.550000e+12,6.481420e+12,4.746350e+11,4.994780e+11,3.937080e+11,129.4,7.3,NaN,NaN,NaN,NaN,NaN,NaN
38,2017-02-06,2017.03,2016-10-12,U,NaN,NaN,NaN,NaN,NaN,NaN,2.650000e+13,1.850000e+12,2.070000e+12,1.700000e+12,7.084187e+12,4.385860e+11,5.875380e+11,4.865310e+11,160.4,6.2,NaN,NaN,NaN,NaN,NaN,NaN
39,2017-05-10,2018.03,2017-01-03,U,NaN,NaN,NaN,NaN,NaN,NaN,2.750000e+13,1.600000e+12,1.800000e+12,1.500000e+12,7.442473e+12,4.389210e+11,4.297530e+11,3.984050e+11,131.7,5.9,NaN,NaN,NaN,NaN,NaN,NaN
40,2017-05-10,2017.03,2017-01-03,U,2.759719e+13,1.994372e+12,2.193825e+12,1.831109e+12,605.5,210.0,NaN,NaN,NaN,NaN,7.442473e+12,4.389210e+11,4.297530e+11,3.984050e+11,131.7,5.9,5887.88,35.9,4.875019e+13,1.751481e+13,1.760107e+13,1.09
41,2017-08-04,2018.03,2017-04-06,U,NaN,NaN,NaN,NaN,NaN,NaN,2.850000e+13,1.850000e+12,2.050000e+12,1.750000e+12,7.047606e+12,5.742940e+11,6.793480e+11,6.130560e+11,205.1,8.1,NaN,NaN,NaN,NaN,NaN,NaN
42,2017-11-07,2018.03,2017-07-09,U,NaN,NaN,NaN,NaN,NaN,NaN,2.850000e+13,2.000000e+12,2.250000e+12,1.950000e+12,7.143601e+12,5.222470e+11,5.728250e+11,4.582720e+11,153.8,7.3,NaN,NaN,NaN,NaN,NaN,NaN

# 不要テーブル

## tables[7] 銘柄概要

In [8]:
tables[7]

Empty DataFrame
Columns: [7203, トヨタ自動車, 東証１, 15:00]
Index: []

##  tables[9] 銘柄概要

In [11]:
tables[9]

       業績：
0    輸送用機器
1  単位 100株

## tables [10] ＰＥＲ ＰＢＲ 利回り 信用倍率 (データ取得日時点?)

In [12]:
tables[10]

     ＰＥＲ    ＰＢＲ 利回り   信用倍率
0  10.6倍  1.13倍  －％  1.53倍

## tables[23] 過去最高 【実績】

不要かな？
百万単位

In [33]:
tables[23]

  Unnamed: 0          売上高         営業益         経常益         最終益      １株益
0       過去最高  28403118.00  2853971.00  2983381.00  2312694.00   741.40
1        決算期      2016.03     2016.03     2016.03     2016.03  2016.03

## tables[24] 下期業績 (過去3年 + 今年予想 + 前年同期比)

不要かな？
ちょっと株プロと見比べてみたいけどめんどくさい
百万単位

In [34]:
tables[24]

,決算期,売上高,営業益,経常益,最終益,１株益,１株配,発表日
0,U 14.10-03,14288924.0,1398618.0,1383654.0,1046502.0,331.3,125,15/05/08
1,U 15.10-03,14311630.0,1270566.0,1308230.0,1054582.0,338.1,110,16/05/11
2,U 16.10-03,14526660.0,877507.0,1017291.0,884936.0,292.6,110,17/05/10
3,U 予 17.10-03,14308793.0,903459.0,997827.0,878672.0,298.6,－,17/11/07
4,前年同期比,-1.5,3.0,-1.9,-0.7,2.1,NaN,(%)

In [50]:
tables[24].columns

Index(['決算期', '売上高', '営業益', '経常益', '最終益', '１株益', '１株配', '発表日'], dtype='object')

## tables[25] 第２四半期累計決算【実績】 (過去3年 + 前年同期比)

不要かな？
ちょっと株プロと見比べてみよう → 同じみたい
対通期進捗率って経常益の最終的な通期実績に対して? 今年度分は予想に対して？
百万単位

In [35]:
tables[25]

,決算期,売上高,営業益,経常益,最終益,１株益,対通期進捗率,発表日
0,U 15.04-09,14091488.0,1583405.0,1675151.0,1258112.0,399.4,56.1,15/11/05
1,U 16.04-09,13070533.0,1116865.0,1176534.0,946173.0,311.1,53.6,16/11/08
2,U 17.04-09,14191207.0,1096541.0,1252173.0,1071328.0,359.6,55.7,17/11/07
3,前年同期比,8.6,-1.8,6.4,13.2,15.6,NaN,(%)

In [278]:
kabupro.ix[(kabupro['証券コード'] == code) & (kabupro['会計基準'] == '米国基準') & (kabupro['決算期間'] == '第2四半期'), 
           ['連結個別', '期首', '売上高', '営業利益', '経常利益', '純利益', '一株当り純利益', '情報公開日 (更新日)']].tail(3)

,連結個別,期首,売上高,営業利益,経常利益,純利益,一株当り純利益,情報公開日 (更新日)
70501,連結,2015-04-01,1.409149e+13,1.583405e+12,1.675151e+12,1.258112e+12,399.39,2016-11-08
70505,連結,2016-04-01,1.307053e+13,1.116865e+12,1.176534e+12,9.461730e+11,311.08,2017-11-07
70509,連結,2017-04-01,1.419121e+13,1.096541e+12,1.252173e+12,1.071328e+12,359.55,2017-11-07

In [294]:
kabupro.ix[(kabupro['証券コード'] == code)& (kabupro['会計基準'] == '米国基準') & (kabupro['決算期間'].isin(['第2四半期', '通期'])), # 
           ['連結個別', '期首', '決算期間', '売上高', '営業利益', '経常利益', '純利益', '一株当り純利益', '情報公開日 (更新日)']].tail(5)

,連結個別,期首,決算期間,売上高,営業利益,経常利益,純利益,一株当り純利益,情報公開日 (更新日)
70501,連結,2015-04-01,第2四半期,1.409149e+13,1.583405e+12,1.675151e+12,1.258112e+12,399.39,2016-11-08
70503,連結,2015-04-01,通期,2.840312e+13,2.853971e+12,2.983381e+12,2.312694e+12,741.36,2017-05-10
70505,連結,2016-04-01,第2四半期,1.307053e+13,1.116865e+12,1.176534e+12,9.461730e+11,311.08,2017-11-07
70507,連結,2016-04-01,通期,2.759719e+13,1.994372e+12,2.193825e+12,1.831109e+12,605.47,2017-05-10
70509,連結,2017-04-01,第2四半期,1.419121e+13,1.096541e+12,1.252173e+12,1.071328e+12,359.55,2017-11-07

In [295]:
tables[12].tail(1)

,会計基準,決算期,売上高,営業益,経常益,最終益,修正日
25,U,2018.03,2.850000e+13,2.000000e+12,2.250000e+12,1.950000e+12,2017-11-07

In [42]:
# 比較参照用
kabupro.columns

Index(['証券コード', '企業名', '会計基準', '連結個別', '決算期', '決算期間', '期首', '期末',
       '名寄前勘定科目 (売上高欄)', '売上高', '営業利益', '経常利益', '純利益', '一株当り純利益',
       '希薄化後一株当り純利益', '純資産又は株主資本', '総資産', '一株当り純資産', '営業キャッシュフロー',
       '投資キャッシュフロー', '財務キャッシュフロー', '情報公開日 (更新日)'],
      dtype='object')

## おしまい

In [38]:
tables[29]

IndexError: list index out of range