# Import

In [1]:
import numpy as np
import pandas as pd
import pandas.tseries.offsets as offsets
import datetime as dt
import time
import importlib
import logging
from retry import retry
from sqlalchemy import create_engine
from sqlalchemy.types import Date, Integer, Text

import stock

In [ ]:
importlib.reload(stock)

# 超大事。浅いコピーと深いコピー

## 浅いコピー。コピーというか参照なので変更内容は両方に反映される

In [ ]:
df = tables[11]

## 深いコピー。独立したコピーを作りたい場合は.copy()メソッドで

In [ ]:
df = tables[11].copy()

#

In [ ]:
# all_stock_tableにあってdomestic_stock_tableにない'code'を持つ行を抽出
all_stock_table[~all_stock_table['code'].isin(domestic_stock_table['code'])]

In [ ]:
# marketの種別で集計
all_stock_table.groupby('market').count()

In [ ]:
# 指定した値をNaNに置換、NaNはfloat型
all_stock_table.replace('-', np.NaN)

In [ ]:
 # 列単位で個別に名称を変更する場合
all_stock_table = all_stock_table.rename(columns={'市場・商品区分': 'market'})

In [ ]:
# marketの値を指定して選択
len(all_stock_table.query("market == '市場第一部（内国株）' | market == '市場第二部（内国株）'"))

In [29]:
# 'Date'列をインデックスに指定してCSVの読み込み、インデックスをdatetime型に変換
df_quote = pd.read_csv('/Users/Really/Stockyard/_csv/t_1758.csv', index_col='Date')
df_quote.index = pd.to_datetime(df_quote.index)
df_quote

            Open  High   Low  Close  Volume  AdjClose
Date
2000-01-04   575   575   575    575    1000       575
2000-01-06   565   575   565    565    3000       565
2000-01-11   565   570   565    565    5000       565
2000-01-12   565   570   565    570    2000       570
2000-01-17   570   570   570    570    2000       570
2000-01-19   580   585   580    580    4000       580
2000-01-20   585   585   585    585    1000       585
2000-01-21   575   575   575    575    1000       575
2000-01-25   575   575   575    575    1000       575
2000-01-26   560   560   560    560    1000       560
2000-01-27   555   555   550    550    3000       550
2000-01-31   546   546   546    546    1000       546
2000-02-02   540   540   540    540    3000       540
2000-02-04   530   530   530    530    1000       530
2000-02-10   530   530   530    530    5000       530
2000-02-15   520   520   520    520    3000       520
2000-02-17   510   510   510    510    1000       510
2000-02-22   500   500   500    500    1000       500
2000-02-23   495   498   490    490    5000       490
2000-02-24   485   485   480    480    3000       480
2000-02-25   485   485   485    485    2000       485
2000-02-28   470   470   470    470    2000       470
2000-02-29   475   475   460    460    6000       460
2000-03-01   465   465   465    465    2000       465
2000-03-06   465   465   455    455    2000       455
2000-03-10   465   465   465    465    3000       465
2000-03-14   456   456   456    456    1000       456
2000-03-17   465   465   465    465    2000       465
2000-03-24   460   460   460    460    1000       460
2000-03-27   465   600   460    580   24000       580
...          ...   ...   ...    ...     ...       ...
2017-08-24  1035  1035  1035   1035    1000      1035
2017-08-29  1045  1045  1045   1045    1000      1045
2017-08-31  1050  1050  1045   1050    4000      1050
2017-09-05  1045  1050   970   1050    9000      1050
2017-09-06  1051  1059  1040   1059   15000      1059
2017-09-07  1043  1070  1038   1070   11000      1070
2017-09-11  1070  1070  1070   1070    1000      1070
2017-09-12  1079  1079  1079   1079    1000      1079
2017-09-13  1089  1089  1089   1089    1000      1089
2017-09-14  1088  1088  1020   1076    8000      1076
2017-09-20  1069  1069  1069   1069    1000      1069
2017-09-21  1067  1067  1067   1067    1000      1067
2017-09-22  1031  1062  1031   1062    5000      1062
2017-09-25  1062  1062  1062   1062    1000      1062
2017-09-26  1034  1034  1034   1034    3000      1034
2017-09-27  1049  1049  1049   1049    2000      1049
2017-09-29  1019  1019   981    996    6000       996
2017-10-02  1011  1011   981    995    7000       995
2017-10-03   980  1039   980   1039    9000      1039
2017-10-06  1015  1034   992   1034   17000      1034
2017-10-10  1037  1037  1037   1037    1000      1037
2017-10-17  1037  1037  1037   1037    3000      1037
2017-10-18  1014  1033  1013   1033    6000      1033
2017-10-19  1032  1032  1032   1032    2000      1032
2017-10-20  1011  1019  1011   1019    2000      1019
2017-10-23  1020  1049  1019   1043    7000      1043
2017-10-25  1049  1098  1049   1098    5000      1098
2017-10-30  1049  1078  1048   1078    6000      1078
2017-10-31  1078  1096  1078   1096    3000      1096
2017-11-01  1078  1078  1048   1077    7000      1077

[3166 rows x 6 columns]

In [30]:
df_quote.dtypes

Open        int64
High        int64
Low         int64
Close       int64
Volume      int64
AdjClose    int64
dtype: object

In [31]:
df_quote.index

DatetimeIndex(['2000-01-04', '2000-01-06', '2000-01-11', '2000-01-12',
               '2000-01-17', '2000-01-19', '2000-01-20', '2000-01-21',
               '2000-01-25', '2000-01-26',
               ...
               '2017-10-10', '2017-10-17', '2017-10-18', '2017-10-19',
               '2017-10-20', '2017-10-23', '2017-10-25', '2017-10-30',
               '2017-10-31', '2017-11-01'],
              dtype='datetime64[ns]', name='Date', length=3166, freq=None)

In [27]:
# datetime型インデックスの作成例
dtidx = pd.date_range('2000-01-01', '2017-12-01', freq='B') # freq='B'はBusiness Day
dtidx

DatetimeIndex(['2000-01-03', '2000-01-04', '2000-01-05', '2000-01-06',
               '2000-01-07', '2000-01-10', '2000-01-11', '2000-01-12',
               '2000-01-13', '2000-01-14',
               ...
               '2017-11-20', '2017-11-21', '2017-11-22', '2017-11-23',
               '2017-11-24', '2017-11-27', '2017-11-28', '2017-11-29',
               '2017-11-30', '2017-12-01'],
              dtype='datetime64[ns]', length=4675, freq='B')

In [28]:
# 他のdatetime型インデックスにデータをあてはめる
quote_bd = pd.DataFrame(df_quote, index=pd.date_range(df_quote.index[0], df_quote.index[-1], freq='B'))
quote_bd

              Open    High     Low   Close   Volume  AdjClose
2000-01-04   575.0   575.0   575.0   575.0   1000.0     575.0
2000-01-05     NaN     NaN     NaN     NaN      NaN       NaN
2000-01-06   565.0   575.0   565.0   565.0   3000.0     565.0
2000-01-07     NaN     NaN     NaN     NaN      NaN       NaN
2000-01-10     NaN     NaN     NaN     NaN      NaN       NaN
2000-01-11   565.0   570.0   565.0   565.0   5000.0     565.0
2000-01-12   565.0   570.0   565.0   570.0   2000.0     570.0
2000-01-13     NaN     NaN     NaN     NaN      NaN       NaN
2000-01-14     NaN     NaN     NaN     NaN      NaN       NaN
2000-01-17   570.0   570.0   570.0   570.0   2000.0     570.0
2000-01-18     NaN     NaN     NaN     NaN      NaN       NaN
2000-01-19   580.0   585.0   580.0   580.0   4000.0     580.0
2000-01-20   585.0   585.0   585.0   585.0   1000.0     585.0
2000-01-21   575.0   575.0   575.0   575.0   1000.0     575.0
2000-01-24     NaN     NaN     NaN     NaN      NaN       NaN
2000-01-25   575.0   575.0   575.0   575.0   1000.0     575.0
2000-01-26   560.0   560.0   560.0   560.0   1000.0     560.0
2000-01-27   555.0   555.0   550.0   550.0   3000.0     550.0
2000-01-28     NaN     NaN     NaN     NaN      NaN       NaN
2000-01-31   546.0   546.0   546.0   546.0   1000.0     546.0
2000-02-01     NaN     NaN     NaN     NaN      NaN       NaN
2000-02-02   540.0   540.0   540.0   540.0   3000.0     540.0
2000-02-03     NaN     NaN     NaN     NaN      NaN       NaN
2000-02-04   530.0   530.0   530.0   530.0   1000.0     530.0
2000-02-07     NaN     NaN     NaN     NaN      NaN       NaN
2000-02-08     NaN     NaN     NaN     NaN      NaN       NaN
2000-02-09     NaN     NaN     NaN     NaN      NaN       NaN
2000-02-10   530.0   530.0   530.0   530.0   5000.0     530.0
2000-02-11     NaN     NaN     NaN     NaN      NaN       NaN
2000-02-14     NaN     NaN     NaN     NaN      NaN       NaN
...            ...     ...     ...     ...      ...       ...
2017-09-21  1067.0  1067.0  1067.0  1067.0   1000.0    1067.0
2017-09-22  1031.0  1062.0  1031.0  1062.0   5000.0    1062.0
2017-09-25  1062.0  1062.0  1062.0  1062.0   1000.0    1062.0
2017-09-26  1034.0  1034.0  1034.0  1034.0   3000.0    1034.0
2017-09-27  1049.0  1049.0  1049.0  1049.0   2000.0    1049.0
2017-09-28     NaN     NaN     NaN     NaN      NaN       NaN
2017-09-29  1019.0  1019.0   981.0   996.0   6000.0     996.0
2017-10-02  1011.0  1011.0   981.0   995.0   7000.0     995.0
2017-10-03   980.0  1039.0   980.0  1039.0   9000.0    1039.0
2017-10-04     NaN     NaN     NaN     NaN      NaN       NaN
2017-10-05     NaN     NaN     NaN     NaN      NaN       NaN
2017-10-06  1015.0  1034.0   992.0  1034.0  17000.0    1034.0
2017-10-09     NaN     NaN     NaN     NaN      NaN       NaN
2017-10-10  1037.0  1037.0  1037.0  1037.0   1000.0    1037.0
2017-10-11     NaN     NaN     NaN     NaN      NaN       NaN
2017-10-12     NaN     NaN     NaN     NaN      NaN       NaN
2017-10-13     NaN     NaN     NaN     NaN      NaN       NaN
2017-10-16     NaN     NaN     NaN     NaN      NaN       NaN
2017-10-17  1037.0  1037.0  1037.0  1037.0   3000.0    1037.0
2017-10-18  1014.0  1033.0  1013.0  1033.0   6000.0    1033.0
2017-10-19  1032.0  1032.0  1032.0  1032.0   2000.0    1032.0
2017-10-20  1011.0  1019.0  1011.0  1019.0   2000.0    1019.0
2017-10-23  1020.0  1049.0  1019.0  1043.0   7000.0    1043.0
2017-10-24     NaN     NaN     NaN     NaN      NaN       NaN
2017-10-25  1049.0  1098.0  1049.0  1098.0   5000.0    1098.0
2017-10-26     NaN     NaN     NaN     NaN      NaN       NaN
2017-10-27     NaN     NaN     NaN     NaN      NaN       NaN
2017-10-30  1049.0  1078.0  1048.0  1078.0   6000.0    1078.0
2017-10-31  1078.0  1096.0  1078.0  1096.0   3000.0    1096.0
2017-11-01  1078.0  1078.0  1048.0  1077.0   7000.0    1077.0

[4652 rows x 6 columns]

In [ ]:
df['発表日'].apply(lambda x: parse(x, yearfirst=True).date())

In [ ]:
df['決算期'].apply(lambda x: datetime.strptime(x, '%Y.%m').date())

In [ ]:
tables[11].isnull()

In [ ]:
tables[11].isnull().any()

In [ ]:
# null が存在する行を取り除いて価格データとする 参考 https://qiita.com/u1and0/items/fd2780813b690a40c197
result = tmp_price[~tmp_price.isnull().any(axis=1)].astype(float).astype(int) # この場合、"~"は "== False" とするのと同じこと

In [ ]:
# 価格と価格以外の情報を分離
tmp_info = tmp_price[tmp_price.isnull().any(axis=1)].reset_index()

In [ ]:
# 全ての列項目がnullの行を排除
tables[11][~tables[11].isnull().all(axis=1)]

In [ ]:
# リスト内包表記。pandasではなくリストの話
csv_table = [i for i in csv_table if re.search(r't_\d*.csv', x)]

In [ ]:
# str アクセサ
[tables[11]['決算期'].str.contains('前期比')]

In [ ]:
# 複数条件による判定
# https://qiita.com/HirofumiYashima/items/fa76119d29bcb6e0bae7
# この場合、"|"ではなく"or"を使うとなぜかうまくいかない
tables[11][~((tables[11]['決算期'].str.contains('予')) | (tables[11]['決算期'].str.contains('前期比')))]

In [ ]:
# 行の要素を分割、元の列と新しく追加する列にそれぞれ代入
df[['会計基準', '決算期']] = pd.DataFrame(list(df['決算期'].str.split(' ')))

In [ ]:
# インデックスを振り直す
tables[11].reset_index(drop=True)

In [ ]:
# 列の並べ替えは列名のリストで
df = df[['会計基準', '決算期', '売上高', '営業益', '経常益', '最終益', '１株益', '１株配', '発表日']]

In [ ]:
# 列ごとに関数適用
# applyは遅いという話もあるので要検討。 http://sinhrks.hatenablog.com/entry/2015/07/11/223124
df[['売上高', '営業益', '経常益', '最終益']] = df[['売上高', '営業益', '経常益', '最終益']].apply(lambda x: x * 1000000)

# MySQLに接続

In [ ]:
sql = stock.sql()

In [ ]:
help(sql)

# MySQLに接続 (クラス不使用)

In [ ]:
db_settings = {
    "host": 'localhost',
    "database": 'StockPrice_Yahoo_1',
    "user": 'user',
    "password": 'password',
    "port":'3306'
}
engine = create_engine('mysql://{user}:{password}@{host}:{port}/{database}'.format(**db_settings))

# - Memo - MySQL クエリ

In [ ]:
# mysql>
CREATE DATABASE StockPrice_Yahoo_1 DEFAULT CHARACTER SET utf8mb4;
GRANT ALL ON StockPrice_Yahoo_1.* TO user@localhost IDENTIFIED BY 'password';
show databases;
use StockPrice_Yahoo_1;
show tables;
drop tables
drop database
select*from
show columns from # テーブルの中に含まれるカラムの情報を取得する
select*from t_1382 where Date between '2013-12-01' and '2013-12-31';
select * from t_8848 order by Date desc limit 5; # 最後の5行